Repository simple-icons/simple-icons, pull requests merged in 2019-11, with the labels that each got.

#1846 Add Hitachi icon
  _data/simple-icons.json
  icons/hitachi.svg
Labels: new icon

#1868 Add Yamaha Motor Corporation icon (#1553)
  _data/simple-icons.json
  icons/yamahamotorcorporation.svg
Labels: changes requested, new icon

#1869 Add Yamaha Corporation icon
  _data/simple-icons.json
  icons/yamahacorporation.svg
Labels: changes requested, new icon

#1856 Add arXiv icon
  _data/simple-icons.json
  icons/arxiv.svg
Labels: new icon

#1788 Added Eyeem Icon
  _data/simple-icons.json
  icons/eyeem.svg
Labels: changes requested, new icon

#1875 Adds Postwoman icon
  _data/simple-icons.json
  icons/postwoman.svg
Labels: new icon

#1877 Add Veeam icon
  _data/simple-icons.json
  icons/veeam.svg
Labels: new icon

#1878 Add SonicWall icon
  _data/simple-icons.json
  icons/sonicwall.svg
Labels: new icon

#1876 Add Xfce icon (#1404)
  _data/simple-icons.json
  icons/xfce.svg
Labels: new icon

#1873 Publish 35 new icons
  _data/simple-icons.json
  icons/abstract.svg
  icons/apachespark.svg
  icons/arxiv.svg
  icons/c.svg
  icons/coveralls.svg
  icons/emlakjet.svg
  icons/eyeem.svg
  icons/googleads.svg
  icons/hitachi.svg
  icons/hurriyetemlak.svg
  icons/indeed.svg
  icons/keras.svg
  icons/mendeley.svg
  icons/microsoftteams.svg
  icons/mojang.svg
  icons/mozillafirefox.svg
  icons/notion.svg
  icons/overleaf.svg
  icons/paloaltosoftware.svg
  icons/playerfm.svg
  icons/postwoman.svg
  icons/roundcube.svg
  icons/sahibinden.svg
  icons/saltstack.svg
  icons/semaphoreci.svg
  icons/siemens.svg
  icons/sonicwall.svg
  icons/spectrum.svg
  icons/spring.svg
  icons/tableau.svg
  icons/toshiba.svg
  icons/veeam.svg
  icons/xfce.svg
  icons/yamahacorporation.svg
  icons/yamahamotorcorporation.svg
  icons/zingat.svg
  icons/zoom.svg
  package-lock.json
  package.json
Labels: release

#1829 Add Bitrise icon
  _data/simple-icons.json
  icons/bitrise.svg
Labels: new icon

#1884 Update Kahn Academy Icon (#1882)
  _data/simple-icons.json
  icons/khanacademy.svg
Labels: new icon

#1807 Add C# (#625)
  _data/simple-icons.json
  icons/csharp.svg
Labels: new icon

#1897 Add Mapbox icon (simple-icons#1888)
  _data/simple-icons.json
  icons/mapbox.svg
Labels: new icon

#1892 Add Monster icon
  _data/simple-icons.json
  icons/monster.svg
Labels: new icon

#1887 Add Pastebin icon (#1557)
  _data/simple-icons.json
  icons/pastebin.svg
Labels: new icon

#1899 Add MicroStrategy icon
  _data/simple-icons.json
  icons/microstrategy.svg
Labels: new icon

#1906 Add strongSwan icon (#1397)
  _data/simple-icons.json
  icons/strongswan.svg
Labels: new icon

#1886 added ABB RobotStudio and Asciidoctor
  _data/simple-icons.json
  icons/abbrobotstudio.svg
  icons/asciidoctor.svg
Labels: new icon

#1898 Add Source Engine icon (#1397)
  _data/simple-icons.json
  icons/sourceengine.svg
Labels: new icon

#1907 Add Valve icon (#1397)
  _data/simple-icons.json
  icons/valve.svg
Labels: new icon

#1908 Add Steamworks icon (#1397)
  _data/simple-icons.json
  icons/steamworks.svg
Labels: new icon

#1885 Add Apache NetBeans (#1563)
  _data/simple-icons.json
  icons/apachenetbeanside.svg
Labels: awaiting reply, new icon

#1924 Add Beats by Dre icon
  _data/simple-icons.json
  icons/beatsbydre.svg
Labels: new icon

#1925 Add MDN Web Docs icon
  _data/simple-icons.json
  icons/mdnwebdocs.svg
Labels: new icon

#1929 Add Algolia icon
  _data/simple-icons.json
  icons/algolia.svg
Labels: new icon

#1921 Add CodeChef icon (#1370)
  _data/simple-icons.json
  icons/codechef.svg
Labels: new icon

#1917 Add Minds icon (#802)
  _data/simple-icons.json
  icons/minds.svg
Labels: new icon

#1922 Add duolingo icon (#1385)
  _data/simple-icons.json
  icons/duolingo.svg
Labels: new icon

#1926 Add ManageIQ icon (#1409)
  _data/simple-icons.json
  icons/manageiq.svg
Labels: new icon

#1941 Add ReactOS icon (#1160)
  _data/simple-icons.json
  icons/reactos.svg
Labels: new icon

#1949 Add IPFS icon (#1872)
  _data/simple-icons.json
  icons/ipfs.svg
Labels: new icon

#1901 Add link to Drupal module to README.md
  README.md
Labels: meta

#1910 Add PureScript
  _data/simple-icons.json
  icons/purescript.svg
Labels: changes requested, new icon

#1954 Add PyUp icon (#1814)
  _data/simple-icons.json
  icons/pyup.svg
Labels: new icon

#1964 Add Prometheus icon (#1911)
  _data/simple-icons.json
  icons/prometheus.svg
Labels: new icon

#1962 Add Timescale icon (#1911)
  _data/simple-icons.json
  icons/timescale.svg
Labels: new icon

#1966 Add awesomeWM icon (#1938)
  _data/simple-icons.json
  icons/awesomewm.svg
Labels: new icon

#1960 Add Anchor icon (#1863)
  _data/simple-icons.json
  icons/anchor.svg
Labels: new icon

#1947 Add Google Search Console icon (#1562)
  _data/simple-icons.json
  icons/googlesearchconsole.svg
Labels: new icon

#1965 Add InfluxDB icon (#1911)
  _data/simple-icons.json
  icons/influxdb.svg
Labels: new icon

#1976 Add Apache OpenOffice (#1963)
  _data/simple-icons.json
  icons/apacheopenoffice.svg
Labels: new icon

#1979 Update Vue.js (#1972)
  icons/vue-dot-js.svg
Labels: icon outdated

#1987 Publish 35 new icons and 2 updated icons
  README.md
  _data/simple-icons.json
  icons/abbrobotstudio.svg
  icons/algolia.svg
  icons/alliedmodders.svg
  icons/anchor.svg
  icons/apachenetbeanside.svg
  icons/apacheopenoffice.svg
  icons/asciidoctor.svg
  icons/awesomewm.svg
  icons/beatsbydre.svg
  icons/bitrise.svg
  icons/codechef.svg
  icons/csharp.svg
  icons/duolingo.svg
  icons/googlesearchconsole.svg
  icons/houzz.svg
  icons/influxdb.svg
  icons/ipfs.svg
  icons/khanacademy.svg
  icons/manageiq.svg
  icons/mapbox.svg
  icons/mdnwebdocs.svg
  icons/microstrategy.svg
  icons/minds.svg
  icons/monster.svg
  icons/pastebin.svg
  icons/prometheus.svg
  icons/purescript.svg
  icons/pyup.svg
  icons/qemu.svg
  icons/reactos.svg
  icons/sourceengine.svg
  icons/steamworks.svg
  icons/strongswan.svg
  icons/timescale.svg
  icons/valve.svg
  icons/vue-dot-js.svg
  icons/zhihu.svg
  package-lock.json
  package.json
Labels: release

#1942 Add EPEL icon (#1851)
  _data/simple-icons.json
  icons/epel.svg
Labels: changes requested, new icon

#1978 Add Fiverr (#1968)
  _data/simple-icons.json
  icons/fiverr.svg
Labels: new icon

#1980 Add ResearchGate (#1912)
  _data/simple-icons.json
  icons/researchgate.svg
Labels: new icon

#1983 Add Formstack (#1932)
  _data/simple-icons.json
  icons/formstack.svg
Labels: new icon

#1943 Add SonarQube icon (#1453)
  _data/simple-icons.json
  icons/sonarqube.svg
Labels: changes requested, new icon

#1944 Add SonarCloud icon (#1453)
  _data/simple-icons.json
  icons/sonarcloud.svg
Labels: changes requested, new icon

#1945 Add SonarSource icon (#1453)
  _data/simple-icons.json
  icons/sonarsource.svg
Labels: changes requested, new icon

#1958 Add LLVM icon (#1936)
  _data/simple-icons.json
  icons/llvm.svg
Labels: new icon

#1975 Update Sublime Text (#1894.)
  _data/simple-icons.json
  icons/sublimetext.svg
Labels: icon outdated

#1981 Add Linode (#1904)
  _data/simple-icons.json
  icons/linode.svg
Labels: new icon

#1990 Add W3C icon (#1989)
  _data/simple-icons.json
  icons/w3c.svg
Labels: new icon

#1977 Add Internet Archive (#1967)
  _data/simple-icons.json
  icons/internetarchive.svg
Labels: new icon

#1970 Add styled-components icon (#1565)
  _data/simple-icons.json
  icons/styled-components.svg
Labels: new icon

#1948 Add Invoice Ninja icon (#1612)
  _data/simple-icons.json
  icons/invoiceninja.svg
Labels: new icon

#1969 Add PrestaShop icon (#1407)
  _data/simple-icons.json
  icons/prestashop.svg
Labels: new icon

#1900 Add BMC Software icon
  _data/simple-icons.json
  icons/bmcsoftware.svg
Labels: new icon

#2008 Add Trustpilot icon (#2004)
  _data/simple-icons.json
  icons/trustpilot.svg
Labels: new icon

#2011 Add Loop (#1998)
  _data/simple-icons.json
  icons/loop.svg
Labels: new icon

#1918 Add Smugmug icon
  _data/simple-icons.json
  icons/smugmug.svg
Labels: new icon

#1927 Add Blackberry icon
  _data/simple-icons.json
  icons/blackberry.svg
Labels: changes requested, new icon

#1988 Add Imgur (#1986)
  _data/simple-icons.json
  icons/imgur.svg
Labels: new icon

#2006 Add Square icon
  _data/simple-icons.json
  icons/square.svg
Labels: new icon

#2009 Add OBS Studio icon (#2000)
  _data/simple-icons.json
  icons/obsstudio.svg
Labels: new icon
