Repository simple-icons/simple-icons, pull requests merged in 2019-09, with the labels that each got.

#1608 Add RStudio icon
  _data/simple-icons.json
  icons/rstudio.svg
Labels: new icon

#1607 Add Open Source Initiative Icon
  _data/simple-icons.json
  icons/opensourceinitiative.svg
Labels: new icon

#1610 Laravel Nova Icon Added
  _data/simple-icons.json
  icons/laravelnova.svg
Labels: new icon

#1615 Add icons
  _data/simple-icons.json
  icons/go.svg
  icons/opencollective.svg
  icons/storybook.svg
Labels: new icon

#1617 Release 5 new icons, 1 updated icon
  _data/simple-icons.json
  icons/go.svg
  icons/laravelnova.svg
  icons/opencollective.svg
  icons/opensourceinitiative.svg
  icons/rstudio.svg
  icons/storybook.svg
  package-lock.json
  package.json
Labels: release

#1618 Add 3DS and Zulip; Update vk
  _data/simple-icons.json
  icons/nintendo3ds.svg
  icons/vk.svg
  icons/zulip.svg
Labels: new icon

#1621 Add Expo icon
  _data/simple-icons.json
  icons/expo.svg
Labels: new icon

#1630 Add Zalando and Azure Artifacts
  _data/simple-icons.json
  icons/azureartifacts.svg
  icons/zalando.svg
Labels: new icon

#1632 Add GNU Privacy Guard
  _data/simple-icons.json
  icons/gnuprivacyguard.svg
Labels: new icon

#1634 Release 9 new icons, 1 updated icon
  _data/simple-icons.json
  icons/azureartifacts.svg
  icons/codefactor.svg
  icons/expo.svg
  icons/gnuprivacyguard.svg
  icons/nintendo3ds.svg
  icons/showpad.svg
  icons/svelte.svg
  icons/vk.svg
  icons/zalando.svg
  icons/zulip.svg
  package-lock.json
  package.json
Labels: release

#1611 Add composer.json
  .github/ISSUE_TEMPLATE/website_and_package.md
  README.md
  composer.json
Labels: meta

#1674 Request: Terraform Icon
  _data/simple-icons.json
  icons/terraform.svg
Labels: new icon

#1677 added Google Scholar logo
  _data/simple-icons.json
  icons/googlescholar.svg
Labels: new icon

#1682 No longer require no final newline in SVGs
  package.json
  scripts/build-package.js
Labels: meta
