Repository simple-icons/simple-icons, pull requests merged in 2019-07, with the labels that each got.

#1496 Added Exercism icon
  _data/simple-icons.json
  icons/exercism.svg
Labels: new icon

#1498 Added Dynatrace icon
  _data/simple-icons.json
  icons/dynatrace.svg
Labels: new icon

#1510 Added Chef Icon
  _data/simple-icons.json
  icons/chef.svg
Labels: new icon

#1508 Lint the SVG's title content
  .svglintrc.js
  icons/adobecreativecloud.svg
  icons/adobexd.svg
  icons/allocine.svg
  icons/applepay.svg
  icons/cirrusci.svg
  icons/codesandbox.svg
  icons/elasticsearch.svg
  icons/googleallo.svg
  icons/groupon.svg
  icons/hockeyapp.svg
  icons/iconjar.svg
  icons/ionic.svg
  icons/itch-dot-io.svg
  icons/microsoftonedrive.svg
  icons/mix.svg
  icons/node-dot-js.svg
  icons/nuget.svg
  icons/playstation3.svg
  icons/playstation4.svg
  icons/safari.svg
  icons/scaleway.svg
  icons/scrutinizerci.svg
  icons/stylus.svg
  icons/wolframmathematica.svg
  scripts/utils.js
Labels: meta

#1502 Increase specificity of source URL pattern for JSONLint
  .jsonlintschema
Labels: meta

#1505 Added Composer icon
  _data/simple-icons.json
  icons/composer.svg
Labels: new icon

#1507 Added Apache Flink icon
  _data/simple-icons.json
  icons/apacheflink.svg
Labels: new icon

#1523 Release 6 new icons, 1 removed icon, and 3 other updates
  .jsonlintschema
  .svglintrc.js
  README.md
  _data/simple-icons.json
  icons/adobecreativecloud.svg
  icons/adobexd.svg
  icons/allocine.svg
  icons/apacheflink.svg
  icons/applepay.svg
  icons/chef.svg
  icons/cirrusci.svg
  icons/codesandbox.svg
  icons/composer.svg
  icons/dynatrace.svg
  icons/elasticsearch.svg
  icons/exercism.svg
  icons/googleallo.svg
  icons/googleplus.svg
  icons/groupon.svg
  icons/haxe.svg
  icons/hockeyapp.svg
  icons/iconjar.svg
  icons/ionic.svg
  icons/itch-dot-io.svg
  icons/microsoftonedrive.svg
  icons/mix.svg
  icons/node-dot-js.svg
  icons/nuget.svg
  icons/playstation3.svg
  icons/playstation4.svg
  icons/safari.svg
  icons/scaleway.svg
  icons/scrutinizerci.svg
  icons/stylus.svg
  icons/wolframmathematica.svg
  package-lock.json
  package.json
  scripts/utils.js
Labels: release

#1521 Reduce impact of path value on package size
  scripts/prepublish.js
Labels: package

#1525 Added Dassault Systèmes Icon
  _data/simple-icons.json
  icons/dassaultsystemes.svg
Labels: new icon

#1520 Add URL friendy/slugged name as property to package icon objects
  README.md
  scripts/prepublish.js
  tests/icons.test.js
  tests/index.test.js
Labels: docs, package

#1526 Audit dependencies
  package-lock.json
Labels: dependencies

#1522 Generic get icon function for easier access to brands with "difficult" names
  README.md
  package-lock.json
  package.json
  scripts/prepublish.js
  scripts/templates/index.js
  tests/index.test.js
Labels: docs, package

#1519 Reduce package size by replacing JSON.stringify
  scripts/prepublish.js
Labels: package

#1530 Added Solus icon (#1529)
  _data/simple-icons.json
  icons/solus.svg
Labels: new icon

#1476 Add NPM script to perform SVGO optimization from the repository
  .svgo.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
Labels: meta

#1518 New Icon: Cloudbees
  _data/simple-icons.json
  icons/cloudbees.svg
Labels: new icon

#1527 New icons (Boeing, Iata, Turkish Airlines)
  _data/simple-icons.json
  icons/boeing.svg
  icons/iata.svg
  icons/turkishairlines.svg
Labels: new icon

#1528 Unreal Engine Icon Added
  _data/simple-icons.json
  icons/unrealengine.svg
Labels: new icon

#1534 Add Helm
  _data/simple-icons.json
  icons/helm.svg
Labels: new icon

#1538 Added ORCID
  _data/simple-icons.json
  icons/orcid.svg
Labels: new icon

#1543 Added Brave
  _data/simple-icons.json
  icons/brave.svg
Labels: new icon

#1544 Update WebStorm.
  _data/simple-icons.json
  icons/webstorm.svg
Labels: icon outdated

#1548 Add a "build" and "clean" NPM script
  package.json
  scripts/build-package.js
Labels: meta

#1549 Release 11 new icons and 3 general package updates
  .gitignore
  .svgo.yml
  CONTRIBUTING.md
  README.md
  _data/simple-icons.json
  icons/boeing.svg
  icons/brave.svg
  icons/cloudbees.svg
  icons/dassaultsystemes.svg
  icons/helm.svg
  icons/iata.svg
  icons/orcid.svg
  icons/solus.svg
  icons/turkishairlines.svg
  icons/unrealengine.svg
  icons/webstorm.svg
  package-lock.json
  package.json
  scripts/build-package.js
  scripts/prepublish.js
  scripts/templates/index.js
  tests/icons.test.js
  tests/index.test.js
Labels: release

#1546 Update SVGLint dependency
  package-lock.json
  package.json
Labels: dependencies

#1541 Add Cassandra Icon
  _data/simple-icons.json
  icons/cassandra.svg
Labels: new icon

#1545 Added Lyft
  _data/simple-icons.json
  icons/lyft.svg
Labels: new icon

#1555 Don't enumerate the get method
  scripts/templates/index.js
  tests/index.test.js
Labels: package

#1535 Add OpenVPN & WireGuard Icon
  _data/simple-icons.json
  icons/openvpn.svg
  icons/wireguard.svg
Labels: new icon
