Repository simple-icons/simple-icons, pull requests merged in 2019-02, with the labels that each got.

#1205 Update dependencies and license information
  package-lock.json
  package.json
Labels: meta

#1209 Update Travis CI icon
  _data/simple-icons.json
  icons/travisci.svg
Labels: icon outdated

#1219 add conda-forge
  _data/simple-icons.json
  icons/conda-forge.svg
Labels: new icon

#1221 Added Probot.
  _data/simple-icons.json
  icons/probot.svg
Labels: new icon

#1227 Added OpenStreetMap
  _data/simple-icons.json
  icons/openstreetmap.svg
Labels: new icon

#1233 Added Mathworks/Matlab
  _data/simple-icons.json
  icons/mathworks.svg
Labels: new icon

#1225 Added Yarn.
  _data/simple-icons.json
  icons/yarn.svg
Labels: new icon

#1234 Added HubSpot
  _data/simple-icons.json
  icons/hubspot.svg
Labels: new icon

#1230 Added Pivotal Tracker.
  _data/simple-icons.json
  icons/pivotaltracker.svg
Labels: new icon

#1229 Added TrainerRoad
  _data/simple-icons.json
  icons/trainerroad.svg
Labels: new icon

#1228 Added Hashnode
  _data/simple-icons.json
  icons/hashnode.svg
Labels: new icon

#1226 Added Qwiklabs.
  _data/simple-icons.json
  icons/qwiklabs.svg
Labels: new icon

#1223 Add DocuSign.
  _data/simple-icons.json
  icons/docusign.svg
Labels: new icon

#1232 Added Buy Me A Coffee
  _data/simple-icons.json
  icons/buymeacoffee.svg
Labels: new icon

#1210 Common Workflow Language, CWL
  _data/simple-icons.json
  icons/commonworkflowlanguage.svg
Labels: new icon

#1204 Update issue labels table in Contributing Guidelines
  CONTRIBUTING.md
Labels: docs

#1247 Add RubyGems icon
  _data/simple-icons.json
  icons/rubygems.svg
Labels: new icon

#1248 Added kentico icon
  _data/simple-icons.json
  icons/kentico.svg
Labels: new icon
