Repository simple-icons/simple-icons, pull requests merged in 2019-06, with the labels that each got.

#1458 Added Greenkeeper.io icon
  _data/simple-icons.json
  icons/greenkeeper.svg
Labels: new icon

#1460 Added FileZilla Logo
  _data/simple-icons.json
  icons/filezilla.svg
Labels: new icon

#1446 Added Synology.
  _data/simple-icons.json
  icons/synology.svg
Labels: new icon

#1445 Added TeamViewer
  _data/simple-icons.json
  icons/teamviewer.svg
Labels: new icon

#1444 Added Next.js
  _data/simple-icons.json
  icons/next-dot-js.svg
Labels: new icon

#1441 Added HackerEarth
  _data/simple-icons.json
  icons/hackerearth.svg
Labels: new icon

#1376 Add TikTok icon
  _data/simple-icons.json
  icons/tiktok.svg
Labels: awaiting reply, new icon

#1395 Updates Facebook and Messenger
  _data/simple-icons.json
  icons/facebook.svg
  icons/messenger.svg
Labels: icon outdated

#1428 Add Arduino icon (simple-icons#1359)
  _data/simple-icons.json
  icons/arduino.svg
Labels: new icon

#1463 Handle accented brand names in Jekyll
  index.html
Labels: meta

#1398 Added Allocine icon
  _data/simple-icons.json
  icons/allocine.svg
Labels: new icon

#1464 Publish 24 new icons and 2 updated icons
  _data/simple-icons.json
  icons/allocine.svg
  icons/arduino.svg
  icons/crunchbase.svg
  icons/duckduckgo.svg
  icons/facebook.svg
  icons/fedora.svg
  icons/filezilla.svg
  icons/freebsd.svg
  icons/greenkeeper.svg
  icons/hackerearth.svg
  icons/linuxmint.svg
  icons/manjaro.svg
  icons/mediafire.svg
  icons/messenger.svg
  icons/mxlinux.svg
  icons/next-dot-js.svg
  icons/openaccess.svg
  icons/opensuse.svg
  icons/osmc.svg
  icons/pypi.svg
  icons/scaleway.svg
  icons/synology.svg
  icons/teamviewer.svg
  icons/tiktok.svg
  icons/todoist.svg
  icons/zorin.svg
  index.html
  package-lock.json
  package.json
  scripts/utils.js
Labels: release

#1470 Updated Visual Studio Code icon
  _data/simple-icons.json
  icons/visualstudiocode.svg
Labels: icon outdated

#1469 Added OCaml icon
  _data/simple-icons.json
  icons/ocaml.svg
Labels: new icon

#1471 Add predefined labels to issue templates
  .github/ISSUE_TEMPLATE/icon_request.md
  .github/ISSUE_TEMPLATE/icon_update.md
Labels: meta

#1468 Added Crunchyroll icon
  _data/simple-icons.json
  icons/crunchyroll.svg
Labels: new icon

#1472 Add "path" key with raw path data to NPM package
  icons/furrynetwork.svg
  scripts/prepublish.js
  tests/icons.test.js
  tests/index.test.js
Labels: meta

#1454 Added Prettier icon
  _data/simple-icons.json
  icons/prettier.svg
Labels: new icon

#1448 Added Elsevier icon
  _data/simple-icons.json
  icons/elsevier.svg
Labels: new icon

#1314 Add SpaceX
  _data/simple-icons.json
  icons/spacex.svg
Labels: awaiting reply, new icon

#1478 Added Cirrus CI icon
  _data/simple-icons.json
  icons/cirrusci.svg
Labels: new icon

#1484 Added Pantheon
  _data/simple-icons.json
  icons/pantheon.svg
Labels: new icon

#1483 Added Ansible icon
  _data/simple-icons.json
  icons/ansible.svg
Labels: new icon

#1503 Publish 14 new icons, 1 updated icon, and 1 package update
  .github/ISSUE_TEMPLATE/icon_request.md
  .github/ISSUE_TEMPLATE/icon_update.md
  README.md
  _data/simple-icons.json
  icons/ansible.svg
  icons/babel.svg
  icons/canva.svg
  icons/cirrusci.svg
  icons/crunchyroll.svg
  icons/elsevier.svg
  icons/epicgames.svg
  icons/furrynetwork.svg
  icons/googlecloud.svg
  icons/intellijidea.svg
  icons/kodi.svg
  icons/ocaml.svg
  icons/pantheon.svg
  icons/prettier.svg
  icons/spacex.svg
  icons/visualstudiocode.svg
  package-lock.json
  package.json
  scripts/prepublish.js
  tests/icons.test.js
  tests/index.test.js
Labels: release
