Repository simple-icons/simple-icons, pull requests merged in 2019-10, with the labels that each got.

#1686 Add Skillshare icon
  _data/simple-icons.json
  icons/skillshare.svg
Labels: new icon

#1692 Update Laravel icon
  _data/simple-icons.json
  icons/laravel.svg
Labels: icon outdated

#1698 Add Eleventy icon
  _data/simple-icons.json
  icons/eleventy.svg
Labels: new icon

#1691 Add GreenSock icon
  _data/simple-icons.json
  icons/greensock.svg
Labels: new icon

#1689 Add PyTorch icon
  _data/simple-icons.json
  icons/pytorch.svg
Labels: new icon

#1697 Added Qgis icon (#1694)
  _data/simple-icons.json
  icons/qgis.svg
Labels: new icon

#1687 [Add] Xiaomi icon
  _data/simple-icons.json
  icons/xiaomi.svg
Labels: new icon

#1685 Add Musescore
  _data/simple-icons.json
  icons/musescore.svg
Labels: new icon

#1688 Add Gentoo icon
  _data/simple-icons.json
  icons/gentoo.svg
Labels: new icon

#1700 Add McAfee icon
  _data/simple-icons.json
  icons/mcafee.svg
Labels: new icon

#1701 Release 12 new icon, 1 updated icon, and 2 other changes
  .github/ISSUE_TEMPLATE/website_and_package.md
  .github/renovate.json5
  README.md
  _data/simple-icons.json
  composer.json
  icons/eleventy.svg
  icons/gentoo.svg
  icons/googlescholar.svg
  icons/greensock.svg
  icons/laravel.svg
  icons/mcafee.svg
  icons/musescore.svg
  icons/pytorch.svg
  icons/qgis.svg
  icons/skillshare.svg
  icons/tensorflow.svg
  icons/terraform.svg
  icons/xiaomi.svg
  package-lock.json
  package.json
  scripts/build-package.js
Labels: release

#1704 Added HappyCow
  _data/simple-icons.json
  icons/happycow.svg
Labels: new icon

#1714 Add JetBrains icon (#1707)
  _data/simple-icons.json
  icons/jetbrains.svg
Labels: new icon

#1717 [Update] Android icon
  _data/simple-icons.json
  icons/android.svg
Labels: icon outdated

#1712 Added Mattermost
  _data/simple-icons.json
  icons/mattermost.svg
Labels: new icon

#1724 Add Gradle icon
  _data/simple-icons.json
  icons/gradle.svg
Labels: new icon

#1728 Add Anaconda icon
  _data/simple-icons.json
  icons/anaconda.svg
Labels: new icon

#1715 Added Swagger
  _data/simple-icons.json
  icons/swagger.svg
Labels: new icon

#1716 Added HTML Academy
  _data/simple-icons.json
  icons/htmlacademy.svg
Labels: new icon

#1733 Add Issuu icon
  _data/simple-icons.json
  icons/issuu.svg
Labels: new icon

#1732 Added Palantir (#1726)
  _data/simple-icons.json
  icons/palantir.svg
Labels: new icon

#1718 [Patch] Fix potential display issues with 11 icons
  .svgo.yml
  icons/eleventy.svg
  icons/gentoo.svg
  icons/greensock.svg
  icons/laravel.svg
  icons/musescore.svg
  icons/opensourceinitiative.svg
  icons/pytorch.svg
  icons/qgis.svg
  icons/rstudio.svg
  icons/skillshare.svg
  icons/xiaomi.svg
  package-lock.json
  package.json
Labels: release

#1737 Feedly Icon Bug Fix
  icons/feedly.svg
Labels: icon outdated

#1739 Added Sonos Icon
  _data/simple-icons.json
  icons/sonos.svg
Labels: new icon

#1702 Add packagist link to website header
  index.html
Labels: website

#1722 Added LaTeX
  _data/simple-icons.json
  icons/latex.svg
Labels: new icon

#1699 Add Stackbit icon
  _data/simple-icons.json
  icons/stackbit.svg
Labels: new icon

#1727 Added Node-RED icon
  _data/simple-icons.json
  icons/node-red.svg
Labels: new icon

#1743 Added Octave icon
  _data/simple-icons.json
  icons/octave.svg
Labels: new icon

#1741 Added Lumen icon
  _data/simple-icons.json
  icons/lumen.svg
Labels: new icon

#1742 Added Gitea icon
  _data/simple-icons.json
  icons/gitea.svg
Labels: new icon

#1735 Added Groovy icon
  _data/simple-icons.json
  icons/groovy.svg
Labels: new icon

#1738 Add Kaspersky Icon
  _data/simple-icons.json
  icons/kaspersky.svg
Labels: new icon

#1740 Adding Seagate Icon
  _data/simple-icons.json
  icons/seagate.svg
Labels: new icon

#1749 Added Quarkus icon (#1748)
  _data/simple-icons.json
  icons/quarkus.svg
Labels: new icon

#1752 Add RadioPublic icon (#1744)
  _data/simple-icons.json
  icons/radiopublic.svg
Labels: new icon

#1757 Add Visual Studio icon
  _data/simple-icons.json
  icons/visualstudio.svg
Labels: new icon

#1754 Add Nokia icon
  _data/simple-icons.json
  icons/nokia.svg
Labels: new icon

#1756 Add Glitch icon
  _data/simple-icons.json
  icons/glitch.svg
Labels: new icon

#1758 Publish 24 new icons and 1 updated icon, plus dependency updates
  _data/simple-icons.json
  icons/anaconda.svg
  icons/android.svg
  icons/feedly.svg
  icons/gitea.svg
  icons/glitch.svg
  icons/gradle.svg
  icons/groovy.svg
  icons/hackerone.svg
  icons/happycow.svg
  icons/htmlacademy.svg
  icons/issuu.svg
  icons/jetbrains.svg
  icons/kaspersky.svg
  icons/latex.svg
  icons/lumen.svg
  icons/mattermost.svg
  icons/node-red.svg
  icons/nokia.svg
  icons/octave.svg
  icons/palantir.svg
  icons/quarkus.svg
  icons/radiopublic.svg
  icons/seagate.svg
  icons/sonos.svg
  icons/stackbit.svg
  icons/swagger.svg
  icons/visualstudio.svg
  index.html
  package-lock.json
  package.json
Labels: release

#1763 Add LibreOffice icon
  _data/simple-icons.json
  icons/libreoffice.svg
Labels: new icon

#1768 Add IBM
  _data/simple-icons.json
  icons/ibm.svg
Labels: new icon

#1766 Add Apache Airflow icon
  _data/simple-icons.json
  icons/apacheairflow.svg
Labels: new icon

#1769 Add Cisco
  _data/simple-icons.json
  icons/cisco.svg
Labels: new icon

#1770 Add Epson
  _data/simple-icons.json
  icons/epson.svg
Labels: new icon

#1759 Add hp icon
  _data/simple-icons.json
  icons/hp.svg
Labels: new icon

#1764 Add CentOS icon
  _data/simple-icons.json
  icons/centos.svg
Labels: new icon

#1751 Added Minetest icon
  _data/simple-icons.json
  icons/minetest.svg
Labels: new icon

#1777 Add Genius icon
  _data/simple-icons.json
  icons/genius.svg
Labels: new icon

#1772 Add Lenovo icon
  _data/simple-icons.json
  icons/lenovo.svg
Labels: new icon

#1778 Add iDEAL icon
  _data/simple-icons.json
  icons/ideal.svg
Labels: new icon

#1781 Add Plesk icon
  _data/simple-icons.json
  icons/plesk.svg
Labels: new icon

#1779 Add Bancontact icon
  _data/simple-icons.json
  icons/bancontact.svg
Labels: new icon

#1775 Add Krita icon
  _data/simple-icons.json
  icons/krita.svg
Labels: new icon

#1783 Add XRP icon
  _data/simple-icons.json
  icons/xrp.svg
Labels: new icon

#1784 Add Ripple icon
  _data/simple-icons.json
  icons/ripple.svg
Labels: new icon

#1790 Add SVG icon
  _data/simple-icons.json
  icons/svg.svg
Labels: new icon

#1796 Add Nec
  _data/simple-icons.json
  icons/nec.svg
Labels: new icon

#1776 Added Nim logo
  _data/simple-icons.json
  icons/nim.svg
Labels: awaiting reply, new icon

#1805 Rename 'Podcasts' to 'Apple Podcasts'
  _data/simple-icons.json
  icons/applepodcasts.svg
  icons/podcasts.svg
Labels: icon outdated

#1804 Add Habr icon
  _data/simple-icons.json
  icons/habr.svg
Labels: new icon

#1797 Add symantec
  _data/simple-icons.json
  icons/symantec.svg
Labels: new icon

#1802 Analogue
  _data/simple-icons.json
  icons/analogue.svg
Labels: new icon

#1810 Add Adguard icon
  _data/simple-icons.json
  icons/adguard.svg
Labels: new icon

#1787 Added Strapi Icon
  _data/simple-icons.json
  icons/strapi.svg
Labels: changes requested, new icon

#1813 Gimp icon (simple-icons#1709)
  _data/simple-icons.json
  icons/gimp.svg
Labels: changes requested, new icon

#1812 Revert "Publish 24 new icons and 1 updated icon, plus dependency updates"
  _data/simple-icons.json
  icons/anaconda.svg
  icons/android.svg
  icons/feedly.svg
  icons/gitea.svg
  icons/glitch.svg
  icons/gradle.svg
  icons/groovy.svg
  icons/hackerone.svg
  icons/happycow.svg
  icons/htmlacademy.svg
  icons/issuu.svg
  icons/jetbrains.svg
  icons/kaspersky.svg
  icons/latex.svg
  icons/lumen.svg
  icons/mattermost.svg
  icons/node-red.svg
  icons/nokia.svg
  icons/octave.svg
  icons/palantir.svg
  icons/quarkus.svg
  icons/radiopublic.svg
  icons/seagate.svg
  icons/sonos.svg
  icons/stackbit.svg
  icons/swagger.svg
  icons/visualstudio.svg
  index.html
  package-lock.json
  package.json
Labels: meta

#1817 Publish 26 new icons, 1 updated icon
  .gitignore
  _data/simple-icons.json
  icons/adguard.svg
  icons/anaconda.svg
  icons/analogue.svg
  icons/android.svg
  icons/apacheairflow.svg
  icons/applepodcasts.svg
  icons/bancontact.svg
  icons/centos.svg
  icons/cisco.svg
  icons/epson.svg
  icons/feedly.svg
  icons/genius.svg
  icons/gimp.svg
  icons/gitea.svg
  icons/glitch.svg
  icons/gradle.svg
  icons/groovy.svg
  icons/habr.svg
  icons/hackerone.svg
  icons/happycow.svg
  icons/hp.svg
  icons/htmlacademy.svg
  icons/ibm.svg
  icons/ideal.svg
  icons/issuu.svg
  icons/jetbrains.svg
  icons/kaspersky.svg
  icons/krita.svg
  icons/latex.svg
  icons/lenovo.svg
  icons/libreoffice.svg
  icons/lumen.svg
  icons/mattermost.svg
  icons/minetest.svg
  icons/nec.svg
  icons/nim.svg
  icons/node-red.svg
  icons/nokia.svg
  icons/octave.svg
  icons/palantir.svg
  icons/plesk.svg
  icons/podcasts.svg
  icons/quarkus.svg
  icons/radiopublic.svg
  icons/ripple.svg
  icons/seagate.svg
  icons/sonos.svg
  icons/stackbit.svg
  icons/strapi.svg
  icons/svg.svg
  icons/swagger.svg
  icons/symantec.svg
  icons/ublockorigin.svg
  icons/visualstudio.svg
  icons/xrp.svg
  index.html
  package-lock.json
  package.json
Labels: release

#1818 Mojang icon (simple-icons#1708)
  _data/simple-icons.json
  icons/mojang.svg
Labels: changes requested, new icon

#1819 C Programming Language
  _data/simple-icons.json
  icons/c.svg
Labels: changes requested, new icon

#1821 add roundcube icon
  _data/simple-icons.json
  icons/roundcube.svg
Labels: new icon

#1822 add spring icon #1706
  _data/simple-icons.json
  icons/spring.svg
Labels: changes requested, new icon

#1820 Add Apache Spark icon (#1329)
  _data/simple-icons.json
  icons/apachespark.svg
Labels: changes requested, new icon

#1826 Add Indeed icon
  _data/simple-icons.json
  icons/indeed.svg
Labels: new icon

#1774 Added Toshiba icon
  _data/simple-icons.json
  icons/toshiba.svg
Labels: changes requested, new icon

#1792 Spectrum logo
  _data/simple-icons.json
  icons/spectrum.svg
Labels: new icon

#1825 Update Mozilla Firefox icon
  _data/simple-icons.json
  icons/mozillafirefox.svg
Labels: icon outdated

#1827 Add Hurriyetemlak icon (#1344)
  _data/simple-icons.json
  icons/hurriyetemlak.svg
Labels: new icon

#1828 Add Zingat icon (#1344)
  _data/simple-icons.json
  icons/zingat.svg
Labels: new icon

#1830 Add Emlakjet icon (#1344)
  _data/simple-icons.json
  icons/emlakjet.svg
Labels: new icon

#1831 Add Sahibinden icon (#1344)
  _data/simple-icons.json
  icons/sahibinden.svg
Labels: new icon

#1793 #1627 Add Keras
  _data/simple-icons.json
  icons/keras.svg
Labels: new icon

#1844 Add Abstract icon (#1836)
  _data/simple-icons.json
  icons/abstract.svg
Labels: new icon

#1840 Add Coveralls icon (#1455)
  _data/simple-icons.json
  icons/coveralls.svg
Labels: new icon

#1841 Add Player FM icon (#1417)
  _data/simple-icons.json
  icons/playerfm.svg
Labels: new icon

#1835 Adding files for SaltStack Icon
  _data/simple-icons.json
  icons/saltstack.svg
Labels: changes requested, new icon

#1843 Add Tableau icon (#1188)
  _data/simple-icons.json
  icons/tableau.svg
Labels: new icon

#1842 Add Semaphore CI icon (#1511)
  _data/simple-icons.json
  icons/semaphoreci.svg
Labels: new icon

#1859 Add Zoom icon
  _data/simple-icons.json
  icons/zoom.svg
Labels: new icon

#1848 Add Google Ads logo
  _data/simple-icons.json
  icons/googleads.svg
Labels: new icon

#1857 Add Palo Alto Software icon
  _data/simple-icons.json
  icons/paloaltosoftware.svg
Labels: new icon

#1858 Add Microsoft Teams icon
  _data/simple-icons.json
  icons/microsoftteams.svg
Labels: new icon

#1864 Adding mendeley
  _data/simple-icons.json
  icons/mendeley.svg
Labels: changes requested, new icon

#1867 Add Notion icon
  _data/simple-icons.json
  icons/notion.svg
Labels: new icon
