Repository simple-icons/simple-icons, pull requests merged in 2019-08, with the labels that each got.

#1575 added aral icon
  _data/simple-icons.json
  icons/aral.svg
Labels: new icon

#1577 Added Godot.
  _data/simple-icons.json
  icons/godotengine.svg
Labels: new icon

#1576 added shell icon
  _data/simple-icons.json
  icons/shell.svg
Labels: new icon

#1582 Dashlane Icon Added
  _data/simple-icons.json
  icons/dashlane.svg
Labels: new icon

#1584 Release 9 new icons, 1 icon update, and 1 package change
  .gitpod.yml
  .travis.yml
  _data/simple-icons.json
  icons/aral.svg
  icons/cassandra.svg
  icons/cloudbees.svg
  icons/dashlane.svg
  icons/gitpod.svg
  icons/godotengine.svg
  icons/lyft.svg
  icons/openvpn.svg
  icons/shell.svg
  icons/wireguard.svg
  package-lock.json
  package.json
  scripts/templates/index.js
  tests/index.test.js
Labels: release

#1583 Socket.io Icon Added
  _data/simple-icons.json
  icons/socket-dot-io.svg
Labels: new icon

#1586 Realm Icon Added
  _data/simple-icons.json
  icons/realm.svg
Labels: new icon

#1574 added jet icon
  _data/simple-icons.json
  icons/jet.svg
Labels: new icon

#1558 Add Travis CI deploy step for release tags
  .travis.yml
Labels: meta

#1547 Refactor prepublish script to use template file for icon objects
  scripts/build-package.js
  scripts/templates/icon-object.js
Labels: meta

#1559 Add a .gitattributes files
  .gitattributes
Labels: meta

#1495 Added Linux Deepin icon
  _data/simple-icons.json
  icons/deepin.svg
Labels: new icon

#1597 Release 4 new icons and 1 other changes
  .gitattributes
  .travis.yml
  _data/simple-icons.json
  icons/deepin.svg
  icons/jet.svg
  icons/realm.svg
  icons/socket-dot-io.svg
  package-lock.json
  package.json
  scripts/build-package.js
  scripts/templates/icon-object.js
Labels: release
