Repository simple-icons/simple-icons, pull requests merged in 2019-04, with the labels that each got.

#1322 Added Creative Commons icon.
  _data/simple-icons.json
  icons/creativecommons.svg
Labels: new icon

#1355 Added Jest icon #1326
  _data/simple-icons.json
  icons/jest.svg
Labels: new icon

#1348 Update Travis CI build
  .travis.yml
  package-lock.json
  package.json
Labels: meta

#1358 Added Electron icon #1334
  _data/simple-icons.json
  icons/electron.svg
Labels: new icon

#1349 Lint file formatting (primarily whitespace)
  .editorconfig
  .gitpod.yml
  .travis.yml
  index.html
  package-lock.json
  package.json
  scripts/utils.js
Labels: meta

#1361 Added Unity
  _data/simple-icons.json
  icons/unity.svg
Labels: new icon

#1356 Added Hackaday icon #1142
  _data/simple-icons.json
  icons/hackaday.svg
Labels: new icon

#1365 Renamed 'Adobe Lightroom' to 'Adobe Lightroom Classic' #1364
  _data/simple-icons.json
  icons/adobelightroom.svg
  icons/adobelightroomclassic.svg
Labels: icon outdated

#1360 Added bit icon
  _data/simple-icons.json
  icons/bit.svg
Labels: new icon

#1366 Added Adobe Lightroom CC icon #1363
  _data/simple-icons.json
  icons/adobelightroomcc.svg
Labels: new icon

#1354 Added Adobe Xd icon #1245
  _data/simple-icons.json
  icons/adobexd.svg
Labels: new icon

#1367 Lint SVG files for final newlines
  .editorconfig
  icons/chase.svg
  icons/conda-forge.svg
  icons/creativecommons.svg
  icons/flutter.svg
  icons/itch-dot-io.svg
  icons/jsdelivr.svg
  icons/markdown.svg
  icons/mega.svg
  icons/nativescript.svg
  icons/stadia.svg
  icons/typescript.svg
  icons/v8.svg
  package-lock.json
  package.json
Labels: meta

#1320 Added Material Design icon.
  _data/simple-icons.json
  icons/materialdesign.svg
Labels: new icon

#1378 Added Angular Universal icon
  _data/simple-icons.json
  icons/angularuniversal.svg
Labels: new icon
