Repository simple-icons/simple-icons, pull requests merged in 2020-01, with the labels that each got.

#2259 Update Campaign Monitor Colour
  _data/simple-icons.json
Labels: icon outdated

#2217 Add Tomorrowland
  _data/simple-icons.json
  icons/tomorrowland.svg
Labels: new icon

#2209 Add iFood
  _data/simple-icons.json
  icons/ifood.svg
Labels: new icon

#2210 Add Litecoin
  _data/simple-icons.json
  icons/litecoin.svg
Labels: new icon

#2254 Add Freelancer
  _data/simple-icons.json
  icons/freelancer.svg
Labels: new icon

#2251 Add Neovim (#2221)
  _data/simple-icons.json
  icons/neovim.svg
Labels: changes requested, new icon

#2246 Sencha
  _data/simple-icons.json
  icons/sencha.svg
Labels: changes requested, new icon

#2263 Add Fandom
  _data/simple-icons.json
  icons/fandom.svg
Labels: new icon

#2257 Add Unicode
  _data/simple-icons.json
  icons/unicode.svg
Labels: new icon

#2261 Add Pexels
  _data/simple-icons.json
  icons/pexels.svg
Labels: new icon

#2276 Update Helm
  icons/helm.svg
Labels: icon outdated

#2274 Add Airtable icon (#2271)
  _data/simple-icons.json
  icons/airtable.svg
Labels: new icon

#2275 XMPP (refinement)
  _data/simple-icons.json
  icons/xmpp.svg
Labels: icon outdated

#2277 Red Hat Open Shift
  _data/simple-icons.json
  icons/redhatopenshift.svg
Labels: new icon

#2262 Add FITE
  _data/simple-icons.json
  icons/fite.svg
Labels: new icon

#2255 Add Qi
  _data/simple-icons.json
  icons/qi.svg
Labels: new icon

#2285 Add Qualtrics icon (#2284)
  _data/simple-icons.json
  icons/qualtrics.svg
Labels: new icon

#2265 Add VMware
  _data/simple-icons.json
  icons/vmware.svg
Labels: new icon

#2291 Update Accusoft colour
  _data/simple-icons.json
Labels: icon outdated

#2286 Publish 46 new icons and 4 updated icons
  _data/simple-icons.json
  icons/actigraph.svg
  icons/activision.svg
  icons/adobephonegap.svg
  icons/airtable.svg
  icons/alipay.svg
  icons/asciinema.svg
  icons/audiomack.svg
  icons/authy.svg
  icons/battle-dot-net.svg
  icons/celery.svg
  icons/convertio.svg
  icons/coronaengine.svg
  icons/datadog.svg
  icons/ea.svg
  icons/fandom.svg
  icons/figshare.svg
  icons/fite.svg
  icons/freelancer.svg
  icons/gnubash.svg
  icons/gnuemacs.svg
  icons/helm.svg
  icons/ifood.svg
  icons/jsfiddle.svg
  icons/litecoin.svg
  icons/material-ui.svg
  icons/ndr.svg
  icons/neovim.svg
  icons/newyorktimes.svg
  icons/pexels.svg
  icons/photocrowd.svg
  icons/qi.svg
  icons/qualtrics.svg
  icons/redhatopenshift.svg
  icons/rtlzwei.svg
  icons/sat-dot-1.svg
  icons/sencha.svg
  icons/squareenix.svg
  icons/tele5.svg
  icons/tomorrowland.svg
  icons/unicode.svg
  icons/vmware.svg
  icons/webassembly.svg
  icons/xmpp.svg
  icons/z-wave.svg
  icons/zdf.svg
  package-lock.json
  package.json
Labels: release

#2290 Add Bulma
  _data/simple-icons.json
  icons/bulma.svg
Labels: new icon

#2293 Add Bluetooth
  _data/simple-icons.json
  icons/bluetooth.svg
Labels: new icon

#2294 Update SourceForge
  _data/simple-icons.json
  icons/sourceforge.svg
Labels: icon outdated

#2296 Add Google Assistant
  _data/simple-icons.json
  icons/googleassistant.svg
Labels: new icon

#1890 Add OpsLevel icon (#1736)
  _data/simple-icons.json
  icons/opslevel.svg
Labels: new icon

#2302 Add ioBroker
  _data/simple-icons.json
  icons/iobroker.svg
Labels: new icon

#2304 Emby
  _data/simple-icons.json
  icons/emby.svg
Labels: new icon

#2303 Add Douban
  _data/simple-icons.json
  icons/douban.svg
Labels: new icon

#2232 Add Amazon Lumberyard (#2128)
  _data/simple-icons.json
  icons/amazonlumberyard.svg
Labels: new icon

#2319 Add Bandsintown
  _data/simple-icons.json
  icons/bandsintown.svg
Labels: new icon

#2314 Add Apache Pulsar
  _data/simple-icons.json
  icons/apachepulsar.svg
Labels: new icon

#2320 Add Discogs
  _data/simple-icons.json
  icons/discogs.svg
Labels: new icon

#2308 Add ChartMogul
  _data/simple-icons.json
  icons/chartmogul.svg
Labels: new icon

#2109 Add justeat icon
  _data/simple-icons.json
  icons/justeat.svg
Labels: awaiting reply, new icon

#2310 Update Order of Icons
  _data/simple-icons.json
Labels: meta, website

#2273 Add KeePassXC icon (#2268)
  _data/simple-icons.json
  icons/keepassxc.svg
Labels: new icon

#2324 Add Parity Substrate
  _data/simple-icons.json
  icons/paritysubstrate.svg
Labels: new icon

#2289 Add Slackware
  _data/simple-icons.json
  icons/slackware.svg
Labels: new icon

#2321 Add Grunt
  _data/simple-icons.json
  icons/grunt.svg
Labels: new icon

#2323 Add Transport for Ireland
  _data/simple-icons.json
  icons/transportforireland.svg
Labels: new icon

#2325 Add Quest
  _data/simple-icons.json
  icons/quest.svg
Labels: new icon

#2337 Add Skype for Business
  _data/simple-icons.json
  icons/skypeforbusiness.svg
Labels: new icon

#2297 Update Xamarin
  _data/simple-icons.json
  icons/xamarin.svg
Labels: icon outdated

#2300 Update Fedora icon
  icons/fedora.svg
Labels: icon outdated

#2305 Add Wear OS
  _data/simple-icons.json
  icons/wearos.svg
Labels: new icon

#2327 Add NetApp
  _data/simple-icons.json
  icons/netapp.svg
Labels: new icon

#2328 Add Kyocera
  _data/simple-icons.json
  icons/kyocera.svg
Labels: new icon

#2329 Add Fortinet
  _data/simple-icons.json
  icons/fortinet.svg
Labels: new icon

#2330 Add Citrix
  _data/simple-icons.json
  icons/citrix.svg
Labels: new icon

#2342 Apache Ant (#2238)
  _data/simple-icons.json
  icons/apacheant.svg
Labels: new icon

#2344 Add protocols.io
  _data/simple-icons.json
  icons/protocols-dot-io.svg
Labels: new icon

#2196 Add Google Maps icon (#1515)
  _data/simple-icons.json
  icons/googlemaps.svg
Labels: new icon

#2346 The Register
  _data/simple-icons.json
  icons/theregister.svg
Labels: new icon

#2307 Add Tide
  _data/simple-icons.json
  icons/tide.svg
Labels: new icon

#2359 Add Citroën
  _data/simple-icons.json
  icons/citroen.svg
Labels: new icon

#2361 Opel (#2059)
  _data/simple-icons.json
  icons/opel.svg
Labels: new icon

#2349 Add Flood
  _data/simple-icons.json
  icons/flood.svg
Labels: new icon

#2354 Add Google Lens
  _data/simple-icons.json
  icons/googlelens.svg
Labels: new icon

#2355 Add Google Fit
  _data/simple-icons.json
  icons/googlefit.svg
Labels: new icon

#2356 Add LogMeIn
  _data/simple-icons.json
  icons/logmein.svg
Labels: new icon

#2198 Add Das Erste
  _data/simple-icons.json
  icons/daserste.svg
Labels: new icon

#2292 CD Projekt (#2181)
  _data/simple-icons.json
  icons/cdprojekt.svg
Labels: new icon

#2295 Add HelloFresh
  _data/simple-icons.json
  icons/hellofresh.svg
Labels: new icon

#2353 Add Polymer Project
  _data/simple-icons.json
  icons/polymerproject.svg
Labels: new icon

#2333 add jenkins x icon
  _data/simple-icons.json
  icons/jenkinsx.svg
Labels: new icon

#2362 Update Brave icon
  icons/brave.svg
Labels: changes requested, icon outdated

#2371 Add Material Design Icons icon (#2369)
  _data/simple-icons.json
  icons/materialdesignicons.svg
Labels: new icon

#2374 Add Apache Maven
  _data/simple-icons.json
  icons/apachemaven.svg
Labels: new icon

#2350 Add LMMS
  _data/simple-icons.json
  icons/lmms.svg
Labels: new icon

#2334 Add CI step for ensuring alphabetical order of icons
  .travis.yml
  CONTRIBUTING.md
  _data/simple-icons.json
  package.json
  scripts/lint.js
Labels: meta

#2377 Clarify CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs

#2318 Add FedRAMP (US government compliance program)
  _data/simple-icons.json
  icons/fedramp.svg
Labels: new icon

#2372 Add Semantic Web
  _data/simple-icons.json
  icons/semanticweb.svg
Labels: awaiting reply, new icon

#2381 Add Claris
  _data/simple-icons.json
  icons/claris.svg
Labels: awaiting reply, new icon

#2086 Add XAMPP
  _data/simple-icons.json
  icons/xampp.svg
Labels: new icon

#2301 Add Pixabay
  _data/simple-icons.json
  icons/pixabay.svg
Labels: new icon

#2379 Add AngularJS
  _data/simple-icons.json
  icons/angularjs.svg
Labels: new icon

#2378 Update Microsoft Edge icon
  _data/simple-icons.json
  icons/microsoftedge.svg
Labels: icon outdated

#2397 Update .svgo.yml
  .svgo.yml
Labels: meta

#2396 Airbus (#2383)
  _data/simple-icons.json
  icons/airbus.svg
Labels: new icon

#2409 Split issue templates for website and package
  .github/ISSUE_TEMPLATE/package.md
  .github/ISSUE_TEMPLATE/website.md
Labels: meta

#2242 Add Elixir
  _data/simple-icons.json
  icons/elixir.svg
Labels: new icon

#2376 Cinema4d icon
  _data/simple-icons.json
  icons/cinema4d.svg
Labels: new icon

#2351 Add SEAT
  _data/simple-icons.json
  icons/seat.svg
Labels: new icon

#2118 Update Twitch logo and color
  _data/simple-icons.json
  icons/twitch.svg
Labels: icon outdated

#2391 Add MAAS
  _data/simple-icons.json
  icons/maas.svg
Labels: new icon

#2405 Add Fila
  _data/simple-icons.json
  icons/fila.svg
Labels: new icon

#2431 Add Ferrari
  _data/simple-icons.json
  icons/ferrari.svg
Labels: new icon

#2426 Add OpenBSD
  _data/simple-icons.json
  icons/openbsd.svg
Labels: new icon

#2382 Add Zigbee
  _data/simple-icons.json
  icons/zigbee.svg
Labels: new icon

#2430 Add Google Translate
  _data/simple-icons.json
  icons/googletranslate.svg
Labels: new icon

#2401 Add LG
  _data/simple-icons.json
  icons/lg.svg
Labels: new icon

#2404 Add FIFA
  _data/simple-icons.json
  icons/fifa.svg
Labels: changes requested, new icon

#2415 Add Fluentd
  _data/simple-icons.json
  icons/fluentd.svg
Labels: new icon

#2367 Add Google Messages
  _data/simple-icons.json
  icons/googlemessages.svg
Labels: new icon

#2389 Add JCB
  _data/simple-icons.json
  icons/jcb.svg
Labels: new icon

#2420 Use GitHub Actions to automatically label Pull Requests
  .github/labeler.yml
  .github/workflows/pull_requests.yml
Labels: meta

#2352 Add Google Cast
  _data/simple-icons.json
  icons/googlecast.svg
Labels: new icon

#2417 Add Vuetify
  _data/simple-icons.json
  icons/vuetify.svg
Labels: changes requested, new icon

#2449 Revert the introduction of a GitHub Actions to automatically label Pull Requests
  .github/labeler.yml
  .github/workflows/pull_requests.yml
Labels: meta

#2443 Add Spinnaker icon (#2250)
  _data/simple-icons.json
  icons/spinnaker.svg
Labels: new icon

#2453 Add Microsoft SQL Server
  _data/simple-icons.json
  icons/microsoftsqlserver.svg
Labels: new icon

#2375 Improve Formula for Display Colours
  index.html
Labels: website

#2456 Add pr.co
  _data/simple-icons.json
  icons/pr-dot-co.svg
Labels: new icon

#2428 Update Pandora
  _data/simple-icons.json
  icons/pandora.svg
Labels: icon outdated

#2448 Khronos Group (#2442)
  _data/simple-icons.json
  icons/khronosgroup.svg
Labels: new icon

#2450 OpenGL
  _data/simple-icons.json
  icons/opengl.svg
Labels: new icon

#2451 Vulkan
  _data/simple-icons.json
  icons/vulkan.svg
Labels: new icon

#2452 WebGL
  _data/simple-icons.json
  icons/webgl.svg
Labels: new icon

#2454 Add WebRTC
  _data/simple-icons.json
  icons/webrtc.svg
Labels: new icon

#2468 Symphony
  _data/simple-icons.json
  icons/symphony.svg
Labels: new icon

#2326 Add Veritas
  _data/simple-icons.json
  icons/veritas.svg
Labels: new icon

#2471 Add Beatport
  _data/simple-icons.json
  icons/beatport.svg
Labels: new icon

#2455 Add Hugo
  _data/simple-icons.json
  icons/hugo.svg
Labels: new icon

#2467 SVGO config update
  .svgo.yml
Labels: meta

#2447 Add Font Awesome
  _data/simple-icons.json
  icons/fontawesome.svg
Labels: new icon

#2476 Add pre-commit (#2475)
  _data/simple-icons.json
  icons/pre-commit.svg
Labels: new icon

#2466 Aircall
  _data/simple-icons.json
  icons/aircall.svg
Labels: new icon

#2473 Apache ECharts
  _data/simple-icons.json
  icons/apacheecharts.svg
Labels: new icon

#2461 Add WooCommerce
  _data/simple-icons.json
  icons/woocommerce.svg
Labels: new icon

#2483 Add MIDI
  _data/simple-icons.json
  icons/midi.svg
Labels: new icon

#2484 Add Serverless
  _data/simple-icons.json
  icons/serverless.svg
Labels: new icon

#2479 Add Woo
  _data/simple-icons.json
  icons/woo.svg
Labels: new icon

#2497 Add Katana (#2494)
  _data/simple-icons.json
  icons/katana.svg
Labels: new icon

#2498 Add Houdini (#2493)
  _data/simple-icons.json
  icons/houdini.svg
Labels: new icon

#2502 Add Google Cardboard
  _data/simple-icons.json
  icons/googlecardboard.svg
Labels: new icon

#2496 Add Nuke (#2495)
  _data/simple-icons.json
  icons/nuke.svg
Labels: new icon

#2427 Add Concourse
  _data/simple-icons.json
  icons/concourse.svg
Labels: new icon

#2429 Add NixOS
  _data/simple-icons.json
  icons/nixos.svg
Labels: new icon

#2506 Add MariaDB
  _data/simple-icons.json
  icons/mariadb.svg
Labels: new icon

#2402 Add MariaDB Foundation
  _data/simple-icons.json
  icons/mariadbfoundation.svg
Labels: new icon

#2482 Add Google Classroom
  _data/simple-icons.json
  icons/googleclassroom.svg
Labels: new icon

#2499 Update Babel
  _data/simple-icons.json
  icons/babel.svg
Labels: icon outdated

#2490 Add Open Containers Initiative
  _data/simple-icons.json
  icons/opencontainersinitiative.svg
Labels: new icon

#2500 Add Fastly
  _data/simple-icons.json
  icons/fastly.svg
Labels: new icon
