Repository simple-icons/simple-icons, pull requests merged in 2020-05, with the labels that each got.

#3011 Added new icon for awesome lists
  _data/simple-icons.json
  icons/awesomelists.svg
Labels: new icon

#3007 Add OnePlus
  _data/simple-icons.json
  icons/oneplus.svg
Labels: new icon

#2967 Add Yoast icon #2785
  _data/simple-icons.json
  icons/yoast.svg
Labels: new icon

#2764 Add Open Badges
  _data/simple-icons.json
  icons/openbadges.svg
Labels: new icon

#3023 Added #3021 - Apache Cloudstack icon
  _data/simple-icons.json
  icons/apachecloudstack.svg
Labels: new icon

#3018 Add audio-technica
  _data/simple-icons.json
  icons/audio-technica.svg
Labels: new icon

#2566 Update Gulp
  _data/simple-icons.json
  icons/gulp.svg
Labels: icon outdated

#3038 Add bose
  _data/simple-icons.json
  icons/bose.svg
Labels: changes requested, new icon

#3004 Add Badoo
  _data/simple-icons.json
  icons/badoo.svg
Labels: new icon

#2769 Update Adobe icon
  icons/adobe.svg
Labels: icon outdated

#3033 Update Adobe Illustrator & InDesign colours
  _data/simple-icons.json
Labels: icon outdated

#3031 Update Adobe Audition
  _data/simple-icons.json
  icons/adobeaudition.svg
Labels: icon outdated

#3030 Update Adobe After Effects & Dreamweaver sources
  _data/simple-icons.json
Labels: icon outdated

#3024 Update Roots icon & source
  _data/simple-icons.json
  icons/roots.svg
Labels: icon outdated

#3029 Update Adobe Acrobat Reader
  _data/simple-icons.json
  icons/adobeacrobatreader.svg
Labels: icon outdated

#3035 Add Rancher (#3034)
  _data/simple-icons.json
  icons/rancher.svg
Labels: new icon

#3063 Restore lost linting changes from #2966
  package-lock.json
  package.json
Labels: meta

#3079 Fix 'wslint' command that isn't linting the simple-icons.json file.
  _data/simple-icons.json
  package.json
Labels: meta

#3032 Update Adobe Creative Cloud
  _data/simple-icons.json
  icons/adobecreativecloud.svg
Labels: icon outdated

#3083 Avoid to run svglint for icons/*.js files.
  package.json
Labels: meta

#3088 Add RunKit
  _data/simple-icons.json
  icons/runkit.svg
Labels: new icon

#2933 Add SQLite
  _data/simple-icons.json
  icons/sqlite.svg
Labels: new icon

#3064 Add SSRN
  _data/simple-icons.json
  icons/ssrn.svg
Labels: new icon

#3066 Add Microsoft Academic
  _data/simple-icons.json
  icons/microsoftacademic.svg
Labels: new icon

#2951 Add Loom icon
  _data/simple-icons.json
  icons/loom.svg
Labels: new icon

#3068 Add Scopus
  _data/simple-icons.json
  icons/scopus.svg
Labels: new icon

#2869 Add Fastify
  _data/simple-icons.json
  icons/fastify.svg
Labels: new icon

#3096 Update Snyk
  icons/snyk.svg
Labels: icon outdated

#2824 Add MusicBrainz
  _data/simple-icons.json
  icons/musicbrainz.svg
Labels: new icon

#3082 Add pandas
  _data/simple-icons.json
  icons/pandas.svg
Labels: new icon

#2844 Add Counter-Strike
  _data/simple-icons.json
  icons/counter-strike.svg
Labels: new icon

#2845 Add Cairo Metro
  _data/simple-icons.json
  icons/cairometro.svg
Labels: new icon

#2969 Add New Relic
  _data/simple-icons.json
  icons/newrelic.svg
Labels: new icon

#3073 Add JR Group
  _data/simple-icons.json
  icons/jrgroup.svg
Labels: new icon

#3006 Add Insomnia
  _data/simple-icons.json
  icons/insomnia.svg
Labels: new icon

#3039 Add Wistia
  _data/simple-icons.json
  icons/wistia.svg
Labels: new icon

#3005 Add Husqvarna
  _data/simple-icons.json
  icons/husqvarna.svg
Labels: new icon

#3041 Add Embarcadero
  _data/simple-icons.json
  icons/embarcadero.svg
Labels: new icon

#3094 Add SlideShare
  _data/simple-icons.json
  icons/slideshare.svg
Labels: new icon

#3098 Add YouTube Music
  _data/simple-icons.json
  icons/youtubemusic.svg
Labels: new icon

#3065 Add The Conversation
  _data/simple-icons.json
  icons/theconversation.svg
Labels: in discussion, new icon

#3022 Add Razer
  _data/simple-icons.json
  icons/razer.svg
Labels: awaiting reply, new icon

#2996 Add Sky
  _data/simple-icons.json
  icons/sky.svg
Labels: new icon

#3111 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs

#3103 Add Carto
  _data/simple-icons.json
  icons/carto.svg
Labels: new icon

#3106 Add iHeartRadio
  _data/simple-icons.json
  icons/iheartradio.svg
Labels: changes requested, new icon

#3129 Add Home Assistant to README.md
  README.md
Labels: docs

#3128 Clickup icon
  _data/simple-icons.json
  icons/clickup.svg
Labels: new icon

#3134 Update README
  README.md
Labels: docs

#3093 Update Google Scholar
  _data/simple-icons.json
  icons/googlescholar.svg
Labels: icon outdated
