Repository simple-icons/simple-icons, pull requests merged in 2020-07, with the labels that each got.

#3272 JFrog icon
  _data/simple-icons.json
  icons/jfrog.svg
Labels: new icon

#3139 Add Altium Designer
  _data/simple-icons.json
  icons/altiumdesigner.svg
Labels: new icon

#3246 Add Pimcore
  _data/simple-icons.json
  icons/pimcore.svg
Labels: changes requested, new icon

#2943 Remove Adobe Typekit & Greenkeeper
  _data/simple-icons.json
  icons/adobetypekit.svg
  icons/greenkeeper.svg
Labels: breaking change, icon outdated

#2942 Rename Various Icons (v3)
  _data/simple-icons.json
  icons/adobepremiere.svg
  icons/adobepremierepro.svg
  icons/apachecassandra.svg
  icons/cassandra.svg
  icons/mojang.svg
  icons/mojangstudios.svg
  icons/rails.svg
  icons/rubyonrails.svg
  icons/tiktok.svg
  icons/vercel.svg
  icons/zeit.svg
Labels: breaking change, icon outdated

#3040 Add Facebook Gaming
  _data/simple-icons.json
  icons/facebookgaming.svg
Labels: new icon

#3284 Update Odnoklassniki colour & source
  _data/simple-icons.json
Labels: icon outdated

#3283 Rename Line as LINE
  _data/simple-icons.json
  icons/line.svg
Labels: breaking change, icon outdated

#3282 Rename Mozilla Thunderbird as Thunderbird
  _data/simple-icons.json
  icons/mozillathunderbird.svg
  icons/thunderbird.svg
Labels: breaking change, icon outdated

#3267 Rename Jira and add parent brand
  _data/simple-icons.json
  icons/jira.svg
  icons/jirasoftware.svg
Labels: breaking change, icon outdated, new icon

#3289 Patch README
  README.md
  package-lock.json
  package.json
Labels: release

#3256 Remove extraneous spaces from icon markup
  .svglintrc.js
  icons/ardour.svg
  icons/celery.svg
  icons/centos.svg
  icons/cloudsmith.svg
  icons/deepin.svg
  icons/jetbrains.svg
  icons/ktm.svg
  icons/ublockorigin.svg
Labels: icon outdated, meta

#3300 Fix Alphabetical Sorting on Website
  index.html
Labels: website

#3277 Update Basecamp
  _data/simple-icons.json
  icons/basecamp.svg
Labels: icon outdated

#3285 Update Nucleo
  _data/simple-icons.json
  icons/nucleo.svg
Labels: icon outdated

#3250 Add svg linter to check center (with tolerance)
  .svglint-ignored.json
  .svglintrc.js
Labels: meta

#3231 Add Drooble icon
  _data/simple-icons.json
  icons/drooble.svg
Labels: new icon

#3274 Add Planet logo
  _data/simple-icons.json
  icons/planet.svg
Labels: changes requested, new icon

#3303 Add JPEG
  _data/simple-icons.json
  icons/jpeg.svg
Labels: changes requested, new icon

#3304 Add IFTTT
  _data/simple-icons.json
  icons/ifttt.svg
Labels: changes requested, new icon

#3310 Update Quantcast
  _data/simple-icons.json
  icons/quantcast.svg
Labels: icon outdated

#3309 Update Speaker Deck
  _data/simple-icons.json
  icons/speakerdeck.svg
Labels: icon outdated

#3312 Update 500px
  .svglint-ignored.json
  icons/500px.svg
Labels: icon outdated

#3326 Add Pelican Icon
  _data/simple-icons.json
  icons/pelican.svg
Labels: new icon

#3003 Add Philips Hue
  _data/simple-icons.json
  icons/philipshue.svg
Labels: new icon

#3281 Add OpenAI & OpenAI Gym
  _data/simple-icons.json
  icons/openai.svg
  icons/openaigym.svg
Labels: new icon

#3061 Add RTÉ
  _data/simple-icons.json
  icons/rte.svg
Labels: new icon

#2939 Add Bilibili
  _data/simple-icons.json
  icons/bilibili.svg
Labels: new icon

#2848 Add Crowdin
  _data/simple-icons.json
  icons/crowdin.svg
Labels: new icon

#2961 Add Jamboard
  _data/simple-icons.json
  icons/jamboard.svg
Labels: in discussion, new icon

#3278 Add JBL
  _data/simple-icons.json
  icons/jbl.svg
Labels: new icon

#3342 Fix low severity issues in the JavaScript
  .svglintrc.js
  scripts/build-package.js
  scripts/utils.js
  site_script.js
Labels: meta, website

#3136 Add Komoot
  _data/simple-icons.json
  icons/komoot.svg
Labels: new icon

#3235 Add LBRY
  _data/simple-icons.json
  icons/lbry.svg
Labels: changes requested, new icon

#3367 Add PyCharm
  _data/simple-icons.json
  icons/pycharm.svg
Labels: changes requested, new icon

#3132 Add RTL
  _data/simple-icons.json
  icons/rtl.svg
Labels: new icon

#3348 Add Dark Reader
  _data/simple-icons.json
  icons/darkreader.svg
Labels: changes requested, new icon

#3391 Fully escape parameter before use in Regexp
  site_script.js
Labels: meta, website
