Repository simple-icons/simple-icons, pull requests merged in 2020-12, with the labels that each got.

#3926 Updated OpenVPN
  .svglint-ignored.json
  icons/openvpn.svg
Labels: icon outdated

#3933 Updated RunKit
  .svglint-ignored.json
  icons/runkit.svg
Labels: icon outdated

#3637 Add TransferWise icon
  _data/simple-icons.json
  icons/transferwise.svg
Labels: changes requested, new icon

#3896 Updated DTube
  .svglint-ignored.json
  _data/simple-icons.json
  icons/dtube.svg
Labels: icon outdated

#3936 Updated Seagate
  .svglint-ignored.json
  _data/simple-icons.json
  icons/seagate.svg
Labels: icon outdated

#3946 Updated write.as
  .svglint-ignored.json
  icons/write-dot-as.svg
Labels: icon outdated

#4213 Update setup Ruby step in build job of verification workflow
  .github/workflows/verify.yml
Labels: meta

#4211 Update release.yml to allow for automated release merges
  .github/workflows/release.yml
Labels: meta

#3940 Updated Sourcegraph
  .svglint-ignored.json
  _data/simple-icons.json
  icons/sourcegraph.svg
Labels: icon outdated

#4027 Updated Drupal
  .svglint-ignored.json
  icons/drupal.svg
Labels: icon outdated

#4047 Updated Feedly
  .svglint-ignored.json
  icons/feedly.svg
Labels: icon outdated

#4002 Updated Brand.ai
  .svglint-ignored.json
  icons/brand-dot-ai.svg
Labels: icon outdated

#4024 Updated Disroot
  .svglint-ignored.json
  icons/disroot.svg
Labels: changes requested, icon outdated

#3735 Add Vonage
  _data/simple-icons.json
  icons/vonage.svg
Labels: awaiting reply, changes requested, new icon

#3942 Updated TuneIn
  .svglint-ignored.json
  icons/tunein.svg
Labels: icon outdated

#4271 Update Dockerfile
  .dockerignore
  Dockerfile
Labels: meta

#3891 Updated Codecademy
  .svglint-ignored.json
  icons/codecademy.svg
Labels: icon outdated

#3372 Add PhpStorm
  _data/simple-icons.json
  icons/phpstorm.svg
Labels: new icon

#4244 Update TUI
  .svglint-ignored.json
  icons/tui.svg
Labels: icon outdated

#4233 Update Vulkan
  .svglint-ignored.json
  icons/vulkan.svg
Labels: icon outdated

#4207 Added TeamCity
  _data/simple-icons.json
  icons/teamcity.svg
Labels: new icon

#3398 Add MYOB Logo
  _data/simple-icons.json
  icons/myob.svg
Labels: new icon

#3893 Updated CodeFactor
  .svglint-ignored.json
  icons/codefactor.svg
Labels: icon outdated

#4197 Updated Stackbit
  .svglint-ignored.json
  _data/simple-icons.json
  icons/stackbit.svg
Labels: icon outdated

#4275 Wireshark
  _data/simple-icons.json
  icons/wireshark.svg
Labels: new icon

#3617 Add Nubank
  _data/simple-icons.json
  icons/nubank.svg
Labels: new icon

#3886 Updated Azure DevOps
  .svglint-ignored.json
  icons/azuredevops.svg
Labels: icon outdated

#3889 Updated Cash App
  .svglint-ignored.json
  icons/cashapp.svg
Labels: icon outdated

#4276 Publish 8 new icons and 26 updated icons
  .dockerignore
  .github/workflows/release.yml
  .github/workflows/verify.yml
  .svglint-ignored.json
  CONTRIBUTING.md
  Dockerfile
  _data/simple-icons.json
  icons/abbrobotstudio.svg
  icons/azuredevops.svg
  icons/brand-dot-ai.svg
  icons/cashapp.svg
  icons/clockify.svg
  icons/codecademy.svg
  icons/codeclimate.svg
  icons/codefactor.svg
  icons/couchbase.svg
  icons/dashlane.svg
  icons/disroot.svg
  icons/drupal.svg
  icons/dtube.svg
  icons/feedly.svg
  icons/hypothesis.svg
  icons/keycdn.svg
  icons/monzo.svg
  icons/myob.svg
  icons/nubank.svg
  icons/openid.svg
  icons/openvpn.svg
  icons/phpstorm.svg
  icons/runkit.svg
  icons/seagate.svg
  icons/sourcegraph.svg
  icons/stackbit.svg
  icons/teamcity.svg
  icons/transferwise.svg
  icons/tui.svg
  icons/tunein.svg
  icons/vonage.svg
  icons/vulkan.svg
  icons/wireshark.svg
  icons/write-dot-as.svg
  package-lock.json
  package.json
Labels: release

#4278 Specify guidelines on (registered) trademarks
  CONTRIBUTING.md
Labels: meta

#3897 Updated Eleventy
  .svglint-ignored.json
  icons/eleventy.svg
Labels: icon outdated

#3898 Updated ESEA
  .svglint-ignored.json
  icons/esea.svg
Labels: icon outdated

#3899 Updated Evernote
  .svglint-ignored.json
  icons/evernote.svg
Labels: icon outdated

#3633 Add National Grid
  _data/simple-icons.json
  icons/nationalgrid.svg
Labels: new icon

#3900 Updated EyeEm
  .svglint-ignored.json
  icons/eyeem.svg
Labels: icon outdated

#3894 Updated CRYENGINE
  .svglint-ignored.json
  icons/cryengine.svg
Labels: changes requested, icon outdated

#3913 Updated Livestream
  .svglint-ignored.json
  icons/livestream.svg
Labels: icon outdated

#3923 Updated Nim
  .svglint-ignored.json
  icons/nim.svg
Labels: icon outdated

#4254 Add Hack The Box
  _data/simple-icons.json
  icons/hackthebox.svg
Labels: new icon

#4203 Updated Steinberg
  .svglint-ignored.json
  icons/steinberg.svg
Labels: icon outdated

#4218 Update Svelte
  .svglint-ignored.json
  icons/svelte.svg
Labels: icon outdated

#3939 Updated SlideShare
  .svglint-ignored.json
  icons/slideshare.svg
Labels: icon outdated

#3962 Updated Airbus
  .svglint-ignored.json
  icons/airbus.svg
Labels: icon outdated

#3967 Updated Apache
  .svglint-ignored.json
  icons/apache.svg
Labels: icon outdated

#4215 Update Stylus
  .svglint-ignored.json
  icons/stylus.svg
Labels: icon outdated

#4294 Correct Apache
  icons/apache.svg
Labels: icon outdated

#3901 Updated Google My Business
  .svglint-ignored.json
  icons/googlemybusiness.svg
Labels: icon outdated

#4180 Updated Reason Studios
  .svglint-ignored.json
  icons/reasonstudios.svg
Labels: icon outdated

#4185 Updated Salesforce
  .svglint-ignored.json
  _data/simple-icons.json
  icons/salesforce.svg
Labels: icon outdated

#3904 Updated Gutenberg
  .svglint-ignored.json
  icons/gutenberg.svg
Labels: icon outdated

#3375 Add Tutanota
  _data/simple-icons.json
  icons/tutanota.svg
Labels: new icon

#4201 Updated Steem
  .svglint-ignored.json
  _data/simple-icons.json
  icons/steem.svg
Labels: icon outdated

#4169 Updated Platzi
  .svglint-ignored.json
  icons/platzi.svg
Labels: icon outdated

#3965 Updated Anaconda
  .svglint-ignored.json
  _data/simple-icons.json
  icons/anaconda.svg
Labels: icon outdated

#4089 Added Snowflake icon
  _data/simple-icons.json
  icons/snowflake.svg
Labels: new icon

#4071 Updated Humble Bundle
  .svglint-ignored.json
  icons/humblebundle.svg
Labels: icon outdated

#3969 Updated Apache OpenOffice
  .svglint-ignored.json
  _data/simple-icons.json
  icons/apacheopenoffice.svg
Labels: icon outdated

#3947 Updated Zalando
  .svglint-ignored.json
  icons/zalando.svg
Labels: icon outdated

#3992 Updated Bamboo
  .svglint-ignored.json
  icons/bamboo.svg
Labels: icon outdated

#4104 Updated MicroStrategy
  .svglint-ignored.json
  icons/microstrategy.svg
Labels: icon outdated

#4246 Update YouTube Music
  .svglint-ignored.json
  icons/youtubemusic.svg
Labels: icon outdated

#4100 Updated McAfee
  .svglint-ignored.json
  icons/mcafee.svg
Labels: icon outdated

#4310 Added Diagrams.net icon
  _data/simple-icons.json
  icons/diagrams-dot-net.svg
Labels: new icon

#4318 Fix multiple braces in single lines in '_data/simple-icons.json'
  _data/simple-icons.json
Labels: meta

#4111 Updated NFC
  .svglint-ignored.json
  icons/nfc.svg
Labels: changes requested, icon outdated

#3907 Updated HelloFresh
  .svglint-ignored.json
  _data/simple-icons.json
  icons/hellofresh.svg
Labels: changes requested, icon outdated

#4110 Updated Nextdoor
  .svglint-ignored.json
  _data/simple-icons.json
  icons/nextdoor.svg
Labels: icon outdated

#4241 Update XFCE
  .svglint-ignored.json
  icons/xfce.svg
Labels: changes requested, icon outdated

#4105 Updated Minds
  .svglint-ignored.json
  icons/minds.svg
Labels: icon outdated

#4311 Update SketchUp icon
  _data/simple-icons.json
  icons/sketchup.svg
Labels: icon outdated

#4309 Fix errors in website search and remove uneeded statements
  index.html
  site_script.js
Labels: website

#3981 Updated Audiomack
  .svglint-ignored.json
  icons/audiomack.svg
Labels: icon outdated

#4107 Updated NEC
  .svglint-ignored.json
  icons/nec.svg
Labels: icon outdated

#4113 Updated NuGet
  .svglint-ignored.json
  _data/simple-icons.json
  icons/nuget.svg
Labels: icon outdated

#4334 Publish 5 new icons and 36 updated icons
  .svglint-ignored.json
  CONTRIBUTING.md
  _data/simple-icons.json
  icons/airbus.svg
  icons/anaconda.svg
  icons/apache.svg
  icons/apacheopenoffice.svg
  icons/audiomack.svg
  icons/bamboo.svg
  icons/cryengine.svg
  icons/diagrams-dot-net.svg
  icons/eleventy.svg
  icons/esea.svg
  icons/evernote.svg
  icons/eyeem.svg
  icons/googlemybusiness.svg
  icons/gutenberg.svg
  icons/hackthebox.svg
  icons/hellofresh.svg
  icons/humblebundle.svg
  icons/livestream.svg
  icons/mcafee.svg
  icons/microstrategy.svg
  icons/minds.svg
  icons/nationalgrid.svg
  icons/nec.svg
  icons/nextdoor.svg
  icons/nfc.svg
  icons/nim.svg
  icons/nuget.svg
  icons/platzi.svg
  icons/reasonstudios.svg
  icons/salesforce.svg
  icons/sketchup.svg
  icons/slideshare.svg
  icons/snowflake.svg
  icons/steem.svg
  icons/steinberg.svg
  icons/stylus.svg
  icons/svelte.svg
  icons/tutanota.svg
  icons/xfce.svg
  icons/youtubemusic.svg
  icons/zalando.svg
  index.html
  package-lock.json
  package.json
  site_script.js
Labels: release

#4022 Updated Dependabot
  .svglint-ignored.json
  icons/dependabot.svg
Labels: icon outdated

#4337 Update Medium
  icons/medium.svg
Labels: icon outdated

#4262 Add a new linter rule for ineffective commands in paths
  .svglint-ignored.json
  .svglintrc.js
Labels: meta

#3902 Updated Google Podcasts
  .svglint-ignored.json
  icons/googlepodcasts.svg
Labels: icon outdated

#3906 Add Fastlane
  _data/simple-icons.json
  icons/fastlane.svg
Labels: new icon

#4339 Added Fing
  _data/simple-icons.json
  icons/fing.svg
Labels: new icon

#4320 Add lint to check JSON data file prettification
  .editorconfig
  package.json
  scripts/lint.js
Labels: dependencies, meta

#4143 Correct Bitrise icon
  .svglint-ignored.json
  icons/bitrise.svg
Labels: icon outdated

#4333 Minify icon HEX colors in website
  index.html
Labels: website

#4028 Updated Dunked
  .svglint-ignored.json
  icons/dunked.svg
Labels: icon outdated

#4348 Split release workflow into two workflows
  .github/workflows/create-release.yml
  .github/workflows/merge-release.yml
  .github/workflows/release.yml
Labels: meta

#4159 Updated Open Access
  .svglint-ignored.json
  icons/openaccess.svg
Labels: icon outdated

#4157 Updated Octave
  .svglint-ignored.json
  icons/octave.svg
Labels: icon outdated

#4041 Updated F-Secure
  .svglint-ignored.json
  icons/f-secure.svg
Labels: icon outdated

#4033 Updated Elastic Stack
  .svglint-ignored.json
  icons/elasticstack.svg
Labels: changes requested, icon outdated

#4101 Updated Meetup
  .svglint-ignored.json
  icons/meetup.svg
Labels: icon outdated

#4192 Updated SonicWall
  .svglint-ignored.json
  icons/sonicwall.svg
Labels: icon outdated

#3903 Updated Google Tag Manager
  .svglint-ignored.json
  icons/googletagmanager.svg
Labels: icon outdated

#4356 Avoid truthy check for strings in package index
  scripts/templates/index.js
Labels: package

#4055 Updated Godot Engine
  .svglint-ignored.json
  icons/godotengine.svg
Labels: icon outdated

#4350 Add lint rule to prohibit negative zeros within paths
  .svglint-ignored.json
  .svglintrc.js
  CONTRIBUTING.md
Labels: meta

#3999 Updated BMC Software
  .svglint-ignored.json
  icons/bmcsoftware.svg
Labels: icon outdated

#4029 Updated Dynatrace
  .svglint-ignored.json
  icons/dynatrace.svg
Labels: icon outdated

#4037 Updated Empire Kred
  .svglint-ignored.json
  icons/empirekred.svg
Labels: icon outdated

#4338 Added Dacia (#2059)
  _data/simple-icons.json
  icons/dacia.svg
Labels: new icon

#4045 Updated FeatHub
  .svglint-ignored.json
  icons/feathub.svg
Labels: icon outdated

#4044 Updated Favro
  .svglint-ignored.json
  icons/favro.svg
Labels: icon outdated

#4072 Updated Iata
  .svglint-ignored.json
  icons/iata.svg
Labels: icon outdated

#4330 Updated Travis CI
  icons/travisci.svg
Labels: icon outdated

#4349 Added Tasmota
  _data/simple-icons.json
  icons/tasmota.svg
Labels: new icon

#3866 Correct GNU icon
  .svglint-ignored.json
  icons/gnu.svg
Labels: icon outdated

#3870 Correct Vultr icon
  .svglint-ignored.json
  icons/vultr.svg
Labels: icon outdated

#4061 Updated Gradle
  .svglint-ignored.json
  icons/gradle.svg
Labels: icon outdated

#4108 Updated Netlify
  .svglint-ignored.json
  icons/netlify.svg
Labels: icon outdated

#4223 Update Terraform
  .svglint-ignored.json
  icons/terraform.svg
Labels: icon outdated

#4155 Updated OCaml
  .svglint-ignored.json
  icons/ocaml.svg
Labels: icon outdated

#3905 Updated HappyCow
  .svglint-ignored.json
  icons/happycow.svg
Labels: icon outdated

#4301 Add Fozzy
  _data/simple-icons.json
  icons/fozzy.svg
Labels: new icon

#4098 Updated Mastodon
  .svglint-ignored.json
  icons/mastodon.svg
Labels: changes requested, icon outdated

#4166 Updated Patreon
  .svglint-ignored.json
  icons/patreon.svg
Labels: icon outdated

#4260 Update Drupal icon
  _data/simple-icons.json
  icons/drupal.svg
Labels: icon outdated

#3910 Updated Kaspersky
  .svglint-ignored.json
  _data/simple-icons.json
  icons/kaspersky.svg
Labels: icon outdated

#3865 Correct LaTeX icon
  .svglint-ignored.json
  icons/latex.svg
Labels: icon outdated

#3941 Updated TELE5
  .svglint-ignored.json
  icons/tele5.svg
Labels: icon outdated

#3945 Updated WebAuthn
  .svglint-ignored.json
  icons/webauthn.svg
Labels: icon outdated

#3948 Updated ZDF
  .svglint-ignored.json
  icons/zdf.svg
Labels: icon outdated

#3943 Updated Trove
  .svglint-ignored.json
  icons/trove.svg
Labels: icon outdated

#3934 Updated Scaleway
  .svglint-ignored.json
  icons/scaleway.svg
Labels: icon outdated

#3944 Updated Vauxhall
  .svglint-ignored.json
  _data/simple-icons.json
  icons/vauxhall.svg
Labels: icon outdated

#4370 Update Typescript
  _data/simple-icons.json
  icons/typescript.svg
Labels: icon outdated

#4030 Updated Elastic
  .svglint-ignored.json
  icons/elastic.svg
Labels: icon outdated

#4372 Add Zenn
  _data/simple-icons.json
  icons/zenn.svg
Labels: new icon

#4366 Add workflow to remove outdated labels
  .github/workflows/add-labels.yml
  .github/workflows/remove-labels.yml
Labels: meta

#4099 Updated Mathworks
  .svglint-ignored.json
  _data/simple-icons.json
  icons/mathworks.svg
Labels: changes requested, icon outdated

#4032 Updated Elasticsearch
  .svglint-ignored.json
  icons/elasticsearch.svg
Labels: changes requested, icon outdated

#3993 Updated Bath ASU
  .svglint-ignored.json
  icons/bathasu.svg
Labels: icon outdated

#3994 Updated Beatport
  .svglint-ignored.json
  icons/beatport.svg
Labels: icon outdated

#4008 Updated Clyp
  .svglint-ignored.json
  icons/clyp.svg
Labels: icon outdated

#4018 Updated Dash
  .svglint-ignored.json
  icons/dash.svg
Labels: icon outdated

#4374 Correct Itch.io
  .svglint-ignored.json
  icons/itch-dot-io.svg
Labels: icon outdated

#4376 Updated Figma icon
  _data/simple-icons.json
  icons/figma.svg
Labels: icon outdated

#4343 Updated Apache Flink
  icons/apacheflink.svg
Labels: icon outdated

#4096 Updated Magisk
  .svglint-ignored.json
  icons/magisk.svg
Labels: icon outdated

#3925 Updated Open Source Initiative
  .svglint-ignored.json
  icons/opensourceinitiative.svg
Labels: icon outdated

#4161 Updated Origin
  .svglint-ignored.json
  icons/origin.svg
Labels: icon outdated

#3116 Updated Stitcher icon
  _data/simple-icons.json
  icons/stitcher.svg
Labels: icon outdated

#3384 Update Adobe Premiere Pro
  _data/simple-icons.json
  icons/adobepremierepro.svg
Labels: icon outdated

#3161 Update Mixcloud Logo
  _data/simple-icons.json
  icons/mixcloud.svg
Labels: icon outdated

#3968 Updated Apache Cassandra
  .svglint-ignored.json
  icons/apachecassandra.svg
Labels: icon outdated

#4014 Updated Composer
  .svglint-ignored.json
  icons/composer.svg
Labels: icon outdated

#4387 Added BigCommerce
  _data/simple-icons.json
  icons/bigcommerce.svg
Labels: new icon

#4170 Updated Plurk
  .svglint-ignored.json
  icons/plurk.svg
Labels: icon outdated

#4383 Improve README badges
  README.md
Labels: meta

#4345 Updated Apache RocketMQ
  _data/simple-icons.json
  icons/apacherocketmq.svg
Labels: icon outdated

#4375 Update Apache Solr
  _data/simple-icons.json
  icons/apachesolr.svg
Labels: icon outdated
