Repository simple-icons/simple-icons, pull requests merged in 2020-04, with the labels that each got.

#2834 Add Bloglovin
  _data/simple-icons.json
  icons/bloglovin.svg
Labels: new icon

#2828 Add Beijing Subway
  _data/simple-icons.json
  icons/beijingsubway.svg
Labels: new icon

#2881 Add Atari
  _data/simple-icons.json
  icons/atari.svg
Labels: new icon

#2839 Add Qantas
  _data/simple-icons.json
  icons/qantas.svg
Labels: new icon

#2876 Add CodersRank icon
  _data/simple-icons.json
  icons/codersrank.svg
Labels: new icon

#2888 Update ResearchGate icon with unboxed variant
  icons/researchgate.svg
Labels: icon outdated

#2843 Add Google Hangouts Meet
  _data/simple-icons.json
  icons/googlehangoutsmeet.svg
Labels: new icon

#2895 Add PlayStation Vita
  _data/simple-icons.json
  icons/playstationvita.svg
Labels: new icon

#2894 Add Hotels.com
  _data/simple-icons.json
  icons/hotels-dot-com.svg
Labels: new icon

#2868 Add Leaflet
  _data/simple-icons.json
  icons/leaflet.svg
Labels: new icon

#2867 Add Talend
  _data/simple-icons.json
  icons/talend.svg
Labels: new icon

#2891 Add Air France
  _data/simple-icons.json
  icons/airfrance.svg
Labels: new icon

#2903 Add Dior
  _data/simple-icons.json
  icons/dior.svg
Labels: new icon

#2906 Add Mozilla Thunderbird
  _data/simple-icons.json
  icons/mozillathunderbird.svg
Labels: new icon

#2910 Add Vultr
  _data/simple-icons.json
  icons/vultr.svg
Labels: changes requested, new icon

#2905 Add CocoaPods
  _data/simple-icons.json
  icons/cocoapods.svg
Labels: new icon

#2908 Add Audacity
  _data/simple-icons.json
  icons/audacity.svg
Labels: new icon

#2829 Add pixiv
  _data/simple-icons.json
  icons/pixiv.svg
Labels: new icon

#2808 Add Jameson
  _data/simple-icons.json
  icons/jameson.svg
Labels: new icon

#2882 Add Audioboom
  _data/simple-icons.json
  icons/audioboom.svg
Labels: new icon

#2883 Add Amazon Fire TV
  _data/simple-icons.json
  icons/amazonfiretv.svg
Labels: new icon

#2874 Add Apache Druid
  _data/simple-icons.json
  icons/apachedruid.svg
Labels: new icon

#2886 Update Various Adobe Icons (Pt. 2)
  _data/simple-icons.json
  icons/adobelightroomclassic.svg
  icons/adobephonegap.svg
  icons/adobepremiere.svg
Labels: icon outdated

#2927 Publish 22 new icons and 5 updated icon
  _data/simple-icons.json
  icons/adobelightroomclassic.svg
  icons/adobephonegap.svg
  icons/adobepremiere.svg
  icons/airfrance.svg
  icons/amazonfiretv.svg
  icons/apachedruid.svg
  icons/atari.svg
  icons/audacity.svg
  icons/audioboom.svg
  icons/beijingsubway.svg
  icons/bloglovin.svg
  icons/cliqz.svg
  icons/cocoapods.svg
  icons/codersrank.svg
  icons/dior.svg
  icons/dsautomobiles.svg
  icons/googlehangoutsmeet.svg
  icons/hotels-dot-com.svg
  icons/jameson.svg
  icons/leaflet.svg
  icons/mozillathunderbird.svg
  icons/pixiv.svg
  icons/playstationvita.svg
  icons/qantas.svg
  icons/researchgate.svg
  icons/talend.svg
  icons/vultr.svg
  package-lock.json
  package.json
Labels: release

#2809 Add POWERS
  _data/simple-icons.json
  icons/powers.svg
Labels: new icon

#2826 Add Flathub
  _data/simple-icons.json
  icons/flathub.svg
Labels: new icon

#2851 Add TUI
  _data/simple-icons.json
  icons/tui.svg
Labels: new icon

#2938 Add AppSignal
  _data/simple-icons.json
  icons/appsignal.svg
Labels: new icon

#2937 Add Kofax icon
  _data/simple-icons.json
  icons/kofax.svg
Labels: awaiting reply, new icon

#2934 Add KDE
  _data/simple-icons.json
  icons/kde.svg
Labels: new icon

#2935 Add Ghostery
  _data/simple-icons.json
  icons/ghostery.svg
Labels: new icon

#2907 Add MTR
  _data/simple-icons.json
  icons/mtr.svg
Labels: new icon

#2893 Add BT
  _data/simple-icons.json
  icons/bt.svg
Labels: new icon

#2871 Add Moleculer
  _data/simple-icons.json
  icons/moleculer.svg
Labels: new icon

#2892 Add Bentley
  _data/simple-icons.json
  icons/bentley.svg
Labels: new icon

#2936 Add RetroArch
  _data/simple-icons.json
  icons/retroarch.svg
Labels: new icon

#2946 Allow exponential notation inside icons paths.
  tests/icons.test.js
  tests/index.test.js
Labels: meta

#2921 Add Uploaded
  _data/simple-icons.json
  icons/uploaded.svg
Labels: new icon

#2958 Add Piwigo
  _data/simple-icons.json
  icons/piwigo.svg
Labels: changes requested, new icon

#2941 Add Checkmarx
  _data/simple-icons.json
  icons/checkmarx.svg
Labels: new icon

#2930 Update CDN URLs in the README
  README.md
Labels: docs

#2965 Clarify we don't want overlapping paths
  CONTRIBUTING.md
Labels: docs, in discussion

#2854 Add Métro de Paris
  _data/simple-icons.json
  icons/metrodeparis.svg
Labels: new icon

#2885 Add Moscow Metro
  _data/simple-icons.json
  icons/moscowmetro.svg
Labels: new icon

#2897 Add Guangzhou Metro
  _data/simple-icons.json
  icons/guangzhoumetro.svg
Labels: new icon

#2917 Add Shanghai Metro
  _data/simple-icons.json
  icons/shanghaimetro.svg
Labels: new icon

#2904 Add ASUS
  _data/simple-icons.json
  icons/asus.svg
Labels: new icon

#2916 Add Coda
  _data/simple-icons.json
  icons/coda.svg
Labels: new icon

#2945 Add GoFundMe
  _data/simple-icons.json
  icons/gofundme.svg
Labels: new icon

#2957 Add RetroPie
  _data/simple-icons.json
  icons/retropie.svg
Labels: new icon

#2970 Add PagerDuty
  _data/simple-icons.json
  icons/pagerduty.svg
Labels: new icon

#2959 Add Power BI
  _data/simple-icons.json
  icons/powerbi.svg
Labels: new icon

#2966 Add command to run all linting at once
  CONTRIBUTING.md
  package-lock.json
  package.json
Labels: dependencies, docs, meta

#2954 Add Autodesk
  _data/simple-icons.json
  icons/autodesk.svg
Labels: changes requested, new icon

#2915 Request: NBB Logo
  _data/simple-icons.json
  icons/nbb.svg
Labels: new icon, pending

#2990 Add Facebook Live
  _data/simple-icons.json
  icons/facebooklive.svg
Labels: new icon

#2991 Azure Functions (#2898)
  _data/simple-icons.json
  icons/azurefunctions.svg
Labels: new icon

#2918 Add Ardour
  _data/simple-icons.json
  icons/ardour.svg
Labels: awaiting reply, new icon
