Repository simple-icons/simple-icons, pull requests merged in 2020-10, with the labels that each got.

#3622 Correct Firefox Browser Icon
  .svglint-ignored.json
  icons/firefoxbrowser.svg
Labels: icon outdated

#3619 Correct Amazon icon
  .svglint-ignored.json
  icons/amazon.svg
Labels: icon outdated

#3620 Correct Firebase icon
  .svglint-ignored.json
  icons/firebase.svg
Labels: icon outdated

#3621 Correct GitLab icon
  .svglint-ignored.json
  icons/gitlab.svg
Labels: changes requested

#3327 Archicad icon update
  _data/simple-icons.json
  icons/archicad.svg
Labels: icon outdated

#3643 Update JSON icon
  .svglint-ignored.json
  icons/json.svg
Labels: icon outdated

#3642 Update Codecov icon
  .svglint-ignored.json
  icons/codecov.svg
Labels: icon outdated

#3644 Update Markdown icon
  .svglint-ignored.json
  icons/markdown.svg
Labels: icon outdated

#3656 Update Fedora Icon
  .svglint-ignored.json
  icons/fedora.svg
Labels: icon outdated

#3657 Update Linux Icon
  .svglint-ignored.json
  icons/linux.svg
Labels: icon outdated

#3658 Update Android Icon
  .svglint-ignored.json
  icons/android.svg
Labels: icon outdated

#3685 Correct rollup.js icon
  .svglint-ignored.json
  icons/rollup-dot-js.svg
Labels: icon outdated

#3687 Correct Nuxt.js icon
  .svglint-ignored.json
  icons/nuxt-dot-js.svg
Labels: icon outdated

#3683 Correct Webpack Icon
  .svglint-ignored.json
  icons/webpack.svg
Labels: icon outdated

#3688 Correct Next.js icon
  .svglint-ignored.json
  icons/next-dot-js.svg
Labels: icon outdated

#3236 Add El Jueves
  _data/simple-icons.json
  icons/eljueves.svg
Labels: new icon

#3209 Add SMRT
  _data/simple-icons.json
  icons/smrt.svg
Labels: new icon

#3724 Set up automated labeling
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: meta

#3433 Update svglint ignore list, add ignore list updater
  .svglint-ignored.json
  .svglintrc.js
Labels: meta

#3686 Correct Ruby on Rails icon
  .svglint-ignored.json
  icons/rubyonrails.svg
Labels: icon outdated

#3748 Correct Travis CI icon
  .svglint-ignored.json
  icons/travisci.svg
Labels: icon outdated

#3745 Correct GitKraken icon
  icons/gitkraken.svg
Labels: icon outdated

#3754 Correct MongoDB icon
  .svglint-ignored.json
  icons/mongodb.svg
Labels: icon outdated

#3775 Correct PlayStation icon
  .svglint-ignored.json
  icons/playstation.svg
Labels: icon outdated

#3755 Correct MySQL icon
  .svglint-ignored.json
  icons/mysql.svg
Labels: icon outdated

#3756 Correct PostgreSQL icon
  .svglint-ignored.json
  icons/postgresql.svg
Labels: icon outdated
