Repository simple-icons/simple-icons, pull requests merged in 2020-11, with the labels that each got.

#3741 Correct Python icon
  .svglint-ignored.json
  icons/python.svg
Labels: icon outdated

#3667 Correct YouTube Icon
  .svglint-ignored.json
  icons/youtube.svg
Labels: icon outdated

#3668 Correct Vimeo Icon
  .svglint-ignored.json
  icons/vimeo.svg
Labels: icon outdated

#3666 Correct Zoom Icon
  .svglint-ignored.json
  icons/zoom.svg
Labels: icon outdated

#3809 Correct Debian icon
  .svglint-ignored.json
  icons/debian.svg
Labels: icon outdated

#3737 Correct CoffeeScript icon
  .svglint-ignored.json
  icons/coffeescript.svg
Labels: icon outdated

#3783 Correct Awesome List icon
  .svglint-ignored.json
  icons/awesomelists.svg
Labels: icon outdated

#3779 Update XDA Developers icon
  _data/simple-icons.json
  icons/xdadevelopers.svg
Labels: icon outdated

#3739 Correct django icon
  .svglint-ignored.json
  icons/django.svg
Labels: icon outdated

#3740 Correct Flask Icon
  .svglint-ignored.json
  icons/flask.svg
Labels: icon outdated

#3738 Correct Deno icon
  .svglint-ignored.json
  icons/deno.svg
Labels: changes requested, icon outdated

#3826 Correct Huawei icon
  .svglint-ignored.json
  icons/huawei.svg
Labels: icon outdated

#3827 Correct LG icon
  .svglint-ignored.json
  icons/lg.svg
Labels: icon outdated

#3828 Correct Nokia icon
  .svglint-ignored.json
  icons/nokia.svg
Labels: icon outdated

#3742 Correct Redux icon
  .svglint-ignored.json
  icons/redux.svg
Labels: icon outdated

#3746 Correct Storybook icon
  .svglint-ignored.json
  icons/storybook.svg
Labels: icon outdated

#3747 Correct Strapi icon
  .svglint-ignored.json
  icons/strapi.svg
Labels: icon outdated

#3669 Correct Netflix Icon
  .svglint-ignored.json
  icons/netflix.svg
Labels: icon outdated

#3749 Correct Jenkins icon
  .svglint-ignored.json
  icons/jenkins.svg
Labels: icon outdated

#3759 Correct Ferrari icon
  .svglint-ignored.json
  icons/ferrari.svg
Labels: icon outdated

#3761 Correct Mercedes icon
  .svglint-ignored.json
  icons/mercedes.svg
Labels: icon outdated

#3760 Correct Honda icon
  .svglint-ignored.json
  icons/honda.svg
Labels: changes requested, icon outdated, new icon

#3778 Correct Ubisoft icon
  .svglint-ignored.json
  icons/ubisoft.svg
Labels: icon outdated

#3784 Correct CodeSandbox icon
  .svglint-ignored.json
  icons/codesandbox.svg
Labels: icon outdated

#3786 Correct Pastebin icon
  .svglint-ignored.json
  icons/pastebin.svg
Labels: icon outdated

#3802 Correct Android Studio
  .svglint-ignored.json
  icons/androidstudio.svg
Labels: icon outdated

#3805 Correct Visual Studio icon
  .svglint-ignored.json
  icons/visualstudio.svg
Labels: icon outdated

#3816 Correct Go icon
  .svglint-ignored.json
  icons/go.svg
Labels: icon outdated

#3823 Exclude unnecessary files and directories from website build
  _config.yml
Labels: meta, website

#3824 Remove 'index.html' empty lines to reduce built file size.
  index.html
Labels: website

#3774 Correct Nintendo GameCube icon
  .svglint-ignored.json
  icons/nintendogamecube.svg
Labels: changes requested, icon outdated

#3818 Correct curl icon
  .svglint-ignored.json
  icons/curl.svg
Labels: icon outdated, in discussion

#3847 Improve TravisCI configuration
  .travis.yml
Labels: meta

#3777 Correct PlayStation 4 icon
  .svglint-ignored.json
  icons/playstation4.svg
Labels: icon outdated

#3803 Correct Eclipse IDE icon
  .svglint-ignored.json
  icons/eclipseide.svg
Labels: icon outdated

#3808 Correct Arch Linux icon
  icons/archlinux.svg
Labels: icon outdated

#3810 Correct Gentoo icon
  .svglint-ignored.json
  icons/gentoo.svg
Labels: icon outdated

#3811 Correct GNOME icon
  .svglint-ignored.json
  icons/gnome.svg
Labels: icon outdated

#3814 Correct Angular icon
  .svglint-ignored.json
  icons/angular.svg
Labels: icon outdated

#3867 Update labeler.yml
  .github/workflows/labeler.yml
Labels: meta

#3815 Correct jQuery icon
  .svglint-ignored.json
  icons/jquery.svg
Labels: icon outdated

#3819 Correct PyTorch icon
  .svglint-ignored.json
  icons/pytorch.svg
Labels: icon outdated

#3804 Correct PowerShell icon
  .svglint-ignored.json
  icons/powershell.svg
Labels: icon outdated

#3806 Update Xcode icon
  .svglint-ignored.json
  icons/xcode.svg
Labels: icon outdated

#3832 Correct Hulu icon
  .svglint-ignored.json
  icons/hulu.svg
Labels: icon outdated

#3834 Correct QuickTime icon
  .svglint-ignored.json
  icons/quicktime.svg
Labels: icon outdated

#3835 Correct Vine icon
  .svglint-ignored.json
  icons/vine.svg
Labels: icon outdated

#3820 Correct Rust icon
  .svglint-ignored.json
  icons/rust.svg
Labels: icon outdated

#3833 Correct iTunes icon
  .svglint-ignored.json
  icons/itunes.svg
Labels: icon outdated

#3848 Correct Gatsby icon
  .svglint-ignored.json
  icons/gatsby.svg
Labels: icon outdated

#3849 Correct Laravel icon
  .svglint-ignored.json
  icons/laravel.svg
Labels: icon outdated

#3850 Correct Lumen icon
  .svglint-ignored.json
  icons/lumen.svg
Labels: icon outdated

#3836 Update Buy Me A Coffee icon
  _data/simple-icons.json
  icons/buymeacoffee.svg
Labels: changes requested, icon outdated

#3791 Add Numba icon
  _data/simple-icons.json
  icons/numba.svg
Labels: new icon

#3857 Correct Messenger icon
  .svglint-ignored.json
  icons/messenger.svg
Labels: icon outdated

#3858 Correct Myspace icon
  .svglint-ignored.json
  icons/myspace.svg
Labels: icon outdated

#3859 Correct TikTok icon
  .svglint-ignored.json
  icons/tiktok.svg
Labels: icon outdated

#3860 Correct Twitter icon
  .svglint-ignored.json
  icons/twitter.svg
Labels: icon outdated

#3856 Correct Facebook icon
  .svglint-ignored.json
  icons/facebook.svg
Labels: icon outdated

#3843 Allow exponential notation with E uppercase inside icon paths.
  tests/icons.test.js
  tests/index.test.js
Labels: meta

#3874 Correct Airbnb icon
  .svglint-ignored.json
  icons/airbnb.svg
Labels: icon outdated

#3875 Correct eBay icon
  .svglint-ignored.json
  icons/ebay.svg
Labels: icon outdated

#3876 Correct Etsy icon
  .svglint-ignored.json
  icons/etsy.svg
Labels: icon outdated

#3877 Correct Udemy icon
  .svglint-ignored.json
  icons/udemy.svg
Labels: icon outdated

#3878 Update Pepsi icon
  .svglint-ignored.json
  _data/simple-icons.json
  icons/pepsi.svg
Labels: icon outdated

#3883 Updated About.me
  .svglint-ignored.json
  icons/about-dot-me.svg
Labels: changes requested, icon outdated

#3750 Proposal: Check outlying precision while running linter
  .svglint-ignored.json
  .svglintrc.js
  .travis.yml
  package-lock.json
  package.json
Labels: dependencies, meta

#3979 Add minimum NodeJS version requirement to package.json
  package.json
Labels: package

#3985 Upgrade svglint to prevent silent exceptions
  .svglintrc.js
  package-lock.json
  package.json
Labels: dependencies, meta

#3730 Add GitHub Sponsors
  _data/simple-icons.json
  icons/githubsponsors.svg
Labels: new icon

#3977 Replace 'svg-path-bounding-box' with 'svg-path-bbox'.
  .svglint-ignored.json
  .svglintrc.js
  package-lock.json
  package.json
Labels: dependencies, meta

#4116 Document minimum Jekyll version required to build locally
  CONTRIBUTING.md
Labels: meta

#3884 Updated Atom
  .svglint-ignored.json
  icons/atom.svg
Labels: icon outdated

#4119 Remove Mixer
  _data/simple-icons.json
  icons/mixer.svg
Labels: breaking change

#4120 Rename Adobe Lightroom CC and Groovy
  _data/simple-icons.json
  icons/adobelightroom.svg
  icons/adobelightroomcc.svg
  icons/apachegroovy.svg
  icons/groovy.svg
Labels: breaking change, icon outdated

#3885 Updated Audio-Technica
  .svglint-ignored.json
  icons/audio-technica.svg
Labels: icon outdated

#3887 Updated Bitbucket
  .svglint-ignored.json
  icons/bitbucket.svg
Labels: icon outdated

#3888 Updated Bower
  .svglint-ignored.json
  icons/bower.svg
Labels: icon outdated

#4121 Replace Riot by Element
  _data/simple-icons.json
  icons/element.svg
  icons/riot.svg
Labels: breaking change, icon outdated

#3873 Correct AppSignal icon
  .svglint-ignored.json
  icons/appsignal.svg
Labels: icon outdated

#3872 Correct Atlassian icon
  .svglint-ignored.json
  _data/simple-icons.json
  icons/atlassian.svg
Labels: icon outdated

#3868 Correct C icon
  .svglint-ignored.json
  icons/c.svg
Labels: icon outdated

#4125 Skip release job in non-release pull request review
  .github/workflows/release.yml
Labels: meta

#4126 Switch from Travis CI to GitHub Actions
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
  .travis.yml
  README.md
Labels: meta

#4122 Replace Postwoman by Hoppscotch
  _data/simple-icons.json
  icons/hoppscotch.svg
  icons/postwoman.svg
Labels: breaking change, icon outdated

#3442 Update: Tor
  _data/simple-icons.json
  icons/tor.svg
  icons/torproject.svg
Labels: breaking change, icon outdated

#4141 Rename Google Hangouts Meet and Google Hangouts Chat
  _data/simple-icons.json
  icons/googlechat.svg
  icons/googlehangoutschat.svg
  icons/googlehangoutsmeet.svg
  icons/googlemeet.svg
Labels: breaking change, icon outdated

#4152 Patch README
  README.md
  package-lock.json
  package.json
Labels: release

#4151 Document local testing with minimum NodeJS version required
  CONTRIBUTING.md
Labels: docs, meta

#3961 Updated ABB RobotStudio
  .svglint-ignored.json
  icons/abbrobotstudio.svg
Labels: icon outdated

#3768 Add Couchbase Icon
  _data/simple-icons.json
  icons/couchbase.svg
Labels: new icon

#3908 Updated Hypothesis
  .svglint-ignored.json
  icons/hypothesis.svg
Labels: icon outdated

#3890 Updated Clockify
  .svglint-ignored.json
  _data/simple-icons.json
  icons/clockify.svg
Labels: icon outdated

#3895 Updated Dashlane
  .svglint-ignored.json
  _data/simple-icons.json
  icons/dashlane.svg
Labels: icon outdated

#3922 Updated Monzo
  .svglint-ignored.json
  icons/monzo.svg
Labels: icon outdated

#3911 Updated KeyCDN
  .svglint-ignored.json
  _data/simple-icons.json
  icons/keycdn.svg
Labels: icon outdated

#3924 Updated OpenID
  .svglint-ignored.json
  icons/openid.svg
Labels: icon outdated
