Repository simple-icons/simple-icons, pull requests merged in 2020-06, with the labels that each got.

#3150 Update Bitwarden color
  _data/simple-icons.json
Labels: icon outdated

#3133 Add N26
  _data/simple-icons.json
  icons/n26.svg
Labels: new icon

#3138 Add flutter package
  README.md
Labels: docs

#3152 Add Jasmine
  _data/simple-icons.json
  icons/jasmine.svg
Labels: new icon

#2997 Add KTM (#2985)
  _data/simple-icons.json
  icons/ktm.svg
Labels: new icon

#3153 Add Metro de Madrid
  _data/simple-icons.json
  icons/metrodemadrid.svg
Labels: changes requested, new icon

#3156 Add Metro de Ciudad de México
  _data/simple-icons.json
  icons/metrodelaciudaddemexico.svg
Labels: new icon

#3115 Add Tunein
  _data/simple-icons.json
  icons/tunein.svg
Labels: new icon

#3025 Add Prime Video
  _data/simple-icons.json
  icons/primevideo.svg
Labels: new icon

#3158 Add Shenzhen Metro
  _data/simple-icons.json
  icons/shenzhenmetro.svg
Labels: new icon

#2872 Add Scratch
  _data/simple-icons.json
  icons/scratch.svg
Labels: new icon

#3157 Add Tokyo Metro
  _data/simple-icons.json
  icons/tokyometro.svg
Labels: changes requested, new icon

#3159 Update SpaceX
  _data/simple-icons.json
  icons/spacex.svg
Labels: icon outdated

#3182 Add VirusTotal icon
  _data/simple-icons.json
  icons/virustotal.svg
Labels: changes requested, new icon

#3181 Update Apache Pulsar
  _data/simple-icons.json
  icons/apachepulsar.svg
Labels: awaiting reply, icon outdated, in discussion

#3144 Adds Quasar
  _data/simple-icons.json
  icons/quasar.svg
Labels: changes requested, new icon

#1532 Add a SVGO Docker image for Simpleicons formatting
  .dockerignore
  CONTRIBUTING.md
  Dockerfile
Labels: meta

#3184 Add Canonical
  _data/simple-icons.json
  icons/canonical.svg
Labels: changes requested, new icon

#3010 Add Prime
  _data/simple-icons.json
  icons/prime.svg
Labels: new icon

#3107 Add linter to check svg path dimensions
  .svglint-ignored.json
  .svglintrc.js
  CONTRIBUTING.md
  package-lock.json
  package.json
Labels: meta

#3048 Add Dhl
  _data/simple-icons.json
  icons/dhl.svg
Labels: new icon

#3165 Add Openlayers
  _data/simple-icons.json
  icons/openlayers.svg
Labels: new icon

#2979 Update Fur Affinity icon
  _data/simple-icons.json
  icons/furaffinity.svg
Labels: icon outdated

#3170 Update Jupyter icon
  icons/jupyter.svg
Labels: icon outdated

#3166 Update Apache ECharts
  _data/simple-icons.json
  icons/apacheecharts.svg
Labels: icon outdated

#3195 Land Rover
  _data/simple-icons.json
  icons/landrover.svg
Labels: new icon

#3168 Add Der Spiegel
  _data/simple-icons.json
  icons/derspiegel.svg
Labels: new icon

#3221 Fix Quasar
  icons/quasar.svg
Labels: icon outdated

#3222 Patch 1 icon
  icons/quasar.svg
  package-lock.json
  package.json
Labels: release

#2790 Add Google News
  _data/simple-icons.json
  icons/googlenews.svg
Labels: new icon

#3069 Add Trove
  _data/simple-icons.json
  icons/trove.svg
Labels: new icon

#3211 Add Ansys
  _data/simple-icons.json
  icons/ansys.svg
Labels: new icon

#3210 Add Mini
  _data/simple-icons.json
  icons/mini.svg
Labels: new icon

#3179 Add Shikimori
  _data/simple-icons.json
  icons/shikimori.svg
Labels: new icon

#3045 Add Sennheiser
  _data/simple-icons.json
  icons/sennheiser.svg
Labels: new icon

#3113 Add NestJS
  _data/simple-icons.json
  icons/nestjs.svg
Labels: new icon

#3162 Add Qt
  _data/simple-icons.json
  icons/qt.svg
Labels: new icon

#3227 update URL for intercom
  _data/simple-icons.json
Labels: icon outdated

#3207 Add Alexa ranks to GitHub Templates
  .github/ISSUE_TEMPLATE/icon_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: docs, meta

#3239 Add linting step for extraneous elements in SVGs
  .svglintrc.js
  icons/bmcsoftware.svg
Labels: meta

#3180 Normalise accented characters in website search
  index.html
  site_script.js
Labels: website

#3261 JFrog Bintray icon
  _data/simple-icons.json
  icons/jfrogbintray.svg
Labels: changes requested, new icon

#3137 Update Simple Icons icon
  icons/simpleicons.svg
  images/apple-touch-icon.png
  images/favicon.ico
  images/favicon.png
  images/logo.svg
Labels: icon outdated, website

#3273 Add Hey icon (#3264)
  _data/simple-icons.json
  icons/hey.svg
Labels: changes requested, new icon

#3262 Payoneer
  _data/simple-icons.json
  icons/payoneer.svg
Labels: awaiting reply, changes requested, new icon
