Repository simple-icons/simple-icons, pull requests merged in 2021-08, with the labels that each got.

#6161 add etcd icon
  _data/simple-icons.json
  icons/etcd.svg
Labels: changes requested, new icon

#6162 Zenodo
  _data/simple-icons.json
  icons/zenodo.svg
Labels: new icon

#6185 Remove executable flag from file mode
  .github/workflows/verify.yml
  icons/dgraph.svg
  icons/django.svg
  icons/homebrew.svg
  icons/pagekit.svg
  icons/uikit.svg
Labels: meta

#6188 add containerd icon
  _data/simple-icons.json
  icons/containerd.svg
Labels: new icon

#6144 Add Equinix Metal icon
  _data/simple-icons.json
  icons/equinixmetal.svg
Labels: new icon, changes requested

#6193 Add DevExpress icon
  _data/simple-icons.json
  icons/devexpress.svg
Labels: new icon

#6123 Add Lidl icon
  _data/simple-icons.json
  icons/lidl.svg
Labels: new icon, changes requested

#6238 Added "-D" for dev dependency
  README.md
Labels: docs, changes requested

#5922 Add New Balance
  _data/simple-icons.json
  icons/newbalance.svg
Labels: new icon, changes requested

#5923 Add Under Armour
  _data/simple-icons.json
  icons/underarmour.svg
Labels: new icon

#5928 Add MLB
  _data/simple-icons.json
  icons/mlb.svg
Labels: new icon

#6200 Add Rimac automobili Icon
  _data/simple-icons.json
  icons/rimacautomobili.svg
Labels: new icon

#5794 Add Spring
  _data/simple-icons.json
  icons/spring_creators.svg
Labels: new icon

#5731 Add StopStalk
  _data/simple-icons.json
  icons/stopstalk.svg
Labels: new icon

#5843 Add Shadow
  _data/simple-icons.json
  icons/shadow.svg
Labels: new icon, changes requested

#6216 updated signal icon to the newer version
  _data/simple-icons.json
  icons/signal.svg
Labels: icon outdated

#6122 Update TrainerRoad Icon
  _data/simple-icons.json
  icons/trainerroad.svg
Labels: icon outdated, in discussion

#6218 corrected ineffective segment for Guangzhoumetro icon
  .svglint-ignored.json
  icons/guangzhoumetro.svg
Labels: icon outdated

#6323 Update data for Canonical logo
  _data/simple-icons.json
Labels: changes requested, icon data

#6282 Update Unreal Engine
  _data/simple-icons.json
  icons/unrealengine.svg
Labels: icon outdated

#6274 Adding Alfred icon
  _data/simple-icons.json
  icons/alfred.svg
Labels: new icon

#6146 Add Hetzner icon
  _data/simple-icons.json
  icons/hetzner.svg
Labels: new icon

#6349 changed engine to engines
  package.json
Labels: package

#6341 Adding Joplin icon
  _data/simple-icons.json
  icons/joplin.svg
Labels: new icon

#5660 Add KinoPoisk
  _data/simple-icons.json
  icons/kinopoisk.svg
Labels: new icon

#6296 adding Cubana de Aviacion
  _data/simple-icons.json
  icons/cubanadeaviacion.svg
Labels: new icon

#6298 adding Habanos icon
  _data/simple-icons.json
  icons/habanos.svg
Labels: new icon

#6179 Drop `package-lock.json`
  .gitattributes
  .github/renovate.json5
  .github/workflows/publish.yml
  .github/workflows/verify.yml
  .npmrc
  scripts/release/bump-version.js
Labels: meta

#6322 Update data for freecodecamp logo
  _data/simple-icons.json
Labels: icon data

#6292 Adding MAMP icon
  _data/simple-icons.json
  icons/mamp.svg
Labels: new icon

#6230 updating semaphore CI icon
  icons/semaphoreci.svg
Labels: icon outdated, changes requested

#6366 Add OpenMined icon
  _data/simple-icons.json
  icons/openmined.svg
Labels: new icon

#6320 Update data for JPEG logo
  _data/simple-icons.json
Labels: icon data

#6219 updated sat1 icon by removing ineffective segment
  .svglint-ignored.json
  icons/sat1.svg
Labels: icon outdated

#6387 Add E.Leclerc icon
  _data/simple-icons.json
  icons/edotleclerc.svg
Labels: new icon

#6424 Upgrade git-message-action from v1 to v1.2.0
  .github/workflows/publish.yml
Labels: meta

#6269 add walmart icon
  _data/simple-icons.json
  icons/walmart.svg
Labels: new icon

#6364 Proposal for clarification about links to be included for icon source data
  CONTRIBUTING.md
Labels: meta

#6417 Update graphql icon and source
  _data/simple-icons.json
  icons/graphql.svg
Labels: icon outdated

#6420 Change color and source for Teamviewer
  _data/simple-icons.json
Labels: icon data

#6221 removed collinear segment on furry network
  .svglint-ignored.json
  icons/furrynetwork.svg
Labels: icon outdated
