Repository simple-icons/simple-icons, pull requests merged in 2021-07, with the labels that each got.

#6071 Fix the release body of GitHub releases created by publish.yml
  .github/workflows/publish.yml
Labels: meta

#5786 Add Spreadshirt (w/ alias Spreadshop)
  _data/simple-icons.json
  icons/spreadshirt.svg
Labels: new icon

#5738 Add Hacker Noon
  _data/simple-icons.json
  icons/hackernoon.svg
Labels: new icon

#6034 feat: add boehringer ingelheim icon
  _data/simple-icons.json
  icons/boehringeringelheim.svg
Labels: new icon

#5289 Add /e/
  _data/simple-icons.json
  icons/e.svg
Labels: new icon

#5151 Add Plausible Analytics
  _data/simple-icons.json
  icons/plausibleanalytics.svg
Labels: new icon

#6084 Add Douban Read
  _data/simple-icons.json
  icons/doubanread.svg
Labels: new icon

#6065 Add Civo icon
  _data/simple-icons.json
  icons/civo.svg
Labels: new icon

#6093 Add Istio icon
  _data/simple-icons.json
  icons/istio.svg
Labels: changes requested, new icon

#6114 Add `Douban`, `Douban Read` license
  _data/simple-icons.json
Labels: icon data

#6086 Add Grab
  _data/simple-icons.json
  icons/grab.svg
Labels: new icon

#5884 Update arXiv icon
  .svglint-ignored.json
  icons/arxiv.svg
Labels: icon outdated

#6103 Add Windi CSS
  _data/simple-icons.json
  icons/windicss.svg
Labels: new icon

#5649 Add Packer
  _data/simple-icons.json
  icons/packer.svg
Labels: new icon

#5831 Add DPD
  _data/simple-icons.json
  icons/dpd.svg
Labels: new icon

#5837 Add Dungeons & Dragons (w/ alias "D&D")
  _data/simple-icons.json
  icons/dungeonsanddragons.svg
Labels: new icon

#6147 Letter S review
  _data/simple-icons.json
Labels: icon data

#6158 update udemy - issue #6150
  _data/simple-icons.json
  icons/udemy.svg
Labels: icon outdated

#6124 Update ReactiveX icon
  .svglint-ignored.json
  _data/simple-icons.json
  icons/reactivex.svg
Labels: icon outdated
