Repository simple-icons/simple-icons, pull requests merged in 2021-04, with the labels that each got.

#5195 Add Icinga
  _data/simple-icons.json
  icons/icinga.svg
Labels: new icon

#5370 Update NPM test suite
  tests/icons.test.js
  tests/index.test.js
Labels: package

#5421 Update workflow names
  .github/workflows/add-labels.yml
  .github/workflows/create-release.yml
  .github/workflows/merge-release.yml
  .github/workflows/publish.yml
  .github/workflows/remove-labels.yml
  .github/workflows/verify.yml
Labels: meta

#5281 Add webhint icon
  _data/simple-icons.json
  icons/webhint.svg
Labels: changes requested, new icon

#5254 Update Xcode
  _data/simple-icons.json
  icons/xcode.svg
Labels: icon outdated, in discussion

#5430 Update Preview Generator URL in PR Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: meta

#5425 Update Gitpod icon
  _data/simple-icons.json
  icons/gitpod.svg
Labels: icon outdated

#5426 Update Xiaomi
  _data/simple-icons.json
  icons/xiaomi.svg
Labels: icon outdated

#5399 add storyblok icon
  _data/simple-icons.json
  icons/storyblok.svg
Labels: changes requested, new icon

#5237 Add EditorConfig
  _data/simple-icons.json
  icons/editorconfig.svg
Labels: changes requested, new icon

#5314 Update Dior
  _data/simple-icons.json
  icons/dior.svg
Labels: awaiting reply, icon outdated

#5054 Add Passport (PassportJS)
  _data/simple-icons.json
  icons/passport.svg
Labels: new icon

#5216 Add Shelly
  _data/simple-icons.json
  icons/shelly.svg
Labels: new icon

#5441 Add Klarna
  _data/simple-icons.json
  icons/klarna.svg
Labels: new icon

#5378 Update Loom
  _data/simple-icons.json
  icons/loom.svg
Labels: icon outdated

#4874 Add Mumble
  _data/simple-icons.json
  icons/mumble.svg
Labels: new icon

#5450 add Verdaccio
  _data/simple-icons.json
  icons/verdaccio.svg
Labels: changes requested, new icon

#5339 Update Raspberry Pi
  icons/raspberrypi.svg
Labels: icon outdated

#5444 Add UpCloud
  _data/simple-icons.json
  icons/upcloud.svg
Labels: new icon

#5402 add fontbase icon
  _data/simple-icons.json
  icons/fontbase.svg
Labels: new icon

#5456 add third party extension - laravel blade
  README.md
Labels: docs

#5401 add vite icon
  _data/simple-icons.json
  icons/vite.svg
Labels: changes requested, new icon

#5459 Update trello icon
  _data/simple-icons.json
  icons/trello.svg
Labels: icon outdated

#5149 Add Funding Option
  .github/FUNDING.yml
Labels: meta, pending

#5458 Add Imou
  _data/simple-icons.json
  icons/imou.svg
Labels: new icon

#5447 Add CLion icon.
  _data/simple-icons.json
  icons/clion.svg
Labels: changes requested, new icon

#5400 Purgecss
  _data/simple-icons.json
  icons/purgecss.svg
Labels: changes requested, new icon

#5460 Add GNU licenses
  _data/simple-icons.json
Labels: icon data

#5171 Add MediaTek icon
  _data/simple-icons.json
  icons/mediatek.svg
Labels: new icon

#5452 Add Hasura
  _data/simple-icons.json
  icons/hasura.svg
Labels: new icon

#5487 Add python package to third party extensions
  README.md
Labels: meta

#5380 Added Metabase
  _data/simple-icons.json
  icons/metabase.svg
Labels: new icon

#5285 Update r
  _data/simple-icons.json
  icons/r.svg
Labels: changes requested, icon outdated

#5465 Add KashFlow icon
  _data/simple-icons.json
  icons/kashflow.svg
Labels: new icon

#5468 Update Plus Codes icon
  _data/simple-icons.json
  icons/pluscodes.svg
Labels: icon outdated

#5193 Add Kdenlive
  _data/simple-icons.json
  icons/kdenlive.svg
Labels: changes requested, new icon

#5454 Add Forestry
  _data/simple-icons.json
  icons/forestry.svg
Labels: changes requested, new icon

#5493 Added Datto
  _data/simple-icons.json
  icons/datto.svg
Labels: new icon

#5448 Add LIFX
  _data/simple-icons.json
  icons/lifx.svg
Labels: new icon

#5464 Update Gitpod Icon color
  _data/simple-icons.json
Labels: awaiting reply, changes requested, icon outdated

#5437 Add Immer
  _data/simple-icons.json
  icons/immer.svg
Labels: changes requested, new icon

#5482 Add pnpm icon
  _data/simple-icons.json
  icons/pnpm.svg
Labels: new icon

#5491 Update Zotero
  icons/zotero.svg
Labels: icon outdated

#5467 Updated PayPal
  _data/simple-icons.json
  icons/paypal.svg
Labels: icon outdated

#5489 Add icon for Automattic
  _data/simple-icons.json
  icons/automattic.svg
Labels: changes requested, new icon

#5505 Add FamPay icon
  _data/simple-icons.json
  icons/fampay.svg
Labels: new icon

#5518 Add photopea icon
  _data/simple-icons.json
  icons/photopea.svg
Labels: changes requested, new icon

#5527 Fix redirection when returning from new website
  site_script.js
Labels: website

#5496 Letter I review
  _data/simple-icons.json
Labels: changes requested, icon data

#5529 Update Let’s Encrypt icon
  icons/letsencrypt.svg
Labels: icon outdated

#5445 Add Tekton
  _data/simple-icons.json
  icons/tekton.svg
Labels: new icon

#5190 Add Rocket.Chat
  .svglint-ignored.json
  _data/simple-icons.json
  icons/rocket-dot-chat.svg
Labels: new icon

#5497 Add Roblox icon
  _data/simple-icons.json
  icons/roblox.svg
Labels: changes requested, new icon

#5148 Add Ask Ubuntu
  _data/simple-icons.json
  icons/askubuntu.svg
Labels: changes requested, new icon

#5211 Add ScrollReveal
  _data/simple-icons.json
  icons/scrollreveal.svg
Labels: new icon
