Repository simple-icons/simple-icons, pull requests merged in 2021-02, with the labels that each got.

#4890 Request: Suckless Icon
  _data/simple-icons.json
  icons/suckless.svg
Labels: new icon

#4685 Updated Google Sheets
  _data/simple-icons.json
  icons/googlesheets.svg
Labels: icon outdated

#4525 Updated Google Chrome
  _data/simple-icons.json
  icons/googlechrome.svg
Labels: icon outdated

#4864 Add Showtime
  _data/simple-icons.json
  icons/showtime.svg
Labels: new icon

#4871 Add LiveChat icon
  _data/simple-icons.json
  icons/livechat.svg
Labels: new icon

#4906 Update .NET
  _data/simple-icons.json
  icons/dot-net.svg
Labels: changes requested, icon outdated

#4705 Add PubMed
  _data/simple-icons.json
  icons/pubmed.svg
Labels: changes requested, new icon

#4833 Add more characters to normalisation scripts
  index.html
  scripts/utils.js
  site_script.js
Labels: meta, package, website

#4891 Request: dwm Icon
  _data/simple-icons.json
  icons/dwm.svg
Labels: changes requested, new icon

#4925 Change the Flutter package to an updated one
  README.md
Labels: docs

#4872 Website: add banner asking visitors to check out the redesign
  index.html
  site_script.js
  stylesheet.css
Labels: website

#4950 Update Node Usage documentation examples
  README.md
Labels: docs

#4931 Refactor scripts in scripts/
  scripts/build-package.js
  scripts/get-filename.js
  scripts/lint.js
  scripts/utils.js
  tests/icons.test.js
  tests/index.test.js
Labels: meta

#4930 Update New Japan Pro-Wrestling
  .svglint-ignored.json
  _data/simple-icons.json
  icons/newjapanpro-wrestling.svg
Labels: icon outdated

#4907 Update Svelte
  _data/simple-icons.json
  icons/svelte.svg
Labels: icon outdated

#4904 Update openSUSE
  _data/simple-icons.json
  icons/opensuse.svg
Labels: icon outdated

#4839 Added Oxygen
  _data/simple-icons.json
  icons/oxygen.svg
Labels: new icon

#4954 Add AOL
  _data/simple-icons.json
  icons/aol.svg
Labels: changes requested, new icon

#4915 Add Major League Hacking
  _data/simple-icons.json
  icons/majorleaguehacking.svg
Labels: new icon

#4812 Added Cloudera
  _data/simple-icons.json
  icons/cloudera.svg
Labels: changes requested, new icon

#4956 Added Windows Terminal
  _data/simple-icons.json
  icons/windowsterminal.svg
Labels: new icon

#4683 Update Google Street View
  icons/googlestreetview.svg
Labels: icon outdated

#4966 Add Textpattern icon
  _data/simple-icons.json
  icons/textpattern.svg
Labels: new icon

#4939 Update LinkedIn Colour
  _data/simple-icons.json
Labels: icon outdated

#4985 Add LinkedIn Guidelines
  _data/simple-icons.json
Labels: icon data

#4586 Updated Google Tag Manager
  icons/googletagmanager.svg
Labels: changes requested, icon outdated

#4827 Add China Eastern Airlines
  _data/simple-icons.json
  icons/chinaeasternairlines.svg
Labels: changes requested, new icon

#4400 Updated Android Auto Source
  _data/simple-icons.json
Labels: icon outdated

#4495 Update Roundcube
  _data/simple-icons.json
  icons/roundcube.svg
Labels: icon outdated, in discussion

#4714 Add Pug
  _data/simple-icons.json
  icons/pug.svg
Labels: new icon

#4818 Add Blockchain.com
  _data/simple-icons.json
  icons/blockchain-dot-com.svg
Labels: in discussion, new icon

#4825 D-Wave Systems
  _data/simple-icons.json
  icons/d-wavesystems.svg
Labels: awaiting reply, new icon

#5009 Updated Maserati
  _data/simple-icons.json
  icons/maserati.svg
Labels: icon outdated

#4879 Add Shotcut
  _data/simple-icons.json
  icons/shotcut.svg
Labels: new icon

#5006 Updated DS Automobiles
  _data/simple-icons.json
  icons/dsautomobiles.svg
Labels: icon outdated

#5048 Update InVision
  _data/simple-icons.json
  icons/invision.svg
Labels: icon data, icon outdated

#4897 Add teratail
  _data/simple-icons.json
  icons/teratail.svg
Labels: new icon

#5052 Add Prisma
  _data/simple-icons.json
  icons/prisma.svg
Labels: new icon

#5065 Correct Textpattern hex colour
  _data/simple-icons.json
Labels: icon data, icon outdated

#3155 Add Linux Containers
  _data/simple-icons.json
  icons/linuxcontainers.svg
Labels: new icon

#4756 Add Resurrection Remix OS
  _data/simple-icons.json
  icons/resurrectionremixos.svg
Labels: new icon

#4762 Add Dogecoin
  _data/simple-icons.json
  icons/dogecoin.svg
Labels: in discussion, new icon

#4774 Added Podman
  _data/simple-icons.json
  icons/podman.svg
Labels: new icon

#3909 Update IconJar
  .svglint-ignored.json
  _data/simple-icons.json
  icons/iconjar.svg
Labels: icon outdated

#4877 Add ChatBot icon
  _data/simple-icons.json
  icons/chatbot.svg
Labels: new icon

#4918 Allow custom slugs
  .jsonlintschema
  index.html
  scripts/build-package.js
  scripts/templates/index.js
  tests/icons.test.js
  tests/index.test.js
Labels: docs, package

#4945 Add icon license to JSON linting (and change JSON linting dependency)
  .jsonlintschema
  .jsonschema.json
  CONTRIBUTING.md
  _data/simple-icons.json
  package-lock.json
  package.json
  scripts/jsonlint.js
Labels: dependencies, meta

#3008 Add Hive Blockchain
  _data/simple-icons.json
  icons/hive_blockchain.svg
Labels: new icon

#4895 Add HelpDesk icon
  _data/simple-icons.json
  icons/helpdesk.svg
Labels: new icon

#4921 Disallow underscores in slugs and filenames(*)
  _data/simple-icons.json
  index.html
  scripts/utils.js
Labels: package

#5042 Add WebdriverIO icon
  _data/simple-icons.json
  icons/webdriverio.svg
Labels: changes requested, new icon

#4821 Add ANA
  _data/simple-icons.json
  icons/ana.svg
Labels: new icon

#4869 Add Qatar Airways
  _data/simple-icons.json
  icons/qatarairways.svg
Labels: new icon

#4873 Add Hibernate
  _data/simple-icons.json
  icons/hibernate.svg
Labels: new icon

#4757 Add Codeberg
  _data/simple-icons.json
  icons/codeberg.svg
Labels: changes requested, new icon

#4882 Add Apache Hive
  _data/simple-icons.json
  icons/apachehive.svg
Labels: new icon

#5013 Updated Peugeot
  _data/simple-icons.json
  icons/peugeot.svg
Labels: icon outdated

#5072 Add Handshake (Protocol)
  _data/simple-icons.json
  icons/handshake_protocol.svg
Labels: new icon

#5059 Add OnlyFans
  _data/simple-icons.json
  icons/onlyfans.svg
Labels: new icon

#5071 Add Handshake
  _data/simple-icons.json
  icons/handshake.svg
Labels: new icon

#5037 Add Databricks
  _data/simple-icons.json
  icons/databricks.svg
Labels: new icon

#4998 Add sharp
  _data/simple-icons.json
  icons/sharp.svg
Labels: new icon

#5041 Add Rider & JetBrains Guidelines
  _data/simple-icons.json
  icons/rider.svg
Labels: icon data, new icon

#4995 Add semantic-release
  _data/simple-icons.json
  icons/semantic-release.svg
Labels: new icon

#4994 Add Aerospike
  _data/simple-icons.json
  icons/aerospike.svg
Labels: new icon

#4989 Add IEEE
  _data/simple-icons.json
  icons/ieee.svg
Labels: new icon

#4987 Add Naver
  _data/simple-icons.json
  icons/naver.svg
Labels: new icon

#5012 Updated Opel
  _data/simple-icons.json
  icons/opel.svg
Labels: icon outdated

#4986 Add MobX
  _data/simple-icons.json
  icons/mobx.svg
Labels: new icon

#4988 Add Sefaria
  _data/simple-icons.json
  icons/sefaria.svg
Labels: new icon

#5077 Add Miro icon
  _data/simple-icons.json
  icons/miro.svg
Labels: new icon

#4984 Add MobX-State-Tree
  _data/simple-icons.json
  icons/mobx-state-tree.svg
Labels: new icon

#4982 Add Cycling '74
  _data/simple-icons.json
  icons/cycling74.svg
Labels: new icon

#4893 Add MODX
  _data/simple-icons.json
  icons/modx.svg
Labels: new icon

#4894 Add Juniper Networks
  _data/simple-icons.json
  icons/junipernetworks.svg
Labels: new icon

#4980 Add OpenFaaS
  _data/simple-icons.json
  icons/openfaas.svg
Labels: new icon

#4959 Add Lion Air
  _data/simple-icons.json
  icons/lionair.svg
Labels: new icon

#4953 Add Alibaba.com
  _data/simple-icons.json
  icons/alibaba-dot-com.svg
Labels: new icon

#4909 Add Ethiopian Airlines
  _data/simple-icons.json
  icons/ethiopianairlines.svg
Labels: new icon

#4908 Add British Airways
  _data/simple-icons.json
  icons/britishairways.svg
Labels: new icon

#5046 Add Aparat
  _data/simple-icons.json
  icons/aparat.svg
Labels: new icon

#4505 Updated Google Play
  _data/simple-icons.json
  icons/googleplay.svg
Labels: icon outdated

#5005 Update Citroën
  icons/citroen.svg
Labels: icon outdated

#5079 Upgrade SVGO to version 2
  .svgo.yml
  package-lock.json
  package.json
  svgo.config.js
Labels: dependencies, meta

#4718 Add MyAnimeList
  _data/simple-icons.json
  icons/myanimelist.svg
Labels: awaiting reply, new icon

#5045 Add Grammarly icon
  _data/simple-icons.json
  icons/grammarly.svg
Labels: changes requested, new icon

#5066 Simplify how scripts get icon slugs
  scripts/build-package.js
  scripts/get-filename.js
  scripts/utils.js
  tests/icons.test.js
  tests/index.test.js
Labels: changes requested, meta

#4997 Add AssemblyScript icon
  _data/simple-icons.json
  icons/assemblyscript.svg
Labels: awaiting reply, new icon

#5069 Ensure that icon paths start with moveto command
  .svglintrc.js
  tests/icons.test.js
Labels: meta

#4922 Add KnowledgeBase icon
  _data/simple-icons.json
  icons/knowledgebase.svg
Labels: new icon

#5100 Add Rezgo
  _data/simple-icons.json
  icons/rezgo.svg
Labels: new icon

#4911 Add/AutoHotkey
  _data/simple-icons.json
  icons/autohotkey.svg
Labels: new icon

#4888 Add S7 Airlines
  _data/simple-icons.json
  icons/s7airlines.svg
Labels: changes requested, new icon

#4892 Add AirAsia
  _data/simple-icons.json
  icons/airasia.svg
Labels: new icon

#4981 Add Max
  _data/simple-icons.json
  icons/max.svg
Labels: changes requested, new icon

#4957 Add Etihad Airways
  _data/simple-icons.json
  icons/etihadairways.svg
Labels: changes requested, new icon

#4977 Add Apostrophe icon
  _data/simple-icons.json
  icons/apostrophe.svg
Labels: changes requested, new icon

#4875 Add Swiggy
  _data/simple-icons.json
  icons/swiggy.svg
Labels: new icon

#5016 Kakaotalk icon
  _data/simple-icons.json
  icons/kakaotalk.svg
Labels: new icon

#5103 Add PlayCanvas
  _data/simple-icons.json
  icons/playcanvas.svg
Labels: new icon

#5105 Add ts-node icon
  _data/simple-icons.json
  icons/ts-node.svg
Labels: new icon

#5101 Improve Contributing Guidelines for Git, GitHub, and SVG beginners
  CONTRIBUTING.md
Labels: meta

#4944 Add Apple Arcade icon
  _data/simple-icons.json
  icons/applearcade.svg
Labels: new icon

#4858 Add Supabase
  _data/simple-icons.json
  icons/supabase.svg
Labels: new icon

#4860 Add Nx
  _data/simple-icons.json
  icons/nx.svg
Labels: new icon

#4905 Add SUSE
  _data/simple-icons.json
  icons/suse.svg
Labels: in discussion, new icon

#4955 Add Amul
  _data/simple-icons.json
  icons/amul.svg
Labels: new icon

#5111 Adding Plotly Icon
  _data/simple-icons.json
  icons/plotly.svg
Labels: new icon

#4958 Add Bitwig
  _data/simple-icons.json
  icons/bitwig.svg
Labels: changes requested, new icon

#5014 Added Ram Trucks
  _data/simple-icons.json
  icons/ram.svg
Labels: new icon

#4790 Add SurveyMonkey
  _data/simple-icons.json
  icons/surveymonkey.svg
Labels: new icon

#5118 Add Baremetrics icon
  _data/simple-icons.json
  icons/baremetrics.svg
Labels: new icon

#5074 Added Namebase
  _data/simple-icons.json
  icons/namebase.svg
Labels: new icon

#5011 Updated Jeep
  _data/simple-icons.json
  icons/jeep.svg
Labels: icon outdated

#4991 Update Chrysler
  _data/simple-icons.json
  icons/chrysler.svg
Labels: icon outdated

#5015 Updated Vauxhall
  _data/simple-icons.json
  icons/vauxhall.svg
Labels: icon outdated

#5119 Update Peugeot
  _data/simple-icons.json
  icons/peugeot.svg
Labels: icon outdated

#5063 add nano
  _data/simple-icons.json
  icons/nano.svg
Labels: awaiting reply, new icon

#5127 Reveal.js
  _data/simple-icons.json
  icons/reveal-dot-js.svg
Labels: new icon

#5128 Update number of optimization ways in CONTRIBUTE.md
  CONTRIBUTING.md
Labels: meta

#5007 Added Vaadin icon
  _data/simple-icons.json
  icons/vaadin.svg
Labels: changes requested, new icon

#5114 Add Kasa Smart
  _data/simple-icons.json
  icons/kasasmart.svg
Labels: new icon

#5122 Add CBS
  _data/simple-icons.json
  icons/cbs.svg
Labels: new icon

#5008 Updated Fiat
  _data/simple-icons.json
  icons/fiat.svg
Labels: icon outdated
