Repository simple-icons/simple-icons, pull requests merged in 2021-11, with the labels that each got.

#6799 Add Abbott icon
  _data/simple-icons.json
  icons/abbott.svg
Labels: new icon

#6784 Add: Bukalapak icon
  _data/simple-icons.json
  icons/bukalapak.svg
Labels: new icon

#6766 Add Adyen icon
  _data/simple-icons.json
  icons/adyen.svg
Labels: new icon

#6765 Add Typeform icon
  _data/simple-icons.json
  icons/typeform.svg
Labels: new icon

#6815 adding underscorejs
  _data/simple-icons.json
  icons/underscoredotjs.svg
Labels: new icon

#5972 Add esbuild icon
  _data/simple-icons.json
  icons/esbuild.svg
Labels: new icon

#6668 Add Code Review
  _data/simple-icons.json
  icons/codereview.svg
Labels: new icon

#6769 adding comsol icon
  _data/simple-icons.json
  icons/comsol.svg
Labels: new icon

#6505 Use getter for `svg` instead of `path` in packaged javascript version of icons
  scripts/build/package.js
  scripts/build/templates/icon-object.js
  scripts/utils.js
  tests/icons.test.js
  tests/index.test.js
Labels: package

#6375 Add EDEKA icon
  _data/simple-icons.json
  icons/edeka.svg
Labels: new icon

#5287 Add Obsidian
  _data/simple-icons.json
  icons/obsidian.svg
Labels: new icon

#6333 Add Sabanci icon
  _data/simple-icons.json
  icons/sabanci.svg
Labels: new icon

#6335 Add AMG icon
  _data/simple-icons.json
  icons/amg.svg
Labels: new icon

#6545 Add Géant icon
  _data/simple-icons.json
  icons/geant.svg
Labels: new icon

#6732 Add BEM icon
  _data/simple-icons.json
  icons/bem.svg
Labels: new icon

#6672 Add Cockpit icon
  _data/simple-icons.json
  icons/cockpit.svg
Labels: new icon

#6663 Add Dlib icon
  _data/simple-icons.json
  icons/dlib.svg
Labels: new icon

#5904 Add Merck icon
  _data/simple-icons.json
  icons/merck.svg
Labels: new icon

#6762 Add D-EDGE
  _data/simple-icons.json
  icons/dedge.svg
  slugs.md
Labels: new icon

#6685 Added Kuaishou icon
  _data/simple-icons.json
  icons/kuaishou.svg
Labels: new icon

#6582 updated Trove icon
  _data/simple-icons.json
  icons/trove.svg
Labels: icon outdated

#6327 updating sololearn ico
  _data/simple-icons.json
  icons/sololearn.svg
Labels: icon outdated

#6555 Updating TMDB icon
  _data/simple-icons.json
  icons/themoviedatabase.svg
Labels: icon outdated

#6836 Ohdear2
  _data/simple-icons.json
  icons/ohdear.svg
Labels: new icon

#6571 Add Iceland icon
  _data/simple-icons.json
  icons/iceland.svg
Labels: new icon

#6749 Ruby Sinatra icon from a scratch
  _data/simple-icons.json
  icons/rubysinatra.svg
Labels: new icon

#6587 Update Trulia icon
  _data/simple-icons.json
  icons/trulia.svg
Labels: icon outdated

#5717 Add Power Apps
  _data/simple-icons.json
  icons/powerapps.svg
Labels: new icon

#6654 adding Funimation icon
  _data/simple-icons.json
  icons/funimation.svg
Labels: new icon

#6469 Add Appian Icon
  _data/simple-icons.json
  icons/appian.svg
Labels: new icon, changes requested

#6372 Add Netto icon
  _data/simple-icons.json
  icons/netto.svg
Labels: new icon

#6297 updating Disroot icon
  _data/simple-icons.json
  icons/disroot.svg
Labels: icon outdated

#6818 Fix typo in linter
  .svglintrc.js
Labels: meta

#6837 Sony icon
  _data/simple-icons.json
  icons/sony.svg
Labels: new icon

#6563 add skypack icon
  _data/simple-icons.json
  icons/skypack.svg
Labels: new icon

#6517 Adding Mulesoft icon
  _data/simple-icons.json
  icons/mulesoft.svg
Labels: new icon

#6835 Add gitignore icon
  _data/simple-icons.json
  icons/gitignoredotio.svg
Labels: new icon, changes requested

#6863 Add Polkadot icon
  _data/simple-icons.json
  icons/polkadot.svg
Labels: new icon

#6855 Schneider Electric icon
  _data/simple-icons.json
  icons/schneiderelectric.svg
Labels: new icon

#6822 Add Flat icon
  _data/simple-icons.json
  icons/flat.svg
Labels: new icon

#6869 Add Anta icon
  _data/simple-icons.json
  icons/anta.svg
Labels: new icon

#6877 Add Tubi
  _data/simple-icons.json
  icons/tubi.svg
Labels: new icon

#6857 Lemmy
  _data/simple-icons.json
  icons/lemmy.svg
Labels: new icon

#6820 Remove `.get` from package's default export
  index.d.ts
  scripts/build/templates/index.js
  tests/index.test.js
Labels: package, breaking change

#6897 Add Salt Project
  _data/simple-icons.json
  icons/saltproject.svg
Labels: new icon

#6890 Remove "Skyliner" icon
  _data/simple-icons.json
  icons/skyliner.svg
Labels: breaking change

#6891 Remove "SaltStack" icon
  _data/simple-icons.json
  icons/saltstack.svg
Labels: breaking change

#6892 Remove "Fedora" icon
  .svglint-ignored.json
  _data/simple-icons.json
  icons/fedora.svg
Labels: breaking change

#6887 Update BandLab icon
  _data/simple-icons.json
  icons/bandlab.svg
Labels: icon outdated

#4910 Remove PJSIP
  _data/simple-icons.json
  icons/pjsip.svg
Labels: out of scope, breaking change

#6900 add deprecation warnings for icons/* imports
  scripts/build/package.js
  tests/icons.test.js
Labels: package

#6730 Add MUI icon (in the scope of renaming from Material-UI)
  _data/simple-icons.json
  icons/mui.svg
Labels: new icon

#6898 make building async and minify with esbuild
  package.json
  scripts/build/package.js
Labels: package

#6902 Remove Material UI
  _data/simple-icons.json
  icons/materialui.svg
Labels: breaking change

#3912 Remove Koding
  .svglint-ignored.json
  _data/simple-icons.json
  icons/koding.svg
Labels: out of scope, in discussion, breaking change

#6771 Update Deno icon
  _data/simple-icons.json
  icons/deno.svg
Labels: icon outdated

#6880 Avoid CRLF in SVG
  .svglintrc.js
  package.json
Labels: meta, package

#5524 Add Lerna icon
  _data/simple-icons.json
  icons/lerna.svg
Labels: new icon

#6901 rename Google Cast to Chromecast
  _data/simple-icons.json
  icons/chromecast.svg
  icons/googlecast.svg
Labels: icon outdated, breaking change

#6876 Add Game & Watch
  _data/simple-icons.json
  icons/gameandwatch.svg
Labels: new icon

#6874 Add Quicklook
  _data/simple-icons.json
  icons/quicklook.svg
Labels: new icon

#6917 add TheAlgorithms icon #6912
  _data/simple-icons.json
  icons/thealgorithms.svg
Labels: new icon

#6921 Bump `named-html-entities-json` to stable version
  package.json
Labels: dependencies

#6392 Add Boots icon
  _data/simple-icons.json
  icons/boots.svg
Labels: new icon

#6595 adding SolidJS icon
  _data/simple-icons.json
  icons/solid.svg
Labels: new icon

#6390 Add ASDA icon
  _data/simple-icons.json
  icons/asda.svg
Labels: new icon

#6915 switch from jest to uvu
  jest.config.js
  package.json
  scripts/lint/ourlint.js
  tests/index.test.js
  tests/test-icon.js
Labels: package

#6925 Add 'Testing Package Locally' section to CONTRIBUTING toc
  CONTRIBUTING.md
Labels: docs

#6926 Update SVGO config
  svgo.config.js
Labels: meta
