Repository simple-icons/simple-icons, pull requests merged in 2021-06, with the labels that each got.

#5165 Update ManageIQ
  .svglint-ignored.json
  icons/manageiq.svg
Labels: icon outdated

#5842 Fix error in 'icon-precision' lint rule
  .svglintrc.js
Labels: meta

#5515 Add Construct 3 Icon
  _data/simple-icons.json
  icons/construct3.svg
Labels: changes requested, new icon

#5744 Added PaddyPower icon
  _data/simple-icons.json
  icons/paddypower.svg
Labels: changes requested, new icon

#5838 Add STACKIT icon
  _data/simple-icons.json
  icons/stackit.svg
Labels: new icon

#5846 Update 'svg-path-bbox' to v1.0.0
  .svglintrc.js
  package-lock.json
  package.json
Labels: dependencies

#5463 Update Kaggle icon
  _data/simple-icons.json
  icons/kaggle.svg
Labels: changes requested, icon outdated, in discussion

#5876 Upgrade svg-path-segments to stable version
  package-lock.json
  package.json
Labels: dependencies

#5895 Add zalo
  _data/simple-icons.json
  icons/zalo.svg
Labels: new icon

#5856 Add Kaufland icon
  _data/simple-icons.json
  icons/kaufland.svg
Labels: new icon

#5820 Add platform.sh icon
  _data/simple-icons.json
  icons/platformdotsh.svg
Labels: changes requested, new icon

#4830 Add BigBlueButton
  _data/simple-icons.json
  icons/bigbluebutton.svg
Labels: new icon

#5864 add wallabag icon
  _data/simple-icons.json
  icons/wallabag.svg
Labels: new icon

#5868 Add Portainer icon
  _data/simple-icons.json
  icons/portainer.svg
Labels: new icon

#5818 Add Railway Icon
  _data/simple-icons.json
  icons/railway.svg
Labels: new icon

#5906 Add Binance
  _data/simple-icons.json
  icons/binance.svg
Labels: new icon

#5871 Added pytest icon
  _data/simple-icons.json
  icons/pytest.svg
Labels: new icon

#5841 Add Cloud Foundry icon
  _data/simple-icons.json
  icons/cloudfoundry.svg
Labels: new icon

#5924 Add Icons8
  _data/simple-icons.json
  icons/icons8.svg
Labels: changes requested, new icon

#5909 Add ByteDance
  _data/simple-icons.json
  icons/bytedance.svg
Labels: changes requested, new icon

#5168 Update Grubhub
  .svglint-ignored.json
  icons/grubhub.svg
Labels: icon outdated

#5492 Add dbt icon
  _data/simple-icons.json
  icons/dbt.svg
Labels: new icon

#5986 Update Battle.net
  _data/simple-icons.json
  icons/battledotnet.svg
Labels: icon outdated

#5985 Update Beatport
  _data/simple-icons.json
  icons/beatport.svg
Labels: icon outdated

#5806 Added Polywork
  _data/simple-icons.json
  icons/polywork.svg
Labels: new icon

#5572 Add Zig programming language icon
  _data/simple-icons.json
  icons/zig.svg
Labels: changes requested, new icon

#5989 Update Foursquare & Add Foursquare City Guide
  _data/simple-icons.json
  icons/foursquare.svg
  icons/foursquarecityguide.svg
Labels: icon outdated

#5353 Add App Annie icon
  _data/simple-icons.json
  icons/appannie.svg
Labels: changes requested, new icon

#5821 Add Nette Framework
  _data/simple-icons.json
  icons/nette.svg
Labels: new icon

#5908 Add NordVPN
  _data/simple-icons.json
  icons/nordvpn.svg
Labels: changes requested, new icon

#5910 Add Starbucks
  _data/simple-icons.json
  icons/starbucks.svg
Labels: changes requested, new icon

#5746 Added Frontend Mentor icon
  _data/simple-icons.json
  icons/frontendmentor.svg
Labels: changes requested, new icon

#5916 Add Nike
  _data/simple-icons.json
  icons/nike.svg
Labels: changes requested, new icon

#5917 Add Adidas
  _data/simple-icons.json
  icons/adidas.svg
Labels: changes requested, new icon

#5920 Add Jordan
  _data/simple-icons.json
  icons/jordan.svg
Labels: new icon

#5921 Add Reebok
  _data/simple-icons.json
  icons/reebok.svg
Labels: changes requested, new icon

#5999 Add Protractor icon
  _data/simple-icons.json
  icons/protractor.svg
Labels: changes requested, new icon

#5968 feat: add cytoscape.js icon
  _data/simple-icons.json
  icons/cytoscapedotjs.svg
Labels: changes requested, new icon

#4539 Add Sequelize
  _data/simple-icons.json
  icons/sequelize.svg
Labels: new icon

#5919 Add Puma
  _data/simple-icons.json
  icons/puma.svg
Labels: changes requested, new icon

#6012 Update create-release.yml
  .github/workflows/create-release.yml
Labels: meta

#5866 Request: PyScaffold Icon
  _data/simple-icons.json
  icons/pyscaffold.svg
Labels: new icon

#5971 Add AEW icon
  _data/simple-icons.json
  icons/aew.svg
Labels: changes requested, new icon

#5979 feat: add react table icon
  _data/simple-icons.json
  icons/reacttable.svg
Labels: new icon

#5995 Spond
  _data/simple-icons.json
  icons/spond.svg
Labels: changes requested, new icon

#6025 Add KFC
  _data/simple-icons.json
  icons/kfc.svg
Labels: changes requested, new icon

#6029 Add RxJS alias to ReactiveX
  _data/simple-icons.json
Labels: icon data, in discussion

#6001 Add ExpressVPN icon
  _data/simple-icons.json
  icons/expressvpn.svg
Labels: changes requested, new icon

#5797 Added Konva
  _data/simple-icons.json
  icons/konva.svg
Labels: new icon

#6014 Update Workplace
  _data/simple-icons.json
  icons/workplace.svg
Labels: icon outdated

#5528 Add Razorpay
  _data/simple-icons.json
  icons/razorpay.svg
Labels: new icon

#5912 Improve CI config: caching & refactoring
  .github/workflows/publish.yml
  .github/workflows/verify.yml
  .gitignore
  jest.config.js
Labels: meta
