Repository simple-icons/simple-icons, pull requests merged in 2021-01, with the labels that each got.

#3635 Add WeTransfer icon
  _data/simple-icons.json
  icons/wetransfer.svg
Labels: changes requested, new icon

#3660 Add QubesOS
  _data/simple-icons.json
  icons/qubesos.svg
Labels: changes requested, new icon

#4533 Add remote trigger for simple-icons-font to publishing workflow
  .github/workflows/publish.yml
Labels: meta

#3328 Add Rakuten Icon
  _data/simple-icons.json
  icons/rakuten.svg
Labels: new icon

#3253 Add Photobucket
  _data/simple-icons.json
  icons/photobucket.svg
Labels: new icon

#4484 Updated Known
  _data/simple-icons.json
  icons/known.svg
Labels: icon outdated

#4439 Correct Toyota icon
  .svglint-ignored.json
  _data/simple-icons.json
  icons/toyota.svg
Labels: icon outdated, in discussion

#4214 Update strongSwan
  .svglint-ignored.json
  icons/strongswan.svg
Labels: icon outdated

#4563 Unlocalize SVG editors links in contribution guidelines
  CONTRIBUTING.md
Labels: docs

#4566 Specify recommended continuous monochromatic geometries treatment
  CONTRIBUTING.md
Labels: docs

#3507 Add logo p5.js
  _data/simple-icons.json
  icons/p5-dot-js.svg
Labels: new icon

#3626 Add Veepee icon
  _data/simple-icons.json
  icons/veepee.svg
Labels: new icon

#3624 Add RedwoodJS icon
  _data/simple-icons.json
  icons/redwoodjs.svg
Labels: new icon

#4412 Added streamlit icon
  _data/simple-icons.json
  icons/streamlit.svg
Labels: changes requested, new icon

#3631 Add 3m
  _data/simple-icons.json
  icons/3m.svg
Labels: new icon

#4281 Add PyPy
  _data/simple-icons.json
  icons/pypy.svg
Labels: in discussion, new icon

#4220 Update Synology
  .svglint-ignored.json
  _data/simple-icons.json
  icons/synology.svg
Labels: icon outdated

#4058 Updated Google Cardboard
  .svglint-ignored.json
  _data/simple-icons.json
  icons/googlecardboard.svg
Labels: icon outdated, in discussion

#4585 Fix variable reference error in 'ineffective-segments' lint
  .svglint-ignored.json
  .svglintrc.js
Labels: meta

#4589 Lint collinear coordinates inside straight lines
  .svglint-ignored.json
  .svglintrc.js
Labels: meta

#4473 Updated Fossa
  .svglint-ignored.json
  _data/simple-icons.json
  icons/fossa.svg
Labels: icon outdated

#3386 Update Adobe XD
  _data/simple-icons.json
  icons/adobexd.svg
Labels: icon outdated

#4477 Updated Lenovo
  .svglint-ignored.json
  _data/simple-icons.json
  icons/lenovo.svg
Labels: icon outdated

#3671 Add Facepunch
  _data/simple-icons.json
  icons/facepunch.svg
Labels: new icon

#4483 Updated XMPP
  .svglint-ignored.json
  _data/simple-icons.json
  icons/xmpp.svg
Labels: icon outdated

#3680 Add Progate
  _data/simple-icons.json
  icons/progate.svg
Labels: awaiting reply, new icon

#4475 Updated Kyocera
  .svglint-ignored.json
  _data/simple-icons.json
  icons/kyocera.svg
Labels: icon outdated

#4592 Updated Andela
  .svglint-ignored.json
  icons/andela.svg
Labels: icon outdated

#4482 Updated Wish
  .svglint-ignored.json
  icons/wish.svg
Labels: icon outdated

#4468 Add Spark AR icon
  _data/simple-icons.json
  icons/sparkar.svg
Labels: changes requested, new icon

#4481 Updated Trustpilot
  .svglint-ignored.json
  icons/trustpilot.svg
Labels: icon outdated

#4583 Updated Waze
  _data/simple-icons.json
  icons/waze.svg
Labels: icon outdated

#4581 Updated YouTube Studio
  icons/youtubestudio.svg
Labels: icon outdated

#4504 Updated Google Analytics
  _data/simple-icons.json
  icons/googleanalytics.svg
Labels: icon outdated

#4405 Updated YouTube TV
  _data/simple-icons.json
  icons/youtubetv.svg
Labels: icon outdated

#3661 Add Zoho
  _data/simple-icons.json
  icons/zoho.svg
Labels: new icon

#3638 Add eightsleep icon
  _data/simple-icons.json
  icons/eightsleep.svg
Labels: new icon

#3483 Add Racket icon
  _data/simple-icons.json
  icons/racket.svg
Labels: new icon

#3512 add TMUX
  _data/simple-icons.json
  icons/tmux.svg
Labels: changes requested, new icon

#3535 Added lichess icon
  _data/simple-icons.json
  icons/lichess.svg
Labels: new icon

#3772 Add SciPy icon
  _data/simple-icons.json
  icons/scipy.svg
Labels: new icon

#4604 Fix error in 'collinear-segments' lint
  .svglint-ignored.json
  .svglintrc.js
Labels: meta

#4597 Update Viber
  .svglint-ignored.json
  _data/simple-icons.json
  icons/viber.svg
Labels: icon outdated

#4596 Update Udacity
  .svglint-ignored.json
  icons/udacity.svg
Labels: icon outdated

#4595 Update Zendesk
  _data/simple-icons.json
  icons/zendesk.svg
Labels: icon outdated

#4605 Add Zelle
  _data/simple-icons.json
  icons/zelle.svg
Labels: new icon

#4598 Update Harbor
  icons/harbor.svg
Labels: changes requested, icon outdated

#3316 Add Winmate Icon
  _data/simple-icons.json
  icons/winmate.svg
Labels: new icon

#4485 Updated Kotlin
  .svglint-ignored.json
  icons/kotlin.svg
Labels: icon outdated

#4582 Updated YouTube
  icons/youtube.svg
Labels: icon outdated

#4508 Updated Google
  _data/simple-icons.json
  icons/google.svg
Labels: icon outdated

#4503 Update Stadia
  _data/simple-icons.json
  icons/stadia.svg
Labels: icon outdated

#4361 Added Lada
  _data/simple-icons.json
  icons/lada.svg
Labels: new icon

#4359 Added Wipro
  _data/simple-icons.json
  icons/wipro.svg
Labels: changes requested, new icon

#4319 Added Radar
  _data/simple-icons.json
  icons/radar.svg
Labels: changes requested, new icon

#4341 Added Google Photos
  _data/simple-icons.json
  icons/googlephotos.svg
Labels: new icon

#3769 add Pop OS Logo
  _data/simple-icons.json
  icons/pop_os.svg
Labels: new icon

#4591 Update Amazon Lumberyard
  .svglint-ignored.json
  icons/amazonlumberyard.svg
Labels: icon outdated

#4593 Updated Apache Maven
  icons/apachemaven.svg
Labels: icon outdated

#3554 Add Rainmeter
  _data/simple-icons.json
  icons/rainmeter.svg
Labels: new icon

#4442 Added Looker
  _data/simple-icons.json
  icons/looker.svg
Labels: new icon

#4609 Add AniList
  _data/simple-icons.json
  icons/anilist.svg
Labels: changes requested, new icon

#4393 Added DataStax
  _data/simple-icons.json
  icons/datastax.svg
Labels: new icon

#4396 Added Accenture
  _data/simple-icons.json
  icons/accenture.svg
Labels: new icon

#4392 Added Cognizant
  _data/simple-icons.json
  icons/cognizant.svg
Labels: new icon

#4612 Add STARZ
  _data/simple-icons.json
  icons/starz.svg
Labels: new icon

#4611 Add Progress
  _data/simple-icons.json
  icons/progress.svg
Labels: new icon

#4391 Added Revue
  _data/simple-icons.json
  icons/revue.svg
Labels: new icon

#4397 Added Fortran
  _data/simple-icons.json
  icons/fortran.svg
Labels: new icon

#4594 Added Apache JMeter
  _data/simple-icons.json
  icons/apachejmeter.svg
Labels: new icon

#4398 Added Digi-Key Electronics
  _data/simple-icons.json
  icons/digi-keyelectronics.svg
Labels: new icon

#4614 Add Tile
  _data/simple-icons.json
  icons/tile.svg
Labels: new icon

#4568 Added Webflow
  _data/simple-icons.json
  icons/webflow.svg
Labels: new icon

#4570 Added São Paulo Metro
  _data/simple-icons.json
  icons/saopaulometro.svg
Labels: new icon

#4571 Added Testin
  _data/simple-icons.json
  icons/testin.svg
Labels: new icon

#4572 Added Big Basket
  _data/simple-icons.json
  icons/bigbasket.svg
Labels: new icon

#4575 Added CodinGame
  _data/simple-icons.json
  icons/codingame.svg
Labels: new icon

#4616 Fixed naming of 'bigbasket'
  _data/simple-icons.json
  icons/bigbasket.svg
Labels: icon outdated

#4580 Added OpenCV
  _data/simple-icons.json
  icons/opencv.svg
Labels: changes requested, new icon

#4617 Add CodeProject
  _data/simple-icons.json
  icons/codeproject.svg
Labels: new icon

#4618 Update Daimler
  .svglint-ignored.json
  icons/daimler.svg
Labels: icon outdated

#4606 Add Vault
  _data/simple-icons.json
  icons/vault.svg
Labels: new icon

#4608 Add Noun Project
  _data/simple-icons.json
  icons/nounproject.svg
Labels: new icon

#4615 Add Bugcrowd
  _data/simple-icons.json
  icons/bugcrowd.svg
Labels: new icon

#4626 Add Speedtest
  _data/simple-icons.json
  icons/speedtest.svg
Labels: new icon

#4620 Update Gatsby
  .svglint-ignored.json
  _data/simple-icons.json
  icons/gatsby.svg
Labels: icon outdated

#3425 Add Motorola
  _data/simple-icons.json
  icons/motorola.svg
Labels: new icon

#4512 Added CheckiO
  _data/simple-icons.json
  icons/checkio.svg
Labels: new icon

#4520 Added Kitsu
  _data/simple-icons.json
  icons/kitsu.svg
Labels: new icon

#4537 Added Contentful
  _data/simple-icons.json
  icons/contentful.svg
Labels: changes requested, new icon

#4540 Add Jitsi
  _data/simple-icons.json
  icons/jitsi.svg
Labels: new icon

#4536 Added AIOHTTP
  _data/simple-icons.json
  icons/aiohttp.svg
Labels: changes requested, new icon

#4538 Added McLaren
  _data/simple-icons.json
  icons/mclaren.svg
Labels: new icon

#3352 Add Cloudways icon
  _data/simple-icons.json
  icons/cloudways.svg
Labels: new icon

#4631 Add Eclipse Vert.x
  _data/simple-icons.json
  icons/eclipsevert-dot-x.svg
Labels: new icon

#4542 Added Testing Library
  _data/simple-icons.json
  icons/testinglibrary.svg
Labels: new icon

#4544 Added Grubhub
  _data/simple-icons.json
  icons/grubhub.svg
Labels: new icon

#4545 Added Apache Kylin
  _data/simple-icons.json
  icons/apachekylin.svg
Labels: new icon

#4546 Added Deepnote
  _data/simple-icons.json
  icons/deepnote.svg
Labels: new icon

#3154 Add SEPA
  _data/simple-icons.json
  icons/sepa.svg
Labels: changes requested, new icon

#4547 Added MetaFilter
  _data/simple-icons.json
  icons/metafilter.svg
Labels: new icon

#4607 Add Homebridge
  _data/simple-icons.json
  icons/homebridge.svg
Labels: awaiting reply, new icon

#4622 Add Google Domains
  _data/simple-icons.json
  icons/googledomains.svg
Labels: new icon

#4548 Added Klook
  _data/simple-icons.json
  icons/klook.svg
Labels: new icon

#3424 Add Xilinx
  _data/simple-icons.json
  icons/xilinx.svg
Labels: new icon

#4549 Added USPS
  _data/simple-icons.json
  icons/usps.svg
Labels: new icon

#4550 Added ThinkPad
  _data/simple-icons.json
  icons/thinkpad.svg
Labels: new icon

#4426 Added De'Longhi
  _data/simple-icons.json
  icons/delonghi.svg
Labels: in discussion, new icon

#4551 Added Open Nebula
  _data/simple-icons.json
  icons/opennebula.svg
Labels: new icon

#4555 Added IKEA
  _data/simple-icons.json
  icons/ikea.svg
Labels: new icon

#4553 Added PageSpeed Insights
  _data/simple-icons.json
  icons/pagespeedinsights.svg
Labels: changes requested, new icon

#4636 Update Zillow
  _data/simple-icons.json
  icons/zillow.svg
Labels: icon outdated

#4638 Remove Degree Symbol in Filenames
  index.html
  scripts/utils.js
Labels: meta

#4639 Update WP Engine
  .svglint-ignored.json
  _data/simple-icons.json
  icons/wpengine.svg
Labels: icon outdated

#4562 Added Swiper
  _data/simple-icons.json
  icons/swiper.svg
Labels: new icon

#4625 Add Gitee
  _data/simple-icons.json
  icons/gitee.svg
Labels: new icon

#4624 Add SoloLearn
  _data/simple-icons.json
  icons/sololearn.svg
Labels: new icon

#4552 Added B&R Automation
  _data/simple-icons.json
  icons/b-and-rautomation.svg
Labels: changes requested, new icon

#4630 Add Weights & Biases
  _data/simple-icons.json
  icons/weights-and-biases.svg
Labels: new icon

#4640 Add Observable
  _data/simple-icons.json
  icons/observable.svg
Labels: new icon

#4556 Added Scrimba
  _data/simple-icons.json
  icons/scrimba.svg
Labels: new icon

#4627 Add Open Bug Bounty
  _data/simple-icons.json
  icons/openbugbounty.svg
Labels: new icon

#4561 Added Zotero
  _data/simple-icons.json
  icons/92F60AF7.jpg
  icons/zotero.svg
Labels: new icon

#4564 Added FedEx
  _data/simple-icons.json
  icons/fedex.svg
Labels: new icon

#4565 Added UPS
  _data/simple-icons.json
  icons/ups.svg
Labels: new icon

#4637 Add tado°
  _data/simple-icons.json
  icons/tado.svg
Labels: new icon, pending

#4573 Added FreeNAS
  _data/simple-icons.json
  icons/freenas.svg
Labels: new icon

#4619 Add TaxBuzz
  _data/simple-icons.json
  icons/taxbuzz.svg
Labels: new icon

#4643 Add Paytm
  _data/simple-icons.json
  icons/paytm.svg
Labels: new icon

#4642 Update Material Design Icons icon
  .svglint-ignored.json
  icons/materialdesignicons.svg
Labels: icon outdated

#4648 Update DigitalOcean icon
  .svglint-ignored.json
  icons/digitalocean.svg
Labels: icon outdated

#4650 Update Uber
  .svglint-ignored.json
  icons/uber.svg
Labels: icon outdated

#4652 Update StackPath icon
  .svglint-ignored.json
  icons/stackpath.svg
Labels: icon outdated

#4574 Added TrueNAS
  _data/simple-icons.json
  icons/truenas.svg
Labels: new icon

#4506 Updated Google Fit
  _data/simple-icons.json
  icons/googlefit.svg
Labels: icon outdated

#4613 Add Unraid
  _data/simple-icons.json
  icons/unraid.svg
Labels: new icon

#4663 Add AnyDesk
  _data/simple-icons.json
  icons/anydesk.svg
Labels: new icon

#4665 Add Cockroach Labs
  _data/simple-icons.json
  icons/cockroachlabs.svg
Labels: new icon

#4656 Update Mozilla
  .svglint-ignored.json
  _data/simple-icons.json
  icons/mozilla.svg
Labels: icon outdated

#4653 Update TED
  .svglint-ignored.json
  icons/ted.svg
Labels: icon outdated

#4654 Update SonicWall
  .svglint-ignored.json
  _data/simple-icons.json
  icons/sonicwall.svg
Labels: icon outdated

#4657 Update Jira Software
  .svglint-ignored.json
  icons/jirasoftware.svg
Labels: icon outdated

#3649 Add cookiecutter icon
  _data/simple-icons.json
  icons/cookiecutter.svg
Labels: new icon

#4658 Added ROS
  _data/simple-icons.json
  icons/ros.svg
Labels: new icon

#4672 Ignore files that are not SVGs in the icons folder
  .gitignore
Labels: meta

#4671 Add pfSense
  _data/simple-icons.json
  icons/pfsense.svg
Labels: new icon

#4662 Add Linktree
  _data/simple-icons.json
  icons/linktree.svg
Labels: new icon

#4644 Add egghead
  _data/simple-icons.json
  icons/egghead.svg
Labels: new icon

#4635 Rename Kahoot as Kahoot!
  _data/simple-icons.json
  icons/kahoot.svg
Labels: icon outdated

#4664 Add Zomato
  _data/simple-icons.json
  icons/zomato.svg
Labels: new icon
