Repository simple-icons/simple-icons, pull requests merged in 2021-03, with the labels that each got.

#5068 Update text on optional JSON data in Contributing Guidelines
  CONTRIBUTING.md
Labels: meta

#4804 Add Hungry Jack's
  _data/simple-icons.json
  icons/hungryjacks.svg
Labels: changes requested, new icon

#5116 Update Strapi
  _data/simple-icons.json
  icons/strapi.svg
Labels: awaiting reply, icon outdated

#5146 Remove unneeded ignored entries
  .svglint-ignored.json
Labels: meta

#5075 Added ProtonVPN
  _data/simple-icons.json
  icons/protonvpn.svg
Labels: new icon

#4469 Updated Android Studio
  _data/simple-icons.json
  icons/androidstudio.svg
Labels: icon outdated

#4576 Added Bitcoin SV
  _data/simple-icons.json
  icons/bitcoinsv.svg
Labels: new icon

#4996 Add Libraries.io icon
  _data/simple-icons.json
  icons/libraries-dot-io.svg
Labels: new icon

#5130 Add Wappalyzer icon
  _data/simple-icons.json
  icons/wappalyzer.svg
Labels: new icon

#5106 Add license data to NPM package and documenation
  README.md
  scripts/build-package.js
  scripts/templates/icon-object.js
Labels: docs, package

#5033 Qiskit icon
  _data/simple-icons.json
  icons/qiskit.svg
Labels: new icon

#5129 Add Vapor
  _data/simple-icons.json
  icons/vapor.svg
Labels: new icon

#5061 Add proper error messages to linter; fix bug in 'collinear-segments' rule
  .svglint-ignored.json
  .svglintrc.js
  icons/automatic.svg
  package-lock.json
  package.json
Labels: dependencies, icon outdated, meta

#5002 Document slugs of brands
  .gitattributes
  .github/workflows/create-release.yml
  README.md
  scripts/build-slugs-table.js
  scripts/bump-version.js
  slugs.md
Labels: docs, package

#4881 Add Aeroflot
  _data/simple-icons.json
  icons/aeroflot.svg
Labels: changes requested, new icon

#5138 Add Picnic
  _data/simple-icons.json
  icons/picnic.svg
Labels: new icon

#5164 Add Guidelines for Stack Exchange icons
  _data/simple-icons.json
Labels: icon data

#5031 New: Barclays logo.
  _data/simple-icons.json
  icons/barclays.svg
Labels: new icon

#5160 Add Material Design Icons license
  _data/simple-icons.json
Labels: icon data

#5150 Add Slugs to Contributing Guidelines
  CONTRIBUTING.md
Labels: meta

#4567 Added Bitcoin Cash
  _data/simple-icons.json
  icons/bitcoincash.svg
Labels: new icon

#5140 Update SVGO Icon
  _data/simple-icons.json
  icons/svgo.svg
Labels: icon outdated

#5139 Add QuantConnect
  _data/simple-icons.json
  icons/quantconnect.svg
Labels: new icon

#5144 Added Pegasus
  _data/simple-icons.json
  icons/pegasusairlines.svg
Labels: new icon

#4969 Add Puppeteer
  _data/simple-icons.json
  icons/puppeteer.svg
Labels: changes requested, new icon

#5169 Update Lamborghini
  .svglint-ignored.json
  icons/lamborghini.svg
Labels: icon outdated

#5142 Added Crowdsource
  _data/simple-icons.json
  icons/crowdsource.svg
Labels: new icon

#5177 Update Clubhouse icon
  .svglint-ignored.json
  _data/simple-icons.json
  icons/clubhouse.svg
Labels: icon outdated

#5178 Update Epic Games icon
  .svglint-ignored.json
  _data/simple-icons.json
  icons/epicgames.svg
Labels: icon data, icon outdated

#5162 Update AlloCiné
  _data/simple-icons.json
  icons/allocine.svg
Labels: icon outdated

#5145 Added Norwegian
  _data/simple-icons.json
  icons/norwegian.svg
Labels: new icon

#5176 Update ngrok
  .svglint-ignored.json
  icons/ngrok.svg
Labels: awaiting reply, icon outdated

#5143 Updated Phabricator
  .svglint-ignored.json
  _data/simple-icons.json
  icons/phabricator.svg
Labels: icon outdated

#5172 Update Arch Linux
  .svglint-ignored.json
  _data/simple-icons.json
  icons/archlinux.svg
Labels: icon data, icon outdated

#5134 Added Trino
  _data/simple-icons.json
  icons/trino.svg
Labels: new icon

#5182 Update Packagist; add MIT license to JSONSchema config
  .jsonschema.json
  .svglint-ignored.json
  _data/simple-icons.json
  icons/packagist.svg
Labels: icon data, icon outdated, meta

#5124 Add CodeMirror
  _data/simple-icons.json
  icons/codemirror.svg
Labels: new icon

#5180 Update Fedex
  .svglint-ignored.json
  icons/fedex.svg
Labels: icon outdated

#5183 Update RabbitMQ icon
  .svglint-ignored.json
  _data/simple-icons.json
  icons/rabbitmq.svg
Labels: changes requested, icon outdated

#5167 Update Ruby on Rails
  .svglint-ignored.json
  _data/simple-icons.json
  icons/rubyonrails.svg
Labels: icon data, icon outdated

#5173 Update Disroot
  .svglint-ignored.json
  icons/disroot.svg
Labels: icon outdated

#5017 Add Robot Framework
  _data/simple-icons.json
  icons/robotframework.svg
Labels: new icon

#5024 add Sparkasse
  _data/simple-icons.json
  icons/sparkasse.svg
Labels: new icon

#5026 add Deutsche Bank
  _data/simple-icons.json
  icons/deutschebank.svg
Labels: new icon

#5154 Add GoToMeeting
  _data/simple-icons.json
  icons/gotomeeting.svg
Labels: new icon

#5181 Add Artix Linux
  _data/simple-icons.json
  icons/artixlinux.svg
Labels: new icon

#5152 Add Coding Ninjas icon
  _data/simple-icons.json
  icons/codingninjas.svg
Labels: new icon

#5163 Add Eclipse Che
  _data/simple-icons.json
  icons/eclipseche.svg
Labels: changes requested, new icon

#5157 Add Mercurial
  _data/simple-icons.json
  icons/mercurial.svg
Labels: new icon

#5158 Add Private Internet Access
  _data/simple-icons.json
  icons/privateinternetaccess.svg
Labels: new icon

#5184 Add DatoCMS icon
  _data/simple-icons.json
  icons/datocms.svg
Labels: new icon

#5196 Update SparkFun
  .svglint-ignored.json
  _data/simple-icons.json
  icons/sparkfun.svg
Labels: icon data, icon outdated

#4471 Updated Google Ads
  .svglint-ignored.json
  _data/simple-icons.json
  icons/googleads.svg
Labels: icon outdated

#5028 add Commerzbank
  _data/simple-icons.json
  icons/commerzbank.svg
Labels: new icon

#4554 Added SymPy
  _data/simple-icons.json
  icons/sympy.svg
Labels: new icon

#5107 Update AlliedModders
  _data/simple-icons.json
  icons/alliedmodders.svg
Labels: icon outdated

#5206 Fix broken npm link
  package.json
Labels: website

#5213 Add Git license
  _data/simple-icons.json
Labels: icon data

#4971 Add XState
  _data/simple-icons.json
  icons/xstate.svg
Labels: changes requested, new icon

#5209 Add Stimulus icon
  _data/simple-icons.json
  icons/stimulus.svg
Labels: new icon

#5175 Update Elsevier; fix edge case error in 'collinear segments' lint rule
  .svglint-ignored.json
  .svglintrc.js
  icons/elsevier.svg
Labels: changes requested, icon outdated, meta

#5197 Add Hyper
  _data/simple-icons.json
  icons/hyper.svg
Labels: new icon

#4999 Add Amazon S3
  _data/simple-icons.json
  icons/amazons3.svg
Labels: new icon

#5194 Update Code Climate
  .svglint-ignored.json
  _data/simple-icons.json
  icons/codeclimate.svg
Labels: changes requested, icon outdated

#4952 Add Pointy
  _data/simple-icons.json
  icons/pointy.svg
Labels: new icon

#5174 Add Enpass
  _data/simple-icons.json
  icons/enpass.svg
Labels: changes requested, new icon

#5187 Update notepadplusplus
  .svglint-ignored.json
  _data/simple-icons.json
  icons/notepadplusplus.svg
Labels: icon outdated

#5203 Update Firefox
  .svglint-ignored.json
  _data/simple-icons.json
  icons/firefox.svg
Labels: icon outdated

#5217 Update Stack Overflow
  _data/simple-icons.json
  icons/stackoverflow.svg
Labels: icon outdated

#5219 Update Monzo icon
  .svglint-ignored.json
  icons/monzo.svg
Labels: icon outdated

#5226 Update pre-commit icon
  .svglint-ignored.json
  icons/pre-commit.svg
Labels: icon outdated

#5256 Add Simple Icons license data
  _data/simple-icons.json
Labels: icon data

#5255 Update Xbox source
  _data/simple-icons.json
Labels: icon data

#5253 Updated Zerply Hex
  _data/simple-icons.json
Labels: icon data

#5252 Update Zomato Source
  _data/simple-icons.json
Labels: icon data

#5246 Updated AMD Source
  _data/simple-icons.json
Labels: icon data

#5261 Updated VSCO Source
  _data/simple-icons.json
Labels: icon data

#5258 Add Vue.js License
  _data/simple-icons.json
Labels: icon data

#4976 Add PM2
  _data/simple-icons.json
  icons/pm2.svg
Labels: changes requested, new icon

#4960 add Dgraph
  _data/simple-icons.json
  icons/dgraph.svg
Labels: changes requested, new icon

#5022 add Fraunhofer-Gesellschaft
  _data/simple-icons.json
  icons/fraunhofer-gesellschaft.svg
Labels: new icon

#5271 Add Jetpack Compose to README.md
  README.md
Labels: docs

#5244 Updated Adobe Fonts
  _data/simple-icons.json
  icons/adobefonts.svg
Labels: icon outdated

#5243 Updated AdGuard
  _data/simple-icons.json
  icons/adguard.svg
Labels: icon outdated

#5265 Updated Bentley Source
  _data/simple-icons.json
Labels: icon data

#5267 Update Beijing Subway Source
  _data/simple-icons.json
Labels: icon data

#5269 Update Buzzfeed Source
  _data/simple-icons.json
Labels: icon data

#5272 Update Vue Data (Again)
  _data/simple-icons.json
Labels: icon data

#5266 Update Bitcoin Cash
  _data/simple-icons.json
  icons/bitcoincash.svg
Labels: icon outdated

#5262 Update V
  _data/simple-icons.json
  icons/v.svg
Labels: icon outdated

#5218 Add JSS icon
  _data/simple-icons.json
  icons/jss.svg
Labels: new icon

#5276 Letter O review
  _data/simple-icons.json
Labels: changes requested, icon data

#5273 Update 'C' icons.
  .jsonschema.json
  _data/simple-icons.json
Labels: icon data

#4889 Add Org
  _data/simple-icons.json
  icons/org.svg
Labels: in discussion, new icon

#5247 Updated Arlo
  _data/simple-icons.json
  icons/arlo.svg
Labels: icon outdated

#5275 Update Conekta
  _data/simple-icons.json
  icons/conekta.svg
Labels: icon outdated, in discussion

#5284 Update Renault
  _data/simple-icons.json
  icons/renault.svg
Labels: icon outdated

#5286 Update Open Source Initiative icon
  icons/opensourceinitiative.svg
Labels: awaiting reply, icon outdated

#5185 Add CodeNewbie
  _data/simple-icons.json
  icons/codenewbie.svg
Labels: new icon

#5227 Add Files
  _data/simple-icons.json
  icons/files.svg
Labels: new icon

#5229 Add Chart.js
  _data/simple-icons.json
  icons/chart-dot-js.svg
Labels: new icon

#5279 Letter K review
  _data/simple-icons.json
Labels: awaiting reply, icon data

#5288 Letter R review
  _data/simple-icons.json
Labels: awaiting reply, icon data

#5316 Letter N review
  _data/simple-icons.json
Labels: icon data

#5318 Update neo4j icon
  icons/neo4j.svg
Labels: changes requested, icon outdated

#5348 Update MongoDB
  icons/mongodb.svg
Labels: icon outdated

#5342 Add guidelines data to NPM package and documenation
  README.md
  scripts/build-package.js
  scripts/templates/icon-object.js
Labels: docs, package

#5361 Update Microsoft Exchange
  icons/microsoftexchange.svg
Labels: icon outdated

#5350 Update NPM icon
  _data/simple-icons.json
  icons/npm.svg
Labels: awaiting reply, icon outdated

#5354 Update monkeytie
  _data/simple-icons.json
  icons/monkeytie.svg
Labels: icon outdated

#5220 Add Kubuntu
  _data/simple-icons.json
  icons/kubuntu.svg
Labels: new icon

#5364 Update W Brands
  _data/simple-icons.json
Labels: icon data

#5313 Update DataStax
  _data/simple-icons.json
  icons/datastax.svg
Labels: icon outdated

#5357 Add Simple Analytics
  _data/simple-icons.json
  icons/simpleanalytics.svg
Labels: changes requested, new icon

#5153 Add Git Extensions
  _data/simple-icons.json
  icons/gitextensions.svg
Labels: new icon

#5228 Add Scrum Alliance
  _data/simple-icons.json
  icons/scrumalliance.svg
Labels: new icon

#5363 Add ArangoDB
  _data/simple-icons.json
  icons/arangodb.svg
Labels: new icon

#5198 Auto assign to project workflow
  .github/workflows/auto-assign-to-project.yml
Labels: meta
