Repository simple-icons/simple-icons, pull requests merged in 2021-12, with the labels that each got.

#6930 Enforce `<svg>` node alphabetical attributes ordering
  .svglintrc.js
  icons/arxiv.svg
  icons/avast.svg
  icons/backbonedotjs.svg
  icons/bem.svg
  icons/biolink.svg
  icons/cockpit.svg
  icons/codereview.svg
  icons/coil.svg
  icons/datagrip.svg
  icons/dlib.svg
  icons/esbuild.svg
  icons/fivem.svg
  icons/foursquare.svg
  icons/framework7.svg
  icons/goland.svg
  icons/kaggle.svg
  icons/koa.svg
  icons/kotlin.svg
  icons/lerna.svg
  icons/merck.svg
  icons/nzxt.svg
  icons/openmined.svg
  icons/phpmyadmin.svg
  icons/qualys.svg
  icons/reactivex.svg
  icons/rome.svg
  icons/saltproject.svg
  icons/snowpack.svg
  icons/tether.svg
  icons/thenorthface.svg
  icons/udemy.svg
  icons/web3dotjs.svg
  icons/windicss.svg
  icons/zyte.svg
  package.json
  tests/test-icon.js
Labels: icon outdated, meta

#6909 Add Octane Render
  _data/simple-icons.json
  icons/octanerender.svg
Labels: new icon, changes requested

#6929 Talenthouse icon
  _data/simple-icons.json
  icons/talenthouse.svg
Labels: new icon

#6841 Microsoft Translator Icon
  _data/simple-icons.json
  icons/microsofttranslator.svg
Labels: new icon

#5882 Add Apache Hadoop icon
  _data/simple-icons.json
  icons/apachehadoop.svg
Labels: new icon

#6243 add swc icon
  _data/simple-icons.json
  icons/swc.svg
Labels: new icon

#5886 Add Threadless icon
  _data/simple-icons.json
  icons/threadless.svg
Labels: new icon

#6949 add Astro icon
  _data/simple-icons.json
  icons/astro.svg
Labels: new icon

#6941 SanDisk icon
  _data/simple-icons.json
  icons/sandisk.svg
Labels: new icon

#6951 Automatically update milestone (SVG count) in README
  .github/workflows/create-release.yml
  README.md
  scripts/release/bump-version.js
  scripts/release/update-cdn-urls.js
  scripts/release/update-svgs-count.js
Labels: meta

#6596 update Google Drive icon
  icons/googledrive.svg
Labels: icon outdated

#6875 Unity update
  _data/simple-icons.json
  icons/unity.svg
Labels: icon outdated

#6742 Add GroupMe icon
  _data/simple-icons.json
  icons/groupme.svg
Labels: new icon

#6828 Add Cloud Native Computing Foundation (CNCF) icon
  _data/simple-icons.json
  icons/cncf.svg
Labels: new icon

#6599 adding Google Marketing Platform, updating Google Keep, Google Meet a…
  _data/simple-icons.json
  icons/googlekeep.svg
  icons/googlemarketingplatform.svg
  icons/googlemeet.svg
  icons/googlemessages.svg
Labels: new icon, icon outdated

#6228 removed collinear segment for Strong Swan
  .svglint-ignored.json
  icons/strongswan.svg
Labels: icon outdated

#6226 removed collinear segment for Ruby
  .svglint-ignored.json
  icons/ruby.svg
Labels: icon outdated

#6225 removed collinear segment from Prestashop icon
  .svglint-ignored.json
  icons/prestashop.svg
Labels: icon outdated

#6967 Add warning about v6.0.0 npm package deprecation to README
  README.md
Labels: docs

#6970 Upgrade SVGLint dependency
  CONTRIBUTING.md
  package.json
Labels: dependencies

#6940 Western Digital
  _data/simple-icons.json
  icons/westerndigital.svg
Labels: new icon

#6939 winamp icon
  _data/simple-icons.json
  icons/winamp.svg
Labels: new icon

#5947 Add Apache CouchDB icon
  _data/simple-icons.json
  icons/apachecouchdb.svg
Labels: new icon

#5792 Add AIB
  _data/simple-icons.json
  icons/aib.svg
Labels: new icon

#6859 Add OpenTelemetry
  _data/simple-icons.json
  icons/opentelemetry.svg
Labels: new icon

#5747 Add Exordo
  _data/simple-icons.json
  icons/exordo.svg
Labels: new icon

#5718 Added Power Automate
  _data/simple-icons.json
  icons/powerautomate.svg
Labels: new icon

#5719 Add Power Virtual Agents
  _data/simple-icons.json
  icons/powervirtualagents.svg
Labels: new icon

#5684 Add Caffeine icon
  _data/simple-icons.json
  icons/caffeine.svg
Labels: new icon

#5147 Add Byju's
  _data/simple-icons.json
  icons/byjus.svg
Labels: new icon

#6946 convert scripts to esm
  .svglintrc.mjs
  package.json
  scripts/build/package.js
  scripts/get-filename.js
  scripts/lint/jsonlint.js
  scripts/lint/ourlint.js
  scripts/package.json
  scripts/release/bump-version.js
  scripts/release/update-cdn-urls.js
  scripts/release/update-slugs-table.js
  scripts/release/update-svgs-count.js
  scripts/utils.js
  tests/icons-cjs.test.js
  tests/icons-esm.test.js
  tests/icons.test.js
  tests/icons.test.mjs
  tests/index.test.js
  tests/package.json
  tests/test-icon.js
Labels: meta

#6983 Add Jetpack Compose
  _data/simple-icons.json
  icons/jetpackcompose.svg
Labels: new icon

#6964 Correctly add `new icon` labeled pull requests to Priority 2 column
  .github/workflows/add-labels-priority.yml
Labels: meta

#6512 Updating hexes for Chromecast and Google Classroom
  _data/simple-icons.json
Labels: icon data

#7000 Update Jmeter icon
  .svglint-ignored.json
  icons/apachejmeter.svg
Labels: icon outdated

#6559 updated icon for Teespring
  _data/simple-icons.json
  icons/teespring.svg
Labels: icon outdated, in discussion

#6290 Update Font Awesome
  _data/simple-icons.json
  icons/fontawesome.svg
Labels: icon outdated, changes requested
