Repository simple-icons/simple-icons, pull requests merged in 2021-10, with the labels that each got.

#6623 Updated number of icons in the readme
  README.md
Labels: meta

#6586 Added Bio.Link
  _data/simple-icons.json
  icons/biolink.svg
Labels: new icon, changes requested

#6630 Add GoLand icon
  _data/simple-icons.json
  icons/goland.svg
Labels: new icon

#6331 Add Koç icon
  _data/simple-icons.json
  icons/koc.svg
Labels: new icon

#6522 Unify SVGs for HTML safe titles reporting encoding errors in linting
  .svglintrc.js
  icons/aeromexico.svg
  icons/allocine.svg
  icons/citroen.svg
  icons/dassaultsystemes.svg
  icons/letsencrypt.svg
  icons/macys.svg
  icons/metrodelaciudaddemexico.svg
  icons/metrodeparis.svg
  icons/pokemon.svg
  icons/rte.svg
  icons/saopaulometro.svg
  icons/skoda.svg
  icons/tado.svg
  package.json
  scripts/utils.js
Labels: icon outdated, meta

#6382 Add Aldi Nord icon
  _data/simple-icons.json
  icons/aldinord.svg
Labels: new icon

#6504 Add Peak Design
  _data/simple-icons.json
  icons/peakdesign.svg
Labels: new icon

#6624 Add Welcome to the Jungle
  _data/simple-icons.json
  icons/welcometothejungle.svg
Labels: new icon

#6173 Add Artifact Hub
  _data/simple-icons.json
  icons/artifacthub.svg
Labels: new icon

#6792 Add Blender simple-icons add-on to Third-Party Extensions
  README.md
Labels: docs

#6796 Add Fonoma icon
  _data/simple-icons.json
  icons/fonoma.svg
Labels: new icon

#6803 Fix publish workflow
  .github/workflows/publish.yml
  .prettierignore
Labels: meta

#6804 Patch v5.21.0
  .github/workflows/publish.yml
  .prettierignore
  package.json
Labels: release

#6805 Add prepare script to initialize husky
  package.json
Labels: meta
