Repository simple-icons/simple-icons, pull requests merged in 2021-09, with the labels that each got.

#6224 removed collinear segment from PCGamingWiki
  .svglint-ignored.json
  icons/pcgamingwiki.svg
Labels: icon outdated

#6325 Adding iTerm2 icon
  _data/simple-icons.json
  icons/iterm2.svg
Labels: new icon, awaiting reply

#6448 Add Guilded Logo
  _data/simple-icons.json
  icons/guilded.svg
Labels: new icon

#6450 Add cross platform support for 'clean' script
  package.json
Labels: meta

#6428 Updating guidelines unofficial source
  CONTRIBUTING.md
Labels: meta

#6438 Update Fnac icon
  icons/fnac.svg
Labels: icon outdated

#6468 Handlebars.js Icon
  _data/simple-icons.json
  icons/handlebarsdotjs.svg
Labels: new icon

#6365 Adding Lodash icon
  _data/simple-icons.json
  icons/lodash.svg
Labels: new icon

#6482 Unpin kceb/git-message-action
  .github/workflows/publish.yml
Labels: meta

#6385 Add Carrefour icon
  _data/simple-icons.json
  icons/carrefour.svg
Labels: new icon

#6473 Add boulanger icon
  _data/simple-icons.json
  icons/boulanger.svg
Labels: new icon

#6195 GoCD icon
  _data/simple-icons.json
  icons/gocd.svg
Labels: new icon, changes requested

#6496 add autoprefixer icon
  _data/simple-icons.json
  icons/autoprefixer.svg
Labels: new icon, changes requested

#6513 Add lint rule to unify self-closing tags format
  .svglintrc.js
  icons/autoprefixer.svg
  icons/cytoscapedotjs.svg
  icons/equinixmetal.svg
  icons/semaphoreci.svg
Labels: icon outdated, meta

#6540 update nuxt icon
  _data/simple-icons.json
  icons/nuxtdotjs.svg
Labels: icon outdated

#6431 Add Tesco icon
  _data/simple-icons.json
  icons/tesco.svg
Labels: new icon

#6206 adding Spring Security logo
  _data/simple-icons.json
  icons/springsecurity.svg
Labels: new icon

#6553 Change hexes for TUI and TailwindCSS
  _data/simple-icons.json
Labels: icon data

#6539 Add Franprix icon
  _data/simple-icons.json
  icons/franprix.svg
Labels: new icon

#6189 export all icons from a single file
  .gitignore
  .npmignore
  package.json
  scripts/build/package.js
Labels: package

#6305 Add Dataiku Icon
  _data/simple-icons.json
  icons/dataiku.svg
Labels: new icon, changes requested

#6312 Add Zcash
  _data/simple-icons.json
  icons/zcash.svg
Labels: new icon

#6568 updating Talend icon
  _data/simple-icons.json
  icons/talend.svg
Labels: icon outdated

#6579 Add phpMyAdmin icon
  _data/simple-icons.json
  icons/phpmyadmin.svg
Labels: new icon, pending

#6577 Update Kotlin icon
  _data/simple-icons.json
  icons/kotlin.svg
Labels: icon outdated

#6578 Add Zyte icon
  _data/simple-icons.json
  icons/zyte.svg
Labels: new icon

#6547 Add Pulumi icon
  _data/simple-icons.json
  icons/pulumi.svg
Labels: new icon

#6554 Change sources for several icons
  _data/simple-icons.json
Labels: icon outdated

#6573 Add MediaMarkt icon
  _data/simple-icons.json
  icons/mediamarkt.svg
Labels: new icon

#6552 add removal form
  .github/ISSUE_TEMPLATE/icon_removal.yml
  DISCLAIMER.md
Labels: meta

#6031 feat: add pwa icon
  _data/simple-icons.json
  icons/pwa.svg
Labels: new icon

#6367 Icon Request: Skynet
  _data/simple-icons.json
  icons/skynet.svg
Labels: new icon

#6589 Draft: Auto assign to project workflow - Take 4 😅
  .github/workflows/auto-assign-to-project.yml
Labels: meta

#6607 Fix unsync between 'add-labels' and 'auto-assign-to-project' actions
  .github/workflows/add-labels-priority.yml
  .github/workflows/add-labels.yml
Labels: meta

#6609 Fix workflow file syntax error
  .github/workflows/add-labels-priority.yml
Labels: meta

#6612 Get labels at runtime in `assign-to-project` workflow
  .github/workflows/add-labels-priority.yml
Labels: meta

#6615 Auto assign pull requests to 'Priority 2' column
  .github/workflows/add-labels-priority.yml
Labels: meta

#6576 Add The North Face icon
  _data/simple-icons.json
  icons/thenorthface.svg
Labels: new icon

#6229 updating starling icon
  _data/simple-icons.json
  icons/starlingbank.svg
Labels: icon outdated, changes requested

#6023 Create VERSIONING.md
  .npmignore
  CONTRIBUTING.md
  VERSIONING.md
Labels: meta
