Repository simple-icons/simple-icons, pull requests merged in 2022-11, with the labels that each got.

#7996 Add Wantedly icon
  _data/simple-icons.json
  icons/wantedly.svg
Labels: new icon

#8013 Add Alwaysdata icon
  _data/simple-icons.json
  icons/alwaysdata.svg
Labels: new icon

#8000 Add CDN usages for `cdn.simpleicons.org`
  README.md
Labels: docs

#8014 Add ADP icon
  _data/simple-icons.json
  icons/adp.svg
Labels: new icon

#8031 Add Red icon
  _data/simple-icons.json
  icons/red.svg
Labels: new icon

#8022 Add kuula icon
  _data/simple-icons.json
  icons/kuula.svg
Labels: new icon

#8021 Add ReadMe icon
  _data/simple-icons.json
  icons/readme.svg
Labels: new icon

#7835 Add Firewalla icon
  _data/simple-icons.json
  icons/firewalla.svg
Labels: new icon

#7858 Add Wails icon
  _data/simple-icons.json
  icons/wails.svg
Labels: new icon

#7983 Use `<picture>` blocks for GH theme images in README
  .github/workflows/publish.yml
  README.md
  scripts/utils.js
Labels: meta

#7555 Remove App Annie
  _data/simple-icons.json
  icons/appannie.svg
  slugs.md
Labels: breaking change

#7945 Deduplicate DVC icon
  _data/simple-icons.json
  icons/dataversioncontrol.svg
Labels: breaking change

#8058 replace index.js entry point
  .dockerignore
  .gitignore
  .npmignore
  .prettierignore
  README.md
  index.d.ts
  package.json
  scripts/build/package.js
  scripts/build/templates/index.js
  tests/icons.test.js
  tests/index.test.js
  tests/test-icon.js
  types.d.ts
Labels: package, breaking change
