Repository simple-icons/simple-icons, pull requests merged in 2022-02, with the labels that each got.

#6620 adding linkfire icon
  _data/simple-icons.json
  icons/linkfire.svg
Labels: new icon

#7127 Update Node.js to v16 in CI workflows
  .github/workflows/publish.yml
  .github/workflows/verify.yml
Labels: meta

#7061 Add pkgsrc icon.
  _data/simple-icons.json
  icons/pkgsrc.svg
Labels: new icon

#7032 Added Credly icon
  _data/simple-icons.json
  icons/credly.svg
Labels: new icon

#7128 Fix project auto-assignment closing not merged PRs
  .github/workflows/add-labels-priority.yml
Labels: meta

#7139 Fix error in project auto-unassigment on CI
  .github/workflows/add-labels-priority.yml
Labels: meta

#6968 (feat) Icon: React Query
  _data/simple-icons.json
  icons/reactquery.svg
Labels: new icon

#6488 Add Picard Surgelés icon
  _data/simple-icons.json
  icons/picardsurgeles.svg
Labels: new icon

#6409 Add Cora icon
  _data/simple-icons.json
  icons/cora.svg
Labels: new icon

#6281 Update Fandom
  _data/simple-icons.json
  icons/fandom.svg
Labels: icon outdated

#7159 Fix link in issue template for icon requests
  .github/ISSUE_TEMPLATE/icon_request.yml
Labels: meta

#7153 added temporal icon
  _data/simple-icons.json
  icons/temporal.svg
Labels: new icon

#7124 add Republic Of Gamers icon
  _data/simple-icons.json
  icons/republicofgamers.svg
Labels: new icon

#7154 prefer similarweb for website ranks
  .github/ISSUE_TEMPLATE/icon_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: meta

#7167 Add Ray icon
  _data/simple-icons.json
  icons/ray.svg
Labels: new icon

#7174 Add rocksdb icon
  _data/simple-icons.json
  icons/rocksdb.svg
Labels: new icon

#7176 Add StackEdit icon
  _data/simple-icons.json
  icons/stackedit.svg
Labels: new icon
