Repository simple-icons/simple-icons, pull requests merged in 2022-07, with the labels that each got.

#7557 Add Backendless
  _data/simple-icons.json
  icons/backendless.svg
Labels: new icon

#7538 Add Airbyte icon
  _data/simple-icons.json
  icons/airbyte.svg
Labels: new icon

#7523 Add Nunjucks Icon
  _data/simple-icons.json
  icons/nunjucks.svg
Labels: new icon

#7559 Add wasmCloud icon
  _data/simple-icons.json
  icons/wasmcloud.svg
Labels: new icon

#7542 Add Zebra Technologies icon
  _data/simple-icons.json
  icons/zebratechnologies.svg
Labels: new icon, awaiting reply, changes requested

#7567 Add Elementor Icon
  _data/simple-icons.json
  icons/elementor.svg
Labels: new icon, changes requested

#7532 Add icon for Openverse
  _data/simple-icons.json
  icons/openverse.svg
Labels: new icon

#6057 Add Burton icon
  _data/simple-icons.json
  icons/burton.svg
Labels: new icon

#7307 Update rotaryinternational.svg
  _data/simple-icons.json
  icons/rotaryinternational.svg
Labels: icon outdated, changes requested

#7584 Add React Hook Form icon
  _data/simple-icons.json
  icons/reacthookform.svg
Labels: new icon

#7589 Add Electron Builder icon
  _data/simple-icons.json
  icons/electronbuilder.svg
Labels: new icon, changes requested

#7605 Add `F1` icon
  _data/simple-icons.json
  icons/f1.svg
Labels: new icon, changes requested
