Repository simple-icons/simple-icons, pull requests merged in 2022-05, with the labels that each got.

#7332 Add Google AdMob icon
  _data/simple-icons.json
  icons/googleadmob.svg
Labels: new icon, changes requested

#7381 Add third-party Hugo module in README
  README.md
  assets/readme/hugo-white.svg
Labels: docs

#7382 Add links to `composer.json`
  composer.json
Labels: meta

#7331 Add HTTPie icon
  _data/simple-icons.json
  icons/httpie.svg
Labels: new icon, changes requested

#7327 Add Mailgun icon
  _data/simple-icons.json
  icons/mailgun.svg
Labels: new icon, changes requested

#7386 feat: add Marko icon
  .gitignore
  _data/simple-icons.json
  icons/marko.svg
Labels: new icon

#7370 Add Remix icon
  _data/simple-icons.json
  icons/remix.svg
Labels: new icon

#7389 Upgrade `strip-gh-theme-links` action to v3
  .github/workflows/publish.yml
Labels: meta

#7391 Add OpenJDK icon
  _data/simple-icons.json
  icons/openjdk.svg
Labels: new icon

#7394 Allow to use `getIconsData*` util functions at other locations
  scripts/utils.js
Labels: meta

#7380 Add Rubocop icon
  _data/simple-icons.json
  icons/rubocop.svg
Labels: new icon

#7340 Add GTK icon
  _data/simple-icons.json
  icons/gtk.svg
Labels: new icon

#7289 Add mdBook icon
  _data/simple-icons.json
  icons/mdbook.svg
Labels: new icon

#7400 remove alexa rank references
  .github/ISSUE_TEMPLATE/icon_request.yml
Labels: meta

#7401 include rank requirements in issue template
  .github/ISSUE_TEMPLATE/icon_request.yml
Labels: meta

#7406 Specify release action version with tag
  .github/workflows/create-release.yml
  .github/workflows/merge-release.yml
Labels: meta

#7407 Update Ubuntu icon
  _data/simple-icons.json
  icons/ubuntu.svg
Labels: new icon, icon outdated

#7411 add Steam Deck icon (#7410)
  _data/simple-icons.json
  icons/steamdeck.svg
Labels: new icon

#7379 Add EnterpriseDB icon
  _data/simple-icons.json
  icons/enterprisedb.svg
Labels: new icon

#7322 add lapce icon
  _data/simple-icons.json
  icons/lapce.svg
Labels: new icon

#7020 Icon update: TransferWise
  _data/simple-icons.json
  icons/transferwise.svg
  icons/wise.svg
Labels: new icon, changes requested

#7398 Add Valorant icon
  _data/simple-icons.json
  icons/valorant.svg
Labels: new icon

#7424 Convert prettierrc.js file to JSON
  .prettierrc.js
  .prettierrc.json
Labels: meta

#7423 Add LoopBack icon
  _data/simple-icons.json
  icons/loopback.svg
Labels: new icon, changes requested, in discussion

#7427 Add aliases to AWS icons
  _data/simple-icons.json
Labels: icon data

#7439 Pin release-action version to a previous hash
  .github/workflows/create-release.yml
Labels: meta

#7432 Remove IcoMoon from contributing file
  CONTRIBUTING.md
Labels: docs

#7438 Add exclusion of brands of protective companies/organizations
  CONTRIBUTING.md
Labels: meta

#7446 Add tRPC icon
  _data/simple-icons.json
  icons/trpc.svg
Labels: new icon

#7277 Add Rasa icon
  _data/simple-icons.json
  icons/rasa.svg
Labels: new icon

#7302 Add MLflow icon
  _data/simple-icons.json
  icons/mlflow.svg
Labels: new icon

#7306 Add Boxy SVG icon
  _data/simple-icons.json
  icons/boxysvg.svg
Labels: new icon

#7367 Add PlanetScale icon
  _data/simple-icons.json
  icons/planetscale.svg
Labels: new icon

#7372 Add Vitess icon
  _data/simple-icons.json
  icons/vitess.svg
Labels: new icon

#7413 Add Task icon
  _data/simple-icons.json
  icons/task.svg
Labels: new icon

#7419 Add Linear icon
  _data/simple-icons.json
  icons/linear.svg
Labels: new icon

#7450 Use OpenJDK logo for Java library in third party integrations
  README.md
  assets/readme/java-white.svg
  assets/readme/openjdk-white.svg
Labels: docs

#7420 remove TransferWise
  _data/simple-icons.json
  icons/transferwise.svg
Labels: breaking change

#7378 Remove Java
  _data/simple-icons.json
  icons/java.svg
Labels: breaking change

#6788 remove icons/* entrypoints
  .dockerignore
  .npmignore
  .prettierignore
  README.md
  alias.d.ts
  package.json
  scripts/build/package.js
  tests/icons-cjs.test.js
  tests/icons.test.js
Labels: package, breaking change

#7453 deprecate index
  README.md
  index.d.ts
  scripts/build/templates/index.js
Labels: breaking change

#7457 Reuse `svg` getter package template parts
  scripts/build/package.js
  scripts/build/templates/icon-object.js
  scripts/build/templates/index.js
Labels: package
