Repository simple-icons/simple-icons, pull requests merged in 2022-10, with the labels that each got.

#7890 Add Prevention icon
  _data/simple-icons.json
  icons/prevention.svg
Labels: new icon

#7893 Add Honey icon
  _data/simple-icons.json
  icons/honey.svg
Labels: new icon

#7891 Add Instructure icon
  _data/simple-icons.json
  icons/instructure.svg
Labels: new icon

#7908 Add Crayon icon
  _data/simple-icons.json
  icons/crayon.svg
Labels: new icon

#7892 Add Billboard icon
  _data/simple-icons.json
  icons/billboard.svg
Labels: new icon

#7914 Add PySyft icon
  _data/simple-icons.json
  icons/pysyft.svg
Labels: new icon

#7864 Add Fireship icon
  _data/simple-icons.json
  icons/fireship.svg
Labels: new icon

#7912 Add Persistent icon
  _data/simple-icons.json
  icons/persistent.svg
Labels: new icon, changes requested

#7913 Add Hedera icon
  _data/simple-icons.json
  icons/hedera.svg
Labels: new icon, changes requested

#7911 Add Penpot icon
  _data/simple-icons.json
  icons/penpot.svg
Labels: new icon

#7938 Add WPExplorer icon
  _data/simple-icons.json
  icons/wpexplorer.svg
Labels: new icon

#7936 Update Replit icon
  _data/simple-icons.json
  icons/replit.svg
Labels: icon outdated

#7930 Add System76 icon
  _data/simple-icons.json
  icons/system76.svg
Labels: new icon

#7933 [#7927] Moonrepo icon added
  _data/simple-icons.json
  icons/moonrepo.svg
Labels: new icon

#7693 Add BIM icon
  _data/simple-icons.json
  icons/bim.svg
Labels: new icon

#7932 Add Dovecot icon
  _data/simple-icons.json
  icons/dovecot.svg
Labels: new icon

#7940 Add FOX icon
  _data/simple-icons.json
  icons/fox.svg
Labels: new icon

#7941 Add GSK icon
  _data/simple-icons.json
  icons/gsk.svg
Labels: new icon

#7939 Add Engadget icon
  _data/simple-icons.json
  icons/engadget.svg
Labels: new icon

#7929 Add StandardJS icon
  _data/simple-icons.json
  icons/standardjs.svg
Labels: new icon

#7884 Add Elgato icon
  _data/simple-icons.json
  icons/elgato.svg
Labels: new icon

#7876 Add E3 icon
  _data/simple-icons.json
  icons/e3.svg
Labels: new icon

#7949 Add Backstage logo
  _data/simple-icons.json
  icons/backstage.svg
Labels: new icon

#7961 Add Iced icon
  _data/simple-icons.json
  icons/iced.svg
Labels: new icon

#7962 Update Linktree icon
  _data/simple-icons.json
  icons/linktree.svg
Labels: icon outdated

#7969 Apply Elgato icon to Stream Deck icon pack
  README.md
  assets/readme/elgato-white.svg
Labels: docs, meta

#7987 Update SVGLint to v2.2.0
  package.json
Labels: meta, dependencies

#7984 Add MQTT icon
  _data/simple-icons.json
  icons/mqtt.svg
Labels: new icon

#7985 Add Ravelry Icon
  _data/simple-icons.json
  icons/ravelry.svg
Labels: new icon

#7980 Add Deezer brand guidelines
  _data/simple-icons.json
Labels: icon data
