Repository simple-icons/simple-icons, pull requests merged in 2022-12, with the labels that each got.

#8076 Export `./icons` entrypoint as index in package.json
  package.json
Labels: package

#8070 Add SNCF icon
  _data/simple-icons.json
  icons/sncf.svg
Labels: new icon

#8073 Add BVG icon
  _data/simple-icons.json
  icons/bvg.svg
Labels: new icon

#8072 Add CTS icon
  _data/simple-icons.json
  icons/cts.svg
Labels: new icon

#8152 Use `event=push` as temporal workaround for status badge
  README.md
Labels: docs

#8101 Add Modrinth icon
  _data/simple-icons.json
  icons/modrinth.svg
Labels: new icon

#8062 Add Île-de-France Mobilités icon
  _data/simple-icons.json
  icons/iledefrancemobilites.svg
Labels: new icon

#8158 Workaround for icons in table
  README.md
  scripts/utils.js
Labels: meta

#8149 Modernize SVGO setup
  CONTRIBUTING.md
  package.json
  svgo.config.mjs
Labels: docs, meta

#8128 Add Polars icon
  _data/simple-icons.json
  icons/polars.svg
Labels: new icon

#8123 Add Cultura icon
  _data/simple-icons.json
  icons/cultura.svg
Labels: new icon

#8135 Add Infracost icon
  _data/simple-icons.json
  icons/infracost.svg
Labels: new icon

#8148 Remove `event=push` from status badge of README
  README.md
Labels: docs
