Repository simple-icons/simple-icons, pull requests merged in 2022-06, with the labels that each got.

#7426 Add OpenZeppelin icon
  _data/simple-icons.json
  icons/openzeppelin.svg
Labels: new icon, changes requested

#7485 add Grafana k6 icon
  _data/simple-icons.json
  icons/k6.svg
Labels: new icon

#7464 Add PyG icon
  _data/simple-icons.json
  icons/pyg.svg
Labels: new icon

#7468 Add Amazon ECS icon
  _data/simple-icons.json
  icons/amazonecs.svg
Labels: new icon

#7473 Add Amazon EKS icon
  _data/simple-icons.json
  icons/amazoneks.svg
Labels: new icon

#7504 Add fauna icon
  _data/simple-icons.json
  icons/fauna.svg
Labels: new icon, changes requested

#7506 Add Hi Bob icon
  _data/simple-icons.json
  icons/hibob.svg
Labels: new icon

#7509 chore(icons): update lerna colour code
  _data/simple-icons.json
Labels: icon data

#7515 Add Argo icon
  _data/simple-icons.json
  icons/argo.svg
Labels: new icon, changes requested

#7520 Add Flatpak icon
  _data/simple-icons.json
  icons/flatpak.svg
Labels: new icon, changes requested

#7527 Add DuckDB
  _data/simple-icons.json
  icons/duckdb.svg
Labels: new icon

#6748 Add commitlint icon
  _data/simple-icons.json
  icons/commitlint.svg
Labels: new icon

#7487 Add AWS Fargate icon
  _data/simple-icons.json
  icons/awsfargate.svg
Labels: new icon

#7409 Update Naver icon
  _data/simple-icons.json
  icons/naver.svg
Labels: icon outdated

#7491 Add Amazon RDS icon
  _data/simple-icons.json
  icons/amazonrds.svg
Labels: new icon

#7517 Add KiCad Icon (#7516)
  _data/simple-icons.json
  icons/kicad.svg
Labels: new icon

#7495 Add Amazon CloudWatch icon
  _data/simple-icons.json
  icons/amazoncloudwatch.svg
Labels: new icon

#7500 Add Amazon API Gateway icon
  _data/simple-icons.json
  icons/amazonapigateway.svg
Labels: new icon

#7502 Add Amazon SQS icon
  _data/simple-icons.json
  icons/amazonsqs.svg
Labels: new icon

#7508 Add Ludwig icon
  _data/simple-icons.json
  icons/ludwig.svg
Labels: new icon

#7512 Add Cloudflare Pages icon
  _data/simple-icons.json
  icons/cloudflarepages.svg
Labels: new icon

#7525 Add Render icon
  _data/simple-icons.json
  icons/render.svg
Labels: new icon

#7528 Add Koyeb icon
  _data/simple-icons.json
  icons/koyeb.svg
Labels: new icon

#7536 Add BorgBackup logo
  _data/simple-icons.json
  icons/borgbackup.svg
Labels: new icon

#7493 feat: add playwright icon
  _data/simple-icons.json
  icons/playwright.svg
Labels: new icon
