Repository simple-icons/simple-icons, pull requests merged in 2022-08, with the labels that each got.

#7590 Add Zettlr icon
  _data/simple-icons.json
  icons/zettlr.svg
Labels: new icon

#7482 Add OctoPrint icon
  _data/simple-icons.json
  icons/octoprint.svg
Labels: new icon

#7581 Add Inkdrop Icon
  _data/simple-icons.json
  icons/inkdrop.svg
Labels: new icon

#7592 Add `MSI Business` icon
  _data/simple-icons.json
  icons/msibusiness.svg
Labels: new icon

#7587 Add `Tistory`
  _data/simple-icons.json
  icons/tistory.svg
Labels: new icon

#7595 Add Critical Role icon
  _data/simple-icons.json
  icons/criticalrole.svg
Labels: new icon

#7556 Add Virgin Media
  _data/simple-icons.json
  icons/virginmedia.svg
Labels: new icon

#7630 Add icon for `avajs`
  _data/simple-icons.json
  icons/avajs.svg
Labels: new icon

#7600 Add Traefik Proxy icon
  _data/simple-icons.json
  icons/traefikproxy.svg
Labels: new icon

#6003 Add BookMyShow icon
  _data/simple-icons.json
  icons/bookmyshow.svg
Labels: new icon

#6080 Add Keystone icon
  _data/simple-icons.json
  icons/keystone.svg
Labels: new icon

#6100 Add F5 icon
  _data/simple-icons.json
  icons/f5.svg
Labels: new icon, awaiting reply

#7041 Add LITIENGINE icon.
  _data/simple-icons.json
  icons/litiengine.svg
Labels: new icon

#7395 Add revolt.chat
  _data/simple-icons.json
  icons/revoltdotchat.svg
Labels: new icon, awaiting reply

#7645 Add Bookalope icon
  _data/simple-icons.json
  icons/bookalope.svg
Labels: new icon, changes requested

#6945 Taco Bell icon
  _data/simple-icons.json
  icons/tacobell.svg
Labels: new icon, awaiting reply

#7285 Add icon D lang
  _data/simple-icons.json
  icons/d.svg
Labels: new icon, changes requested, in discussion

#5991 Add Axios icon
  _data/simple-icons.json
  icons/axios.svg
Labels: new icon, hacktoberfest-accepted

#7680 Wacom
  _data/simple-icons.json
  icons/wacom.svg
Labels: new icon

#7696 feat: add TableCheck logo
  _data/simple-icons.json
  icons/tablecheck.svg
Labels: new icon

#7682 Add HarmonyOS (HMOS) icon
  _data/simple-icons.json
  icons/harmonyos.svg
Labels: new icon

#7702 Add .ENV (dotenv)
  _data/simple-icons.json
  icons/dotenv.svg
Labels: new icon

#7704 Add Legacy Games icon
  _data/simple-icons.json
  icons/legacygames.svg
Labels: new icon

#7678 Add Ducati icon
  _data/simple-icons.json
  icons/ducati.svg
Labels: new icon

#7135 Add Fuga Cloud icon
  _data/simple-icons.json
  icons/fugacloud.svg
Labels: new icon, changes requested

#7646 Add Wasmer icon
  _data/simple-icons.json
  icons/wasmer.svg
Labels: new icon, changes requested
