Repository simple-icons/simple-icons, pull requests merged in 2022-01, with the labels that each got.

#6942 Kingston Technology icon
  _data/simple-icons.json
  icons/kingstontechnology.svg
Labels: new icon

#6990 Insomnia icon update
  _data/simple-icons.json
  icons/insomnia.svg
Labels: icon outdated

#6985 Add WeGame
  _data/simple-icons.json
  icons/wegame.svg
Labels: new icon

#6999 Update Showpad icon
  .svglint-ignored.json
  icons/showpad.svg
Labels: icon outdated

#6996 Update Cocos icon
  .svglint-ignored.json
  icons/cocos.svg
Labels: icon outdated

#7010 G2 icon
  _data/simple-icons.json
  icons/g2.svg
Labels: new icon

#4816 Add some icons in Readme
  .github/workflows/publish.yml
  README.md
  assets/readme/blender-white.svg
  assets/readme/diagramsdotnet-white.svg
  assets/readme/drupal-white.svg
  assets/readme/flutter-white.svg
  assets/readme/hexo-white.svg
  assets/readme/homeassistant-white.svg
  assets/readme/kirby-white.svg
  assets/readme/laravel-white.svg
  assets/readme/nodedotjs-white.svg
  assets/readme/php-white.svg
  assets/readme/python-white.svg
  assets/readme/react-white.svg
  assets/readme/simpleicons-white.svg
  assets/readme/svelte-white.svg
  assets/readme/typescript-white.svg
  assets/readme/vuedotjs-white.svg
  assets/readme/wordpress-white.svg
  tests/readme-icons.test.js
Labels: meta

#5610 update fedora icon
  _data/simple-icons.json
  icons/fedora.svg
Labels: icon outdated

#6395 Add Magasins U icon
  _data/simple-icons.json
  icons/magasinsu.svg
Labels: new icon

#6397 Add Auchan icon
  _data/simple-icons.json
  icons/auchan.svg
Labels: new icon

#6905 [Updated] Quora icon 2021 edition
  icons/quora.svg
Labels: icon outdated

#7042 Fix error with Jetpack Compose white icon in README
  README.md
  assets/readme/jetpackcompose-white.svg
Labels: docs

#7008 moneygram icon
  _data/simple-icons.json
  icons/moneygram.svg
Labels: new icon

#7048 Decrease Typescript icon size in README
  README.md
Labels: docs

#7057 Add some badges to 'Contribute' section of README
  README.md
Labels: docs

#6120 Add Rarible Icon
  _data/simple-icons.json
  icons/rarible.svg
Labels: new icon

#6030 Add Norco
  _data/simple-icons.json
  icons/norco.svg
Labels: new icon

#6271 add virgin icon
  _data/simple-icons.json
  icons/virgin.svg
Labels: new icon

#6486 Add Leroy Merlin icon
  _data/simple-icons.json
  icons/leroymerlin.svg
Labels: new icon

#6978 Add Pix
  _data/simple-icons.json
  icons/pix.svg
Labels: new icon

#6416 Add Albert Heijn icon
  _data/simple-icons.json
  icons/albertheijn.svg
Labels: new icon

#6436 Add Morrisons icon
  _data/simple-icons.json
  icons/morrisons.svg
Labels: new icon

#6439 Add Darty icon
  _data/simple-icons.json
  icons/darty.svg
Labels: new icon

#6455 Add Saturn icon
  _data/simple-icons.json
  icons/saturn.svg
Labels: new icon

#7056 Fix some cases in README icons tests
  tests/readme-icons.test.js
Labels: meta

#7071 switch from uvu to mocha
  package.json
  tests/icons-cjs.test.js
  tests/icons-esm.test.js
  tests/index.test.js
  tests/min-reporter.cjs
  tests/readme-icons.test.js
  tests/test-icon.js
Labels: meta, dependencies

#7064 Add NetBSD icon.
  _data/simple-icons.json
  icons/netbsd.svg
Labels: new icon, changes requested

#6989 Added VTEX icon
  _data/simple-icons.json
  icons/vtex.svg
Labels: new icon, changes requested

#7044 feat: add Exoscale icon
  _data/simple-icons.json
  icons/exoscale.svg
Labels: new icon

#6411 Add Monoprix icon
  _data/simple-icons.json
  icons/monoprix.svg
Labels: new icon

#6461 Add Müller icon
  _data/simple-icons.json
  icons/muller.svg
Labels: new icon

#7025 Add Velog icon
  _data/simple-icons.json
  icons/velog.svg
Labels: new icon

#7053 Add OpenSea icon
  _data/simple-icons.json
  icons/opensea.svg
Labels: new icon, changes requested

#7095 Kuma
  _data/simple-icons.json
  icons/kuma.svg
Labels: new icon

#6459 Add Rossmann icon
  _data/simple-icons.json
  icons/rossmann.svg
Labels: new icon

#6471 Add Otto icon
  _data/simple-icons.json
  icons/otto.svg
Labels: new icon

#7105 Exclude "project" word discovering potential duplicates
  .github/workflows/potential-duplicates.yml
Labels: meta

#7090 Add Conan icon
  _data/simple-icons.json
  icons/conan.svg
Labels: new icon, in discussion

#7111 Fix 3rd party extensions order, add test to avoid regression
  README.md
  scripts/utils.js
  tests/readme-icons.test.js
  tests/readme.test.js
Labels: docs, meta

#7094 Add Tauri icon
  _data/simple-icons.json
  icons/tauri.svg
Labels: new icon

#7108 Add ReScript icon
  _data/simple-icons.json
  icons/rescript.svg
Labels: new icon

#7102 Traefik
  _data/simple-icons.json
  icons/traefikmesh.svg
Labels: new icon
