Repository simple-icons/simple-icons, pull requests merged in 2022-04, with the labels that each got.

#7290 add Docs.rs icon
  _data/simple-icons.json
  icons/docsdotrs.svg
Labels: new icon

#7244 Dragonframe
  _data/simple-icons.json
  icons/dragonframe.svg
Labels: new icon

#7296 Add Headless UI icon
  _data/simple-icons.json
  icons/headlessui.svg
Labels: new icon

#7279 add sailfishos
  _data/simple-icons.json
  icons/sailfishos.svg
Labels: new icon, changes requested

#7278 Pets at Home
  _data/simple-icons.json
  icons/petsathome.svg
Labels: new icon, changes requested

#7291 Add Yubico icon
  _data/simple-icons.json
  icons/yubico.svg
Labels: new icon, in discussion

#7275 Add Vowpal Wabbit icon
  _data/simple-icons.json
  icons/vowpalwabbit.svg
Labels: new icon

#7281 Update T-Mobile
  _data/simple-icons.json
  icons/tmobile.svg
Labels: icon outdated

#7276 Add Lazarus icon
  _data/simple-icons.json
  icons/lazarus.svg
Labels: new icon, changes requested

#7182 Matter.js
  _data/simple-icons.json
  icons/matterdotjs.svg
Labels: new icon, changes requested

#7264 Add MDX icon
  _data/simple-icons.json
  icons/mdx.svg
Labels: new icon

#7330 Use ASCII instead of Unicode characters
  _data/simple-icons.json
  icons/letsencrypt.svg
  icons/macys.svg
Labels: icon outdated

#7342 Push tag manually in 'Publish Releases' workflow
  .github/workflows/publish.yml
Labels: meta

#7272 Add Gurobi icon
  _data/simple-icons.json
  icons/gurobi.svg
Labels: new icon

#7318 Added Meta logo
  _data/simple-icons.json
  icons/meta.svg
Labels: new icon

#7245 Add spaCy icon
  _data/simple-icons.json
  icons/spacy.svg
Labels: new icon

#7315 Add CSS Modules icon
  _data/simple-icons.json
  icons/cssmodules.svg
Labels: new icon

#7259 Budibase
  _data/simple-icons.json
  icons/budibase.svg
Labels: new icon

#7357 Advise to use GitHub file URL also when color origin differs
  CONTRIBUTING.md
Labels: docs

#7360 Add Boxy SVG to list of vector graphics editors
  CONTRIBUTING.md
Labels: docs

#7346 Add Knative icon
  _data/simple-icons.json
  icons/knative.svg
Labels: new icon

#7362 Add Upstash icon
  _data/simple-icons.json
  icons/upstash.svg
Labels: new icon

#7347 Add levels.fyi icon
  _data/simple-icons.json
  icons/levelsdotfyi.svg
Labels: new icon

#7320 Add Paperspace icon
  _data/simple-icons.json
  icons/paperspace.svg
Labels: new icon

#7359 Add hashes to all Github sources
  _data/simple-icons.json
Labels: icon data

#7361 Allow to use the function `getThirdPartyExtensions` at other location
  scripts/utils.js
  tests/readme.test.js
Labels: meta

#7364 Gitlab
  _data/simple-icons.json
  icons/gitlab.svg
Labels: icon outdated
