Repository simple-icons/simple-icons, pull requests merged in 2023-01, with the labels that each got.

#8227 Add Creative Technology icon
  _data/simple-icons.json
  icons/creativetechnology.svg
Labels: new icon

#8191 Added BoardGameGeek
  _data/simple-icons.json
  icons/boardgamegeek.svg
Labels: new icon

#8204 New Icon: TNT
  _data/simple-icons.json
  icons/tnt.svg
Labels: new icon

#8143 Add Envoy Proxy icon
  _data/simple-icons.json
  icons/envoyproxy.svg
Labels: new icon

#8161 Add Answer icon
  _data/simple-icons.json
  icons/answer.svg
Labels: new icon

#8111 Add Fluxus Icon
  _data/simple-icons.json
  icons/fluxus.svg
Labels: new icon

#8117 Add TGA icon
  _data/simple-icons.json
  icons/tga.svg
Labels: new icon

#8122 Add Alchemy Icon
  _data/simple-icons.json
  icons/alchemy.svg
Labels: new icon

#8110 Add Monica icon
  _data/simple-icons.json
  icons/monica.svg
Labels: new icon

#8057 feat: add Chainguard logo
  _data/simple-icons.json
  icons/chainguard.svg
Labels: new icon

#8223 Freeze development dependencies versions
  package.json
Labels: dependencies

#7967 Add Wayland icon
  _data/simple-icons.json
  icons/wayland.svg
Labels: new icon, changes requested

#8271 New Icon: TOML
  _data/simple-icons.json
  icons/toml.svg
Labels: new icon

#8265 New Icon: DaisyUI
  _data/simple-icons.json
  icons/daisyui.svg
Labels: new icon

#8115 chore: update nuxt icon
  _data/simple-icons.json
  icons/nuxtdotjs.svg
Labels: icon outdated

#7881 Add Vala icon
  _data/simple-icons.json
  icons/vala.svg
Labels: new icon, in discussion

#8270 Add ITVx icon
  _data/simple-icons.json
  icons/itvx.svg
Labels: new icon
