Repository simple-icons/simple-icons, pull requests merged in 2023-12, with the labels that each got.

#9982 Update Webflow icon and hex
  _data/simple-icons.json
  icons/webflow.svg
Labels: icon outdated

#9920 Add AutoCAD
  _data/simple-icons.json
  icons/autocad.svg
Labels: new icon

#9984 Add APM Terminals
  _data/simple-icons.json
  icons/apmterminals.svg
Labels: new icon, from raster

#9352 Add netcup
  _data/simple-icons.json
  icons/netcup.svg
Labels: new icon

#9986 Add VEGAS
  _data/simple-icons.json
  icons/vegas.svg
Labels: new icon

#9987 Add 99designs
  _data/simple-icons.json
  icons/99designs.svg
Labels: new icon

#9989 Add Glovo
  _data/simple-icons.json
  icons/glovo.svg
Labels: new icon

#9990 Add Tabelog
  _data/simple-icons.json
  icons/tabelog.svg
Labels: new icon

#9992 Add Rapid
  _data/simple-icons.json
  icons/rapid.svg
Labels: new icon

#8216 New Icon: Yr
  _data/simple-icons.json
  icons/yr.svg
Labels: new icon, abandoned, changes requested

#9969 Add BP & Mattel to Our "Won't Add" List
  CONTRIBUTING.md
Labels: docs

#8250 New Icon: Netgear
  _data/simple-icons.json
  icons/netgear.svg
Labels: new icon, abandoned

#9964 Update Reddit icon
  icons/reddit.svg
Labels: update icon/data

#9884 Update Write.as
  _data/simple-icons.json
  icons/writedotas.svg
Labels: update icon/data

#9705 Add hepsiemlak
  _data/simple-icons.json
  icons/hepsiemlak.svg
Labels: new icon

#8471 Add Solidworks icon
  _data/simple-icons.json
Labels: update icon/data

#9965 Add oclif
  _data/simple-icons.json
  icons/oclif.svg
Labels: new icon

#10008 Add the International Olympic Committee to Forbidden Brands
  CONTRIBUTING.md
Labels: docs

#10026 Update Workflows to reflect new Labels
  .github/labeler.yml
  .github/workflows/add-labels-priority.yml
  .github/workflows/autoclose-issues.yml
  .github/workflows/potential-duplicates.yml
  .github/workflows/remove-labels.yml
Labels: meta

#10036 Add Educative
  _data/simple-icons.json
  icons/educative.svg
Labels: new icon

#10035 Add Great Learning
  _data/simple-icons.json
  icons/greatlearning.svg
Labels: new icon

#10033 Add Tinkercad
  _data/simple-icons.json
  icons/tinkercad.svg
Labels: new icon

#10031 Add Bakaláři
  _data/simple-icons.json
  icons/bakalari.svg
Labels: new icon

#10028 Add Dunzo
  _data/simple-icons.json
  icons/dunzo.svg
Labels: new icon, vector unavailable

#10030 Add Moodle
  _data/simple-icons.json
  icons/moodle.svg
Labels: new icon

#9958 Update Safari icon
  _data/simple-icons.json
  icons/safari.svg
Labels: update icon/data, vector unavailable

#10038 Add Packt
  _data/simple-icons.json
  icons/packt.svg
Labels: new icon

#9719 Add Picxy
  _data/simple-icons.json
  icons/picxy.svg
Labels: new icon

#9464 Add DeepL
  _data/simple-icons.json
  icons/deepl.svg
Labels: new icon

#9448 Add Resend
  _data/simple-icons.json
  icons/resend.svg
Labels: new icon

#9281 Add GrapheneOS
  _data/simple-icons.json
  icons/grapheneos.svg
Labels: new icon

#10027 add Graphite icon
  _data/simple-icons.json
  icons/graphite.svg
Labels: new icon

#10022 add Bricks Builder icon
  _data/simple-icons.json
  icons/bricks.svg
Labels: new icon

#10049 Add Helium
  _data/simple-icons.json
  icons/helium.svg
Labels: new icon

#10037 Add SRG SSR
  _data/simple-icons.json
  icons/srgssr.svg
Labels: new icon

#9923 Add LibreOffice Calc
  _data/simple-icons.json
  icons/libreofficecalc.svg
Labels: new icon

#6016 Add Red Bull
  _data/simple-icons.json
  icons/redbull.svg
Labels: new icon

#9500 Add GitHub Copilot
  _data/simple-icons.json
  icons/githubcopilot.svg
Labels: new icon

#10041 add SimpleLogin icon
  _data/simple-icons.json
  icons/simplelogin.svg
Labels: new icon

#10051 add kx icon
  _data/simple-icons.json
  icons/kx.svg
Labels: new icon

#10058 add Daily.dev icon
  _data/simple-icons.json
  icons/dailydotdev.svg
Labels: new icon

#10025 Add Thunderstore logo
  _data/simple-icons.json
  icons/thunderstore.svg
Labels: new icon

#9245 Add Frappe and ERPNext icons
  _data/simple-icons.json
  icons/erpnext.svg
  icons/frappe.svg
Labels: new icon

#7335 Add Code Blocks icon
  _data/simple-icons.json
  icons/codeblocks.svg
Labels: new icon, vector unavailable

#10067 Update NBC icon
  icons/nbc.svg
Labels: update icon/data

#10070 Update Cypress
  _data/simple-icons.json
  icons/cypress.svg
Labels: update icon/data

#10078 Add Metacritic
  _data/simple-icons.json
  icons/metacritic.svg
Labels: new icon

#10072 Add pipx icon
  _data/simple-icons.json
  icons/pipx.svg
Labels: new icon, assessing

#9907 Add Qase icon
  _data/simple-icons.json
  icons/qase.svg
Labels: new icon

#9906 Add Charles icon
  _data/simple-icons.json
  icons/charles.svg
Labels: new icon, vector unavailable

#10076 Add icon for Télé-Québec
  _data/simple-icons.json
  icons/telequebec.svg
Labels: new icon

#10083 Add Clever Cloud
  _data/simple-icons.json
  icons/clevercloud.svg
Labels: new icon, assessing

#10093 add date-fns icon
  _data/simple-icons.json
  icons/datefns.svg
Labels: new icon

#10097 Add TrillerTV (Replaces FITE)
  _data/simple-icons.json
  icons/trillertv.svg
Labels: new icon, update icon/data

#10084 Update Kinopoisk
  _data/simple-icons.json
  icons/kinopoisk.svg
Labels: update icon/data

#10063 Add Logitech G
  _data/simple-icons.json
  icons/logitechg.svg
Labels: new icon

#10095 Add Greasy Fork
  _data/simple-icons.json
  icons/greasyfork.svg
Labels: new icon, vector unavailable

#10071 Update Glassdoor
  _data/simple-icons.json
  icons/glassdoor.svg
Labels: update icon/data

#10068 Update IVECO
  _data/simple-icons.json
  icons/iveco.svg
Labels: update icon/data

#10029 Add Semantic UI
  _data/simple-icons.json
  icons/semanticui.svg
Labels: new icon, vector unavailable

#9709 Airtel
  _data/simple-icons.json
  icons/airtel.svg
Labels: new icon

#9616 Add: Linuxserver
  _data/simple-icons.json
  icons/linuxserver.svg
Labels: new icon

#9754 Add Uniqlo
  _data/simple-icons.json
  icons/uniqlo.svg
Labels: new icon

#10102 Add Uniqlo (Japan)
  _data/simple-icons.json
  icons/uniqlo_ja.svg
Labels: new icon

#8593 Add Showwcase icon
  _data/simple-icons.json
  icons/showwcase.svg
Labels: new icon

#10101 Update Citroën
  _data/simple-icons.json
  icons/citroen.svg
Labels: update icon/data

#10099 Update Bugatti
  _data/simple-icons.json
  icons/bugatti.svg
Labels: update icon/data

#10100 Update Channel 4
  _data/simple-icons.json
  icons/channel4.svg
Labels: update icon/data

#10103 add Runrun.it icon
  _data/simple-icons.json
  icons/runrundotit.svg
Labels: new icon

#10105 Update Riot Games icon
  _data/simple-icons.json
  icons/riotgames.svg
Labels: update icon/data

#7700 Add OSF
  _data/simple-icons.json
  icons/osf.svg
Labels: new icon, vector unavailable

#10106 Update Counter-Strike
  _data/simple-icons.json
  icons/counterstrike.svg
Labels: update icon/data

#9161 Add The Odin Project icon
  _data/simple-icons.json
  icons/theodinproject.svg
Labels: new icon

#10107 Update Dolby
  _data/simple-icons.json
  icons/dolby.svg
Labels: update icon/data

#10085 Update Android
  _data/simple-icons.json
  icons/android.svg
Labels: update icon/data

#10013 Add ComicFury
  _data/simple-icons.json
  icons/comicfury.svg
Labels: new icon

#8793 Add Proteus
  _data/simple-icons.json
  icons/proteus.svg
Labels: new icon

#10092 Update metadata
  _data/simple-icons.json
Labels: update icon/data, skip release note

#9910 Add Goldman Sachs
  _data/simple-icons.json
  icons/goldmansachs.svg
Labels: new icon

#9996 Add Tindie icon
  _data/simple-icons.json
  icons/tindie.svg
Labels: new icon

#10064 Add Virgin Atlantic
  _data/simple-icons.json
  icons/virginatlantic.svg
Labels: new icon

#9439 Add google bigtable
  _data/simple-icons.json
  icons/googlebigtable.svg
Labels: new icon

#8218 New Icon: DBeaver
  _data/simple-icons.json
  icons/dbeaver.svg
Labels: new icon

#10110 Add Biome
  _data/simple-icons.json
  icons/biome.svg
Labels: new icon

#10117 add wondershare icon
  _data/simple-icons.json
  icons/wondershare.svg
Labels: new icon

#10125 Add THE FINALS icon
  _data/simple-icons.json
  icons/thefinals.svg
Labels: new icon

#10124 Add Embark icon
  _data/simple-icons.json
  icons/embark.svg
Labels: new icon

#10141 Add Hostinger Icon
  _data/simple-icons.json
  icons/hostinger.svg
Labels: new icon

#10139 Add SeatGeek Icon
  _data/simple-icons.json
  icons/seatgeek.svg
Labels: new icon

#10130 Add Brex Icon
  _data/simple-icons.json
  icons/brex.svg
Labels: new icon

#10134 Add Barmenia icon
  _data/simple-icons.json
  icons/barmenia.svg
Labels: new icon

#10126 Add Meituan icon
  _data/simple-icons.json
  icons/meituan.svg
Labels: new icon

#10154 Add AutoIt
  _data/simple-icons.json
  icons/autoit.svg
Labels: new icon

#10131 Add Deutsche Post icon
  _data/simple-icons.json
  icons/deutschepost.svg
Labels: new icon

#10140 Add Hono icon
  _data/simple-icons.json
  icons/hono.svg
Labels: new icon

#10135 Add Paddle icon
  _data/simple-icons.json
  icons/paddle.svg
Labels: new icon, in discussion

#9566 Add transmission
  _data/simple-icons.json
  icons/transmission.svg
Labels: new icon, vector unavailable

#10157 Add StreamRunners' icon
  _data/simple-icons.json
  icons/streamrunners.svg
Labels: new icon

#10160 Add icon for Les libraires
  _data/simple-icons.json
  icons/leslibraires.svg
Labels: new icon

#10163 Update Hono
  _data/simple-icons.json
Labels: update icon/data, skip release note

#10162 Update Roblox icon & Roblox Studio source
  _data/simple-icons.json
  icons/roblox.svg
Labels: update icon/data

#10161 Update Photobucket
  _data/simple-icons.json
  icons/photobucket.svg
Labels: update icon/data

#10133 Add Transifex icon
  _data/simple-icons.json
  icons/transifex.svg
Labels: new icon

#10151 Update Write.as
  icons/writedotas.svg
Labels: awaiting reply, update icon/data, permission required

#10132 Add Galaxus icon
  _data/simple-icons.json
  icons/galaxus.svg
Labels: new icon

#8856 Add Bluesky icon
  _data/simple-icons.json
  icons/bluesky.svg
Labels: new icon

#9284 Add Piped
  _data/simple-icons.json
  icons/piped.svg
Labels: new icon

#10164 Add Afterpay
  _data/simple-icons.json
  icons/afterpay.svg
Labels: new icon, in discussion

#9150 Add NextDNS
  _data/simple-icons.json
  icons/nextdns.svg
Labels: new icon

#10005 Add Google Campaign Manager 360
  _data/simple-icons.json
  icons/googlecampaignmanager360.svg
Labels: new icon

#10116 Update Google Chrome
  _data/simple-icons.json
Labels: update icon/data

#10118 Update INFINITI
  _data/simple-icons.json
  icons/infiniti.svg
Labels: update icon/data

#10159 Update Opel icon
  icons/opel.svg
Labels: update icon/data

#10166 Update RTL
  _data/simple-icons.json
  icons/rtl.svg
Labels: update icon/data

#10168 Update smart
  _data/simple-icons.json
  icons/smart.svg
Labels: update icon/data

#10169 Update STARZ
  _data/simple-icons.json
  icons/starz.svg
Labels: update icon/data

#10171 Update Wish
  _data/simple-icons.json
  icons/wish.svg
Labels: update icon/data

#10188 Add Wyze Icon
  _data/simple-icons.json
  icons/wyze.svg
Labels: new icon

#10104 Add Stagetimer
  _data/simple-icons.json
  icons/stagetimer.svg
Labels: new icon
