Repository simple-icons/simple-icons, pull requests merged in 2023-07, with the labels that each got.

#8923 Update Sauce Labs
  _data/simple-icons.json
  icons/saucelabs.svg
Labels: icon outdated

#5998 Add Recoil icon
  _data/simple-icons.json
  icons/recoil.svg
Labels: new icon

#6081 Add Pretzel icon
  _data/simple-icons.json
  icons/pretzel.svg
Labels: new icon, awaiting reply

#8778 Add RISC-V icon
  _data/simple-icons.json
  icons/riscv.svg
Labels: new icon

#8596 Update BBC and BBC iPlayer icons
  _data/simple-icons.json
  icons/bbc.svg
  icons/bbciplayer.svg
Labels: icon outdated

#8909 Add guidelines for MSFT logos from Fluent UI
  _data/simple-icons.json
Labels: icon data

#8946 Add Ariakit icon
  _data/simple-icons.json
  icons/ariakit.svg
Labels: new icon

#8952 Add Wasabi icon
  _data/simple-icons.json
  icons/wasabi.svg
Labels: new icon

#8950 Add Sitecore Icon
  _data/simple-icons.json
  icons/sitecore.svg
Labels: new icon

#8943 Add Threads icon
  _data/simple-icons.json
  icons/threads.svg
Labels: new icon, in discussion

#8939 Update fujifilm
  _data/simple-icons.json
  icons/fujifilm.svg
Labels: icon outdated

#8957 Update broadcom
  _data/simple-icons.json
  icons/broadcom.svg
Labels: icon outdated

#8902 Update proton drive
  _data/simple-icons.json
  icons/protondrive.svg
Labels: icon outdated

#8973 Update Proton VPN color
  _data/simple-icons.json
Labels: icon data

#6497 adding SPOJ icon
  _data/simple-icons.json
  icons/spoj.svg
Labels: new icon

#8985 Add dark mode documentation for `cdn.simpleicons.org`
  README.md
Labels: docs

#8927 Update Ubiquiti Icon
  _data/simple-icons.json
  icons/ubiquiti.svg
Labels: icon outdated, changes requested

#8986 Update Dask icon
  _data/simple-icons.json
  icons/dask.svg
Labels: icon outdated

#8993 Fix typos to make lines consistent
  README.md
Labels: docs

#6017 Update Dacia
  _data/simple-icons.json
  icons/dacia.svg
Labels: icon outdated

#7802 Update Scribd
  _data/simple-icons.json
  icons/scribd.svg
Labels: icon outdated

#8860 Add Pterodactyl icon
  _data/simple-icons.json
  icons/pterodactyl.svg
Labels: new icon, awaiting reply

#8974 Use GitHub built-in style for notes
  CONTRIBUTING.md
  README.md
Labels: docs

#6009 Add Libera.Chat logo
  _data/simple-icons.json
  icons/liberadotchat.svg
Labels: new icon

#8773 Update CurseForge icon
  _data/simple-icons.json
  icons/curseforge.svg
Labels: icon outdated, changes requested

#8326 Add tiddlywiki.svg
  _data/simple-icons.json
  icons/tiddlywiki.svg
Labels: new icon

#8544 Add FerretDB icon
  _data/simple-icons.json
  icons/ferretdb.svg
Labels: new icon

#8595 Add Webtrees icon
  _data/simple-icons.json
  icons/webtrees.svg
Labels: new icon

#8598 Add Channel 4 icon
  _data/simple-icons.json
  icons/channel4.svg
Labels: new icon

#8691 Add OpenSCAD icon
  _data/simple-icons.json
  icons/openscad.svg
Labels: new icon

#8733 Add Caddy icon
  _data/simple-icons.json
  icons/caddy.svg
Labels: new icon

#8742 Add Authelia icon
  _data/simple-icons.json
  icons/authelia.svg
Labels: new icon

#8743 Add ReVanced icon
  _data/simple-icons.json
  icons/revanced.svg
Labels: new icon

#8761 Add Standard Resume icon
  _data/simple-icons.json
  icons/standardresume.svg
Labels: new icon

#9034 Update 1Password Icon
  _data/simple-icons.json
  icons/1password.svg
Labels: icon outdated

#9019 Update Adobe XD Icon
  _data/simple-icons.json
  icons/adobexd.svg
Labels: icon outdated

#9039 Update Letterboxd icon
  _data/simple-icons.json
  icons/letterboxd.svg
Labels: icon outdated

#8730 Add Amazon Luna icon
  _data/simple-icons.json
  icons/amazonluna.svg
Labels: new icon

#8457 Add Juejin icon
  _data/simple-icons.json
  icons/juejin.svg
Labels: new icon

#8408 ADD: Icon for Turbo
  _data/simple-icons.json
  icons/turbo.svg
Labels: new icon

#8508 Add Inertia Icon
  _data/simple-icons.json
  icons/inertia.svg
Labels: new icon

#7866 Add Micro icon
  _data/simple-icons.json
  icons/microeditor.svg
Labels: new icon, in discussion

#8801 Adding CodeSignal icon
  _data/simple-icons.json
  icons/codesignal.svg
Labels: new icon, awaiting reply

#8585 Add the GStreamer icon
  _data/simple-icons.json
  icons/gstreamer.svg
Labels: new icon, changes requested

#8798 Add LTspice
  _data/simple-icons.json
  icons/ltspice.svg
Labels: new icon

#8815 Add H3 Icon
  _data/simple-icons.json
  icons/h3.svg
Labels: new icon

#8830 Add ownCloud Icon
  _data/simple-icons.json
  icons/owncloud.svg
Labels: new icon

#7813 Add Studio 3T
  _data/simple-icons.json
  icons/studio3t.svg
Labels: new icon

#8926 Update FIRST icon
  _data/simple-icons.json
  icons/first.svg
Labels: icon outdated

#8925 Update Gumroad
  _data/simple-icons.json
  icons/gumroad.svg
Labels: icon outdated

#8913 Add Mongoose
  _data/simple-icons.json
  icons/mongoosedotws.svg
Labels: new icon

#8557 Add Nextra icon
  _data/simple-icons.json
  icons/nextra.svg
Labels: new icon, changes requested

#7812 Add UML
  _data/simple-icons.json
  icons/uml.svg
Labels: new icon

#8868 Add Leica icon
  _data/simple-icons.json
  icons/leica.svg
Labels: new icon

#7808 Add Newegg
  _data/simple-icons.json
  icons/newegg.svg
Labels: new icon

#7804 Update arXiv
  _data/simple-icons.json
  icons/arxiv.svg
Labels: icon outdated

#7807 Add JFrog Pipelines
  _data/simple-icons.json
  icons/jfrogpipelines.svg
Labels: new icon

#8911 Add hearthis.at icon
  _data/simple-icons.json
  icons/hearthisdotat.svg
Labels: new icon

#8934 Add Microstation Icon
  _data/simple-icons.json
  icons/microstation.svg
Labels: new icon

#8883 Add Proton Calendar
  _data/simple-icons.json
  icons/protoncalendar.svg
Labels: new icon

#8869 Add kodak icon
  _data/simple-icons.json
  icons/kodak.svg
Labels: new icon

#8874 Add Sanity Icon
  _data/simple-icons.json
  icons/sanity.svg
Labels: new icon

#6015 Add Air India
  _data/simple-icons.json
  icons/airindia.svg
Labels: new icon

#9048 Add Checkmk icon
  _data/simple-icons.json
  icons/checkmk.svg
Labels: new icon

#9046 Add WalletConnect
  _data/simple-icons.json
  icons/walletconnect.svg
Labels: new icon

#9016 Add Firefly III icon
  _data/simple-icons.json
  icons/fireflyiii.svg
Labels: new icon

#9049 Add PostHog icon
  _data/simple-icons.json
  icons/posthog.svg
Labels: new icon

#8876 Add Google Container Optimized OS
  _data/simple-icons.json
  icons/googlecontaineroptimizedos.svg
Labels: new icon

#8921 Add Roadmap.sh Icon
  _data/simple-icons.json
  icons/roadmapdotsh.svg
Labels: new icon

#8931 Add Pydantic icon
  _data/simple-icons.json
  icons/pydantic.svg
Labels: new icon

#6591 updated teamspeak icon
  _data/simple-icons.json
  icons/teamspeak.svg
Labels: icon outdated

#9047 Add Rundeck icon
  _data/simple-icons.json
  icons/rundeck.svg
Labels: new icon

#7805 Add MediBang Paint
  _data/simple-icons.json
  icons/medibangpaint.svg
Labels: new icon

#9055 Add wiki.gg icon
  _data/simple-icons.json
  icons/wikidotgg.svg
Labels: new icon

#8954 Add TestRail icon
  _data/simple-icons.json
  icons/testrail.svg
Labels: new icon

#8955 Add SpeedyPage
  _data/simple-icons.json
  icons/speedypage.svg
Labels: new icon

#8962 Add Ars Technica
  _data/simple-icons.json
  icons/arstechnica.svg
Labels: new icon

#9065 Add Windows 10, changes `windows` to match Win11 icon.
  _data/simple-icons.json
  icons/windows.svg
  icons/windows10.svg
Labels: new icon, icon outdated

#8966 Add apache storm
  _data/simple-icons.json
  icons/apachestorm.svg
Labels: new icon

#8967 Add Kamailio
  _data/simple-icons.json
  icons/kamailio.svg
Labels: new icon

#8969 Add Qwant
  _data/simple-icons.json
  icons/qwant.svg
Labels: new icon

#8971 Add HSBC icon
  _data/simple-icons.json
  icons/hsbc.svg
Labels: new icon

#8972 Add JUCE icon
  _data/simple-icons.json
  icons/juce.svg
Labels: new icon

#5677 Add FareHarbor icon
  _data/simple-icons.json
  icons/fareharbor.svg
Labels: new icon

#8940 Add Clarifai icon
  _data/simple-icons.json
  icons/clarifai.svg
Labels: new icon

#8978 Add Kit icon
  _data/simple-icons.json
  icons/kit.svg
Labels: new icon

#8980 Add Denon icon
  _data/simple-icons.json
  icons/denon.svg
Labels: new icon

#9070 Update Zoho icon
  _data/simple-icons.json
  icons/zoho.svg
Labels: icon outdated

#8981 Add Google Docs icon
  _data/simple-icons.json
  icons/googledocs.svg
Labels: new icon

#8989 Add Jovian icon
  _data/simple-icons.json
  icons/jovian.svg
Labels: new icon

#8998 Add Paychex Icon
  _data/simple-icons.json
  icons/paychex.svg
Labels: new icon

#9007 Add Phoenix Framework icon
  _data/simple-icons.json
  icons/phoenixframework.svg
Labels: new icon

#9008 Add Alteryx icon
  _data/simple-icons.json
  icons/alteryx.svg
Labels: new icon

#9012 Add thurgauer kantonalbank
  _data/simple-icons.json
  icons/thurgauerkantonalbank.svg
Labels: new icon

#9023 Add Thangs Icon
  _data/simple-icons.json
  icons/thangs.svg
Labels: new icon

#9025 Add bspwm
  _data/simple-icons.json
  icons/bspwm.svg
Labels: new icon

#9027 Add BisectHosting icon
  _data/simple-icons.json
  icons/bisecthosting.svg
Labels: new icon

#9029 Add bombardier
  _data/simple-icons.json
  icons/bombardier.svg
Labels: new icon

#9030 Add Pearson icon
  _data/simple-icons.json
  icons/pearson.svg
Labels: new icon

#9031 Add Sage icon
  _data/simple-icons.json
  icons/sage.svg
Labels: new icon

#9032 Add Intuit icon
  _data/simple-icons.json
  icons/intuit.svg
Labels: new icon

#9033 Add PythonAnywhere
  _data/simple-icons.json
  icons/pythonanywhere.svg
Labels: new icon

#9036 Add Semrush icon
  _data/simple-icons.json
  icons/semrush.svg
Labels: new icon

#9037 Add HashiCorp icon
  _data/simple-icons.json
  icons/hashicorp.svg
Labels: new icon

#9038 Add Palo Alto Networks icon
  _data/simple-icons.json
  icons/paloaltonetworks.svg
Labels: new icon

#9040 Add adroll
  _data/simple-icons.json
  icons/adroll.svg
Labels: new icon

#9054 Adding Miraheze icon
  _data/simple-icons.json
  icons/miraheze.svg
Labels: new icon

#9056 Add BentoML icon
  _data/simple-icons.json
  icons/bentoml.svg
Labels: new icon

#9075 Add brevo
  _data/simple-icons.json
  icons/brevo.svg
Labels: new icon

#9078 Add Zod
  _data/simple-icons.json
  icons/zod.svg
Labels: new icon

#9079 Add Radix
  _data/simple-icons.json
  icons/radixui.svg
Labels: new icon

#9080 Add google forms
  _data/simple-icons.json
  icons/googleforms.svg
Labels: new icon

#9082 Add NgRx icon
  _data/simple-icons.json
  icons/ngrx.svg
Labels: new icon

#5431 Add NBC
  _data/simple-icons.json
  icons/nbc.svg
Labels: new icon

#9083 Add SVG.js icon
  _data/simple-icons.json
  icons/svgdotjs.svg
Labels: new icon

#9086 Fix spell of `jsDelivr`
  README.md
Labels: docs

#9087 Fix logic of checking author of PR
  .github/workflows/add-labels-priority.yml
Labels: meta

#9011 Add F Sharp icon
  _data/simple-icons.json
  icons/fsharp.svg
Labels: new icon

#5796 Add IRIS
  _data/simple-icons.json
  icons/iris.svg
Labels: new icon

#8739 Add Amazon IAM Icon
  _data/simple-icons.json
  icons/amazoniam.svg
Labels: new icon, changes requested

#9090 Fix logic of get organization members
  .github/workflows/add-labels-priority.yml
Labels: meta

#7005 Added chatwoot icon
  _data/simple-icons.json
  icons/chatwoot.svg
Labels: new icon

#7388 Add Stryker icon
  _data/simple-icons.json
  icons/stryker.svg
Labels: new icon

#8750 Add Opera GX Icon
  _data/simple-icons.json
  icons/operagx.svg
Labels: new icon

#8964 Add Qlik icon
  _data/simple-icons.json
  icons/qlik.svg
Labels: new icon

#8976 Add Airbrake.io Icon
  _data/simple-icons.json
  icons/airbrakedotio.svg
Labels: new icon

#9063 Add sst
  _data/simple-icons.json
  icons/sst.svg
Labels: new icon

#9097 Add Tina
  _data/simple-icons.json
  icons/tina.svg
Labels: new icon

#9100 Add Podcast Index Icon
  _data/simple-icons.json
  icons/podcastindex.svg
Labels: new icon

#7950 Use icons from CDN
  .github/workflows/publish.yml
  README.md
  assets/readme/angular-white.svg
  assets/readme/blazor-white.svg
  assets/readme/blender-white.svg
  assets/readme/diagramsdotnet-white.svg
  assets/readme/drupal-white.svg
  assets/readme/elgato-white.svg
  assets/readme/figma-white.svg
  assets/readme/flutter-white.svg
  assets/readme/framer-white.svg
  assets/readme/hexo-white.svg
  assets/readme/homeassistant-white.svg
  assets/readme/hugo-white.svg
  assets/readme/jetpackcompose-white.svg
  assets/readme/kirby-white.svg
  assets/readme/laravel-white.svg
  assets/readme/latex-white.svg
  assets/readme/nodedotjs-white.svg
  assets/readme/openjdk-white.svg
  assets/readme/php-white.svg
  assets/readme/python-white.svg
  assets/readme/react-white.svg
  assets/readme/simpleicons-white.svg
  assets/readme/solid-white.svg
  assets/readme/svelte-white.svg
  assets/readme/typescript-white.svg
  assets/readme/vuedotjs-white.svg
  assets/readme/wordpress-white.svg
  package.json
  scripts/build/strip-theme-link.js
  sdk.mjs
  tests/docs.test.js
Labels: meta

#9126 Remove unused shebang line
  scripts/build/package.js
  scripts/get-filename.js
  scripts/lint/jsonlint.js
  scripts/lint/ourlint.js
  scripts/release/bump-version.js
  scripts/release/update-cdn-urls.js
  scripts/release/update-slugs-table.js
  scripts/release/update-svgs-count.js
Labels: meta

#9135 Added EasyEDA Icon
  _data/simple-icons.json
  icons/easyeda.svg
Labels: new icon

#8961 Add Voron Design
  _data/simple-icons.json
  icons/vorondesign.svg
Labels: new icon

#9022 Add remark icon
  _data/simple-icons.json
  icons/remark.svg
Labels: new icon

#9144 Update bose
  _data/simple-icons.json
  icons/bose.svg
Labels: icon outdated

#9145 Update Arduino icon and data
  _data/simple-icons.json
  icons/arduino.svg
Labels: icon outdated

#9123 Add Apifox Icon
  _data/simple-icons.json
  icons/apifox.svg
Labels: new icon

#9125 Add Open Source Hardware icon
  _data/simple-icons.json
  icons/opensourcehardware.svg
Labels: new icon

#9130 Add Creality Logo
  _data/simple-icons.json
  icons/creality.svg
Labels: new icon

#9166 Update tag commit message on publish workflow
  .github/workflows/publish.yml
Labels: meta

#9162 Add leptos-icons to third party extensions
  README.md
Labels: docs

#8968 Add Gamemaker icon
  _data/simple-icons.json
  icons/gamemaker.svg
Labels: new icon

#8899 Adding RubyGem
  README.md
Labels: docs

#9163 Normalize third party extension names
  README.md
Labels: docs
