Repository simple-icons/simple-icons, pull requests merged in 2023-11, with the labels that each got.

#9659 Update HP
  _data/simple-icons.json
  icons/hp.svg
Labels: icon outdated

#9704 Update Hilton
  _data/simple-icons.json
  icons/hilton.svg
Labels: icon outdated

#9792 Replace `rimraf` with `del-cli`
  package.json
Labels: meta, dependencies

#9816 Convert reusable workflows to actions
  .github/actions/get-labels/action.yml
  .github/actions/get-version/action.yml
  .github/workflows/add-labels-priority.yml
  .github/workflows/autoclose-issues.yml
  .github/workflows/get-labels.yml
  .github/workflows/get-version.yml
  .github/workflows/publish.yml
Labels: meta

#9817 Use `git add -u` in pre-commit hook and fix assign-to-project GHA workflow
  .github/workflows/add-labels-priority.yml
  .husky/pre-commit
Labels: meta

#9827 Update Angular to new source
  _data/simple-icons.json
  icons/angular.svg
Labels: icon outdated

#7674 Add Apache Guacamole Icon
  _data/simple-icons.json
  icons/apacheguacamole.svg
Labels: new icon

#9821 Update: boehringer ingelheim
  _data/simple-icons.json
  icons/boehringeringelheim.svg
Labels: icon data

#9819 Add Framework icon
  _data/simple-icons.json
  icons/framework.svg
Labels: new icon

#9772 Add YouTube Shorts
  _data/simple-icons.json
  icons/youtubeshorts.svg
Labels: new icon

#9846 Use `save-exact` for dependencies
  .npmrc
Labels: meta, dependencies

#9849 Fix get-labels action when returning multiple labels
  .github/actions/get-labels/action.yml
Labels: meta

#9848 Fix Autocloser Workflow
  .github/workflows/autoclose-issues.yml
Labels: meta

#8268 New Icon: Fairphone
  _data/simple-icons.json
  icons/fairphone.svg
Labels: new icon, changes requested

#8613 Add new icon for Webex
  _data/simple-icons.json
  icons/webex.svg
Labels: new icon, changes requested

#8867 Add wells fargo icon
  _data/simple-icons.json
  icons/wellsfargo.svg
Labels: new icon

#8938 Add PlatformIO Icon
  _data/simple-icons.json
  icons/platformio.svg
Labels: new icon, from raster

#9219 Add Tricentis icon
  _data/simple-icons.json
  icons/tricentis.svg
Labels: new icon, changes requested

#9468 Add satellite
  _data/simple-icons.json
  icons/satellite.svg
Labels: new icon

#9784 Update: Read.cv
  _data/simple-icons.json
  icons/readdotcv.svg
Labels: icon outdated

#9761 Update Thunderbird
  _data/simple-icons.json
  icons/thunderbird.svg
Labels: icon outdated

#9546 Add Insta360 icon
  _data/simple-icons.json
  icons/insta360.svg
Labels: new icon

#9661 Update Hack The Box
  _data/simple-icons.json
  icons/hackthebox.svg
Labels: icon outdated

#9850 Update SQLAlchemy
  _data/simple-icons.json
  icons/sqlalchemy.svg
Labels: icon outdated

#5488 Add Blackmagic Design
  _data/simple-icons.json
  icons/blackmagicdesign.svg
Labels: new icon, in discussion

#9869 Add PortSwigger
  _data/simple-icons.json
  icons/portswigger.svg
Labels: new icon

#9868 Add Diners Club
  _data/simple-icons.json
  icons/dinersclub.svg
Labels: new icon

#9808 Add Mermaid.js icon
  _data/simple-icons.json
  icons/mermaid.svg
Labels: new icon

#9851 Add Material for MkDocs icon
  _data/simple-icons.json
  icons/materialformkdocs.svg
Labels: new icon

#9844 Add Rye
  _data/simple-icons.json
  icons/rye.svg
Labels: new icon

#9805 Add PDM icon
  _data/simple-icons.json
  icons/pdm.svg
Labels: new icon

#7262 Add Deluge icon
  _data/simple-icons.json
  icons/deluge.svg
Labels: new icon, in discussion

#7293 Add mpv icon
  _data/simple-icons.json
  icons/mpv.svg
Labels: new icon

#9417 Add Clerk
  _data/simple-icons.json
  icons/clerk.svg
Labels: new icon

#7701 Added JitPack Icon
  _data/simple-icons.json
  icons/jitpack.svg
Labels: new icon

#8267 New Icon: Mailtrap
  _data/simple-icons.json
  icons/mailtrap.svg
Labels: new icon, changes requested

#8802 Add Microsoft Store
  _data/simple-icons.json
  icons/microsoftstore.svg
Labels: new icon

#8203 New Icon: Toll
  _data/simple-icons.json
  icons/toll.svg
Labels: new icon

#8987 Add Raycast Icon
  _data/simple-icons.json
  icons/raycast.svg
Labels: new icon

#8276 New Icon: Gsmarena
  _data/simple-icons.json
  icons/gsmarenadotcom.svg
Labels: new icon, changes requested

#8060 Add blockbench icon
  _data/simple-icons.json
  icons/blockbench.svg
Labels: new icon, changes requested

#8809 Add TradingView icon
  _data/simple-icons.json
  icons/tradingview.svg
Labels: new icon

#9450 Add Google Dataflow
  _data/simple-icons.json
  icons/googledataflow.svg
Labels: new icon, in discussion

#9466 Add Google Pub/Sub
  _data/simple-icons.json
  icons/googlepubsub.svg
Labels: new icon

#7857 Add l'Équipe icon
  _data/simple-icons.json
  icons/lequipe.svg
Labels: new icon

#8066 Add RTM icon
  _data/simple-icons.json
  icons/rtm.svg
Labels: new icon

#9864 Update Appwrite
  _data/simple-icons.json
  icons/appwrite.svg
Labels: icon outdated

#8324 Add Medusa
  _data/simple-icons.json
  icons/medusa.svg
Labels: new icon

#9338 Update B&R icon
  icons/bandrautomation.svg
Labels: icon outdated, changes requested

#9479 Add VictoriaMetrics
  _data/simple-icons.json
  icons/victoriametrics.svg
Labels: new icon, changes requested

#9326 Add W3 Schools
  _data/simple-icons.json
  icons/w3schools.svg
Labels: new icon

#7774 Add WezTerm icon
  _data/simple-icons.json
  icons/wezterm.svg
Labels: new icon, changes requested

#9606 Add Drizzle icon
  _data/simple-icons.json
  icons/drizzle.svg
Labels: new icon

#9384 Add canvas
  _data/simple-icons.json
  icons/canvas.svg
Labels: new icon

#9682 Add Slint
  _data/simple-icons.json
  icons/slint.svg
Labels: new icon

#6980 Add Odoo icon
  _data/simple-icons.json
  icons/odoo.svg
Labels: new icon

#7076 Add Bevy Engine icon
  _data/simple-icons.json
  icons/bevy.svg
Labels: new icon, changes requested

#8897 Add Boosty icon
  _data/simple-icons.json
  icons/boosty.svg
Labels: new icon

#9653 Update Hyundai
  _data/simple-icons.json
  icons/hyundai.svg
Labels: icon outdated

#9068 Remove Sendinblue
  _data/simple-icons.json
  icons/sendinblue.svg
Labels: breaking change

#9133 Remove Zend Framework
  _data/simple-icons.json
  icons/zendframework.svg
Labels: breaking change

#9328 Replace Clubhouse.io with Clubhouse.com
  _data/simple-icons.json
  icons/clubhouse.svg
Labels: breaking change

#9180 Remove z-wave
  _data/simple-icons.json
  icons/zwave.svg
Labels: breaking change

#9182 Remove YourTravel.TV
  _data/simple-icons.json
  icons/yourtraveldottv.svg
Labels: breaking change

#9190 Remove Xilinx
  _data/simple-icons.json
  icons/xilinx.svg
Labels: breaking change

#9250 Remove Windi CSS icon
  _data/simple-icons.json
  icons/windicss.svg
Labels: breaking change

#9258 Remove Sourcegraph
  _data/simple-icons.json
  icons/sourcegraph.svg
Labels: breaking change

#9366 Remove ZeroMQ icon
  _data/simple-icons.json
  icons/zeromq.svg
Labels: breaking change

#9367 Remove Winmate icon
  _data/simple-icons.json
  icons/winmate.svg
Labels: breaking change

#9369 Remove WhiteSource icon
  _data/simple-icons.json
  icons/whitesource.svg
Labels: breaking change

#9459 Remove Untangle icon
  _data/simple-icons.json
  icons/untangle.svg
Labels: breaking change

#9509 Remove Twoo
  _data/simple-icons.json
  icons/twoo.svg
Labels: breaking change

#9640 Remove Jenkins X
  _data/simple-icons.json
  icons/jenkinsx.svg
Labels: breaking change

#9641 Remove JFrog Bintray
  _data/simple-icons.json
  icons/jfrogbintray.svg
Labels: breaking change

#9655 Remove Hyperledger
  _data/simple-icons.json
  icons/hyperledger.svg
Labels: breaking change

#9706 Remove Hurriyetemlak
  _data/simple-icons.json
  icons/hurriyetemlak.svg
Labels: breaking change

#9836 Remove YOLO
  _data/simple-icons.json
  icons/yolo.svg
Labels: breaking change

#9861 Remove Yahoo
  _data/simple-icons.json
  icons/yahoo.svg
Labels: breaking change

#9837 Remove Uploaded
  _data/simple-icons.json
  icons/uploaded.svg
Labels: breaking change

#9885 Remove W3C icon
  _data/simple-icons.json
  icons/w3c.svg
Labels: breaking change

#9294 Removal of Stack Exchange sites that aren't centrally owned
  _data/simple-icons.json
  icons/askubuntu.svg
  icons/codereview.svg
Labels: breaking change

#9108 Remove Forestry
  _data/simple-icons.json
  icons/forestry.svg
Labels: breaking change

#9301 Remove Acclaim
  _data/simple-icons.json
  icons/acclaim.svg
Labels: breaking change

#9302 Remove Anchor
  _data/simple-icons.json
  icons/anchor.svg
Labels: breaking change

#9303 Remove AngelList
  _data/simple-icons.json
  icons/angellist.svg
Labels: breaking change

#9304 Remove AngularJS
  _data/simple-icons.json
  icons/angularjs.svg
Labels: breaking change

#9336 Remove Badgr
  _data/simple-icons.json
  icons/badgr.svg
Labels: breaking change

#9337 Remove Byte
  _data/simple-icons.json
  icons/byte.svg
Labels: breaking change

#9371 Remove AddThis
  _data/simple-icons.json
  icons/addthis.svg
Labels: breaking change

#9390 Remove `(ISC)²`
  _data/simple-icons.json
  icons/iscsquared.svg
Labels: breaking change

#9488 Remove LGTM
  _data/simple-icons.json
  icons/lgtm.svg
Labels: breaking change

#9534 Remove MediaTemple icon
  _data/simple-icons.json
  icons/mediatemple.svg
Labels: breaking change

#9305 Remove Atom
  _data/simple-icons.json
  icons/atom.svg
Labels: breaking change

#8910 Add Kick icon
  _data/simple-icons.json
  icons/kick.svg
Labels: new icon, changes requested

#7793 Update Proton Mail title
  _data/simple-icons.json
  icons/protonmail.svg
Labels: breaking change

#7795 Update Proton VPN title
  _data/simple-icons.json
  icons/protonvpn.svg
Labels: breaking change

#7801 Remove SonarSource
  _data/simple-icons.json
  icons/sonarsource.svg
Labels: breaking change

#9306 Remove Ableton Live
  _data/simple-icons.json
  icons/abletonlive.svg
Labels: breaking change

#9714 Add Depositphotos
  _data/simple-icons.json
  icons/depositphotos.svg
Labels: new icon

#9341 Remove Bath ASU
  _data/simple-icons.json
  icons/bathasu.svg
Labels: breaking change

#9832 Remove Angular Universal
  _data/simple-icons.json
  icons/angularuniversal.svg
Labels: breaking change

#9747 Add Phosphor Icons
  _data/simple-icons.json
  icons/phosphoricons.svg
Labels: new icon

#9870 Removes BBC and BBC iPlayer
  _data/simple-icons.json
  icons/bbc.svg
  icons/bbciplayer.svg
Labels: breaking change

#9856 Remove Deezer
  _data/simple-icons.json
  icons/deezer.svg
Labels: breaking change

#9896 Remove Microsoft Office
  _data/simple-icons.json
  icons/microsoftoffice.svg
Labels: breaking change

#9495 Add Fineco
  _data/simple-icons.json
  icons/fineco.svg
Labels: new icon, changes requested

#7333 Add NSIS icon
  _data/simple-icons.json
  icons/nsis.svg
Labels: new icon

#9607 Rename `OpenTF` to `OpenTofu`
  _data/simple-icons.json
  icons/opentf.svg
  icons/opentofu.svg
Labels: breaking change

#8247 New Icon: Payhip
  _data/simple-icons.json
  icons/payhip.svg
Labels: new icon, changes requested

#9878 Add Rive
  _data/simple-icons.json
  icons/rive.svg
Labels: new icon

#9881 Add CBC
  _data/simple-icons.json
  icons/cbc.svg
Labels: new icon

#9882 Add Vivint
  _data/simple-icons.json
  icons/vivint.svg
Labels: new icon

#9887 Add NHL
  _data/simple-icons.json
  icons/nhl.svg
Labels: new icon

#9889 Add StockX
  _data/simple-icons.json
  icons/stockx.svg
Labels: new icon

#9890 Add Pi Network
  _data/simple-icons.json
  icons/pinetwork.svg
Labels: new icon

#9898 Add Celestron
  _data/simple-icons.json
  icons/celestron.svg
Labels: new icon

#9899 Add avianca
  _data/simple-icons.json
  icons/avianca.svg
Labels: new icon

#9904 Add PrepBytes
  _data/simple-icons.json
  icons/prepbytes.svg
Labels: new icon

#9556 Add Oppo
  _data/simple-icons.json
  icons/oppo.svg
Labels: new icon

#9742 Add WazirX
  _data/simple-icons.json
  icons/wazirx.svg
Labels: new icon

#9796 Add AlmaLinux
  _data/simple-icons.json
  icons/almalinux.svg
Labels: new icon

#8246 New Icon: Session
  _data/simple-icons.json
  icons/session.svg
Labels: new icon, changes requested

#8249 New Icon: Ton
  _data/simple-icons.json
  icons/ton.svg
Labels: new icon, changes requested

#8548 Add openHAB (#6584)
  _data/simple-icons.json
  icons/openhab.svg
Labels: new icon, changes requested

#9472 Add Google Cloud Spanner
  _data/simple-icons.json
  icons/googlecloudspanner.svg
Labels: new icon, changes requested

#9568 Add chedraui
  _data/simple-icons.json
  icons/chedraui.svg
Labels: new icon

#9577 Add Sam's Club
  _data/simple-icons.json
  icons/samsclub.svg
Labels: new icon

#9580 Add Google Tasks
  _data/simple-icons.json
  icons/googletasks.svg
Labels: new icon

#9354 Add Crew United
  _data/simple-icons.json
  icons/crewunited.svg
Labels: new icon

#9912 Add Expedia
  _data/simple-icons.json
  icons/expedia.svg
Labels: new icon

#9563 Add BitComet
  _data/simple-icons.json
  icons/bitcomet.svg
Labels: new icon

#9908 Add Mahindra
  _data/simple-icons.json
  icons/mahindra.svg
Labels: new icon

#9595 Add LibreOffice Base
  _data/simple-icons.json
  icons/libreofficebase.svg
Labels: new icon

#9627 Add Polestar
  _data/simple-icons.json
  icons/polestar.svg
Labels: new icon

#8842 Add refine
  _data/simple-icons.json
  icons/refine.svg
Labels: new icon

#9732 Add Upptime
  _data/simple-icons.json
  icons/upptime.svg
Labels: new icon

#9725 Add BAT
  _data/simple-icons.json
  icons/basicattentiontoken.svg
Labels: new icon

#9743 Add ZebPay
  _data/simple-icons.json
  icons/zebpay.svg
Labels: new icon

#9744 Add Headphone Zone
  _data/simple-icons.json
  icons/headphonezone.svg
Labels: new icon

#9723 Add Polygon
  _data/simple-icons.json
  icons/polygon.svg
Labels: new icon

#9724 Add BNB
  _data/simple-icons.json
  icons/bnbchain.svg
Labels: new icon

#9717 Add Alamy
  _data/simple-icons.json
  icons/alamy.svg
Labels: new icon

#9911 Add licenses and versions to third-party plugins
  README.md
Labels: meta

#9716 Add Dreamstime
  _data/simple-icons.json
  icons/dreamstime.svg
Labels: new icon

#9903 Request: Custom Ink
  _data/simple-icons.json
  icons/customink.svg
Labels: new icon

#9914 Add Pine Script
  _data/simple-icons.json
  icons/pinescript.svg
Labels: new icon

#9877 Add Nordic Semiconductor icon
  _data/simple-icons.json
  icons/nordicsemiconductor.svg
Labels: new icon, changes requested

#9451 Add google dataproc
  _data/simple-icons.json
  icons/googledataproc.svg
Labels: new icon, changes requested

#9875 Add Loot Crate icon
  _data/simple-icons.json
  icons/lootcrate.svg
Labels: new icon

#9872 Request: Ritz Carlton
  _data/simple-icons.json
  icons/ritzcarlton.svg
Labels: new icon
