Repository simple-icons/simple-icons, pull requests merged in 2023-06, with the labels that each got.

#8695 Proposal to autoclose Java requests
  .github/workflows/autoclose-issues.yml
Labels: meta

#8699 Add SourceHut icon
  _data/simple-icons.json
  icons/sourcehut.svg
Labels: new icon

#8602 Add Forgejo icon
  _data/simple-icons.json
  icons/forgejo.svg
Labels: new icon

#8720 Ignore editor configuration files
  .gitignore
Labels: meta

#8762 Convert hex code to upper case in `add-icon-data` script
  scripts/add-icon-data.js
Labels: meta

#8724 Update OnlyFans Logo
  icons/onlyfans.svg
Labels: icon outdated

#8776 Fix release action
  .github/workflows/create-release.yml
Labels: meta

#8788 Allow trigger `create-release` by `workflow_dispatch` event
  .github/workflows/create-release.yml
Labels: meta

#8784 Add Freepik Icon
  _data/simple-icons.json
  icons/freepik.svg
Labels: new icon

#8790 Bump `create-release` fixes
  .github/workflows/create-release.yml
Labels: meta

#8145 Add Google Apps Script
  _data/simple-icons.json
  icons/googleappsscript.svg
Labels: new icon

#8467 Add GDAL icon
  _data/simple-icons.json
  icons/gdal.svg
Labels: new icon

#8312 New Icon: Leptos
  _data/simple-icons.json
  icons/leptos.svg
Labels: new icon

#7796 Add Proton Drive
  _data/simple-icons.json
  icons/protondrive.svg
Labels: new icon

#8785 Add Apache Parquet icon
  _data/simple-icons.json
  icons/apacheparquet.svg
Labels: new icon

#8625 Request: read.cv
  _data/simple-icons.json
  icons/readdotcv.svg
Labels: new icon

#8604 Add Supercrease icon
  _data/simple-icons.json
  icons/supercrease.svg
Labels: new icon

#8797 Add Multisim icon
  _data/simple-icons.json
  icons/multisim.svg
Labels: new icon

#8661 Update Cloudsmith icon
  _data/simple-icons.json
  icons/cloudsmith.svg
Labels: icon outdated

#8298 Add Skyrock icon
  _data/simple-icons.json
  icons/skyrock.svg
Labels: new icon

#8769 Add Nginx Proxy Manager icon
  _data/simple-icons.json
  icons/nginxproxymanager.svg
Labels: new icon

#8772 Add Prefect icon
  _data/simple-icons.json
  icons/prefect.svg
Labels: new icon

#8737 Add Babylon.js icon
  _data/simple-icons.json
  icons/babylondotjs.svg
Labels: new icon

#8855 Add Trivy icon
  _data/simple-icons.json
  icons/trivy.svg
Labels: new icon

#8748 Add NXP icon
  _data/simple-icons.json
  icons/nxp.svg
Labels: new icon, changes requested

#8791 Add Eclipse Adoptium icon
  _data/simple-icons.json
  icons/eclipseadoptium.svg
Labels: new icon

#8846 Add Monkeytype icon
  _data/simple-icons.json
  icons/monkeytype.svg
Labels: new icon

#8845 Add Kinsta icon
  _data/simple-icons.json
  icons/kinsta.svg
Labels: new icon

#8866 Add MG icon
  _data/simple-icons.json
  icons/mg.svg
Labels: new icon

#8865 Add Cadillac icon
  _data/simple-icons.json
  icons/cadillac.svg
Labels: new icon

#8864 Add Acura icon
  _data/simple-icons.json
  icons/acura.svg
Labels: new icon

#8380 Add Fi icon
  _data/simple-icons.json
  icons/fi.svg
Labels: new icon

#8388 Add Immich icon
  _data/simple-icons.json
  icons/immich.svg
Labels: new icon

#7915 Add Appsmith icon
  _data/simple-icons.json
  icons/appsmith.svg
Labels: new icon

#7792 Add Proton icon
  _data/simple-icons.json
  icons/proton.svg
Labels: new icon

#8725 Add Amazon Redshift icon
  _data/simple-icons.json
  icons/amazonredshift.svg
Labels: new icon

#7187 Add MapLibre icon
  _data/simple-icons.json
  icons/maplibre.svg
Labels: new icon

#8843 Add mail.com icon
  _data/simple-icons.json
  icons/maildotcom.svg
Labels: new icon

#8870 Add Nikon icon
  _data/simple-icons.json
  icons/nikon.svg
Labels: new icon

#8853 Add DTS icon
  _data/simple-icons.json
  icons/dts.svg
Labels: new icon, changes requested

#8884 Update Volvo icon
  icons/volvo.svg
Labels: icon outdated

#8886 Add Mikrotik icon
  _data/simple-icons.json
  icons/mikrotik.svg
Labels: new icon

#8885 Add Termius icon
  _data/simple-icons.json
  icons/termius.svg
Labels: new icon

#8089 Add Vega icon
  _data/simple-icons.json
  icons/vega.svg
Labels: new icon, changes requested

#8880 Update Proton VPN icon
  _data/simple-icons.json
  icons/protonvpn.svg
Labels: icon outdated

#8882 Update Proton Mail icon
  _data/simple-icons.json
  icons/protonmail.svg
Labels: icon outdated

#8392 Updating Nokia
  _data/simple-icons.json
  icons/nokia.svg
Labels: icon outdated

#8729 Update obsidian icon
  _data/simple-icons.json
  icons/obsidian.svg
Labels: icon outdated

#8800 Update New Relic Icon
  _data/simple-icons.json
  icons/newrelic.svg
Labels: icon outdated

#6286 Add Elavon
  _data/simple-icons.json
  icons/elavon.svg
Labels: new icon

#6288 Add Viva Wallet
  _data/simple-icons.json
  icons/vivawallet.svg
Labels: new icon
