Repository simple-icons/simple-icons, pull requests merged in 2023-10, with the labels that each got.

#9669 "Add NextUI icon"
  _data/simple-icons.json
  icons/nextui.svg
Labels: new icon

#9612 Add Studyverse icon
  _data/simple-icons.json
  icons/studyverse.svg
Labels: new icon

#9547 Add DJI icon
  _data/simple-icons.json
  icons/dji.svg
Labels: new icon

#9569 Add: Arc Browser
  _data/simple-icons.json
  icons/arc.svg
Labels: new icon

#9394 Add Void Linux (#9361)
  _data/simple-icons.json
  icons/voidlinux.svg
Labels: new icon, changes requested

#9644 Add: Codeium Icon
  _data/simple-icons.json
  icons/codeium.svg
Labels: new icon

#9686 Add Turso
  _data/simple-icons.json
  icons/turso.svg
Labels: new icon

#9689 Update Patreon SVG and JSON
  _data/simple-icons.json
  icons/patreon.svg
Labels: icon outdated

#9398 Update yoast
  _data/simple-icons.json
  icons/yoast.svg
Labels: icon outdated

#7708 Add `Norton` icon
  _data/simple-icons.json
  icons/norton.svg
Labels: new icon, changes requested

#7846 Add OpenText icon
  _data/simple-icons.json
  icons/opentext.svg
Labels: new icon, changes requested

#9604 Update Facebook
  _data/simple-icons.json
  icons/facebook.svg
Labels: icon outdated

#9589 Add Yandex Cloud icon
  _data/simple-icons.json
  icons/yandexcloud.svg
Labels: new icon

#9586 Add ActivityPub
  _data/simple-icons.json
  icons/activitypub.svg
Labels: new icon

#8146 Add BeReal icon
  _data/simple-icons.json
  icons/bereal.svg
Labels: new icon

#9652 Add: Zsh
  _data/simple-icons.json
  icons/zsh.svg
Labels: new icon

#9654 Update Hotels.com
  _data/simple-icons.json
  icons/hotelsdotcom.svg
Labels: icon outdated

#9638 Review J letter icons
  _data/simple-icons.json
  icons/jameson.svg
  icons/jeep.svg
Labels: icon outdated

#9261 add mural icon
  _data/simple-icons.json
  icons/mural.svg
Labels: new icon

#9731 Add Jaeger icon
  _data/simple-icons.json
  icons/jaeger.svg
Labels: new icon

#9758 Update PR Template to use WASM previewer
  .github/PULL_REQUEST_TEMPLATE.md
Labels: meta

#8919 Update Skoda
  _data/simple-icons.json
  icons/skoda.svg
Labels: icon outdated

#9651 Update Husqvarna
  _data/simple-icons.json
  icons/husqvarna.svg
Labels: icon outdated

#9764 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: meta

#9690 Add sqlalchemy
  .jsonschema.json
  _data/simple-icons.json
  icons/sqlalchemy.svg
Labels: new icon

#9757 Update X details
  _data/simple-icons.json
Labels: icon data

#9769 Fix typo in SVG linting error message
  .svglintrc.mjs
Labels: meta

#9768 Drop `trailingComma` setting from Prettier config
  .prettierrc.json
Labels: meta

#9787 Fix types export for Typescript v5 module resolution options
  package.json
Labels: package

#9788 Use permanent README icons links in releases
  .github/workflows/publish.yml
  package.json
  scripts/release/strip-theme-links.js
Labels: meta

#9789 Deduplicate `get-labels` and `get-version` steps in GHA workflows
  .github/workflows/add-labels-priority.yml
  .github/workflows/autoclose-issues.yml
  .github/workflows/get-labels.yml
  .github/workflows/get-version.yml
  .github/workflows/publish.yml
Labels: meta

#9658 Update Hoppscotch
  _data/simple-icons.json
  icons/hoppscotch.svg
Labels: icon outdated
