Repository simple-icons/simple-icons, pull requests merged in 2023-02, with the labels that each got.

#8331 Update deprecated `set-output` GHA syntax
  .github/workflows/add-labels-priority.yml
Labels: meta

#8281 Improve linter message when icons SVGs include newline characters
  .svglintrc.mjs
Labels: meta

#8332 Fix tree shaking when importing root entrypoint
  package.json
Labels: package, pending

#8254 New Icon: Mercado Pago
  _data/simple-icons.json
  icons/mercadopago.svg
Labels: new icon

#6728 Add akamai icon
  _data/simple-icons.json
  icons/akamai.svg
Labels: new icon

#8245 New Icon: Novu
  _data/simple-icons.json
  icons/novu.svg
Labels: new icon
