Repository simple-icons/simple-icons, pull requests merged in 2023-08, with the labels that each got.

#9186 Autogenerate SDK TypeScript definitions on releases
  .github/workflows/create-release.yml
  .github/workflows/publish.yml
  scripts/release/update-sdk-ts-defs.js
  sdk.d.ts
  sdk.mjs
Labels: package

#9200 Add X icon
  _data/simple-icons.json
  icons/x.svg
Labels: new icon

#9175 Update Facepunch
  _data/simple-icons.json
  icons/facepunch.svg
Labels: icon outdated

#9195 Fix linting error and refactor `.svglintrc.mjs`
  .svglint-ignored.json
  .svglintrc.mjs
  scripts/release/update-sdk-ts-defs.js
  sdk.mjs
Labels: meta

#9218 Fix missing package
  package.json
Labels: package

#9114 Add Google Bard icon
  _data/simple-icons.json
  icons/googlebard.svg
Labels: new icon

#9143 Add distrokid
  _data/simple-icons.json
  icons/distrokid.svg
Labels: new icon

#9231 Freeze dependencies and bump svglint
  package.json
Labels: dependencies

#9233 Memoize functions in SVG linting
  .svglintrc.mjs
Labels: meta, performance

#9237 Refactor tests and scripts
  .svglintrc.mjs
  _data/simple-icons.json
  scripts/add-icon-data.js
  scripts/build/package.js
  scripts/get-filename.js
  scripts/lint/jsonlint.js
  scripts/lint/ourlint.js
  scripts/release/update-cdn-urls.js
  scripts/release/update-sdk-ts-defs.js
  scripts/release/update-slugs-table.js
  scripts/release/update-svgs-count.js
  scripts/utils.js
  sdk.d.ts
  sdk.mjs
  tests/docs.test.js
  tests/index.test.js
  tests/test-icon.js
Labels: meta, icon data

#9241 Fix GitHub built-in highlight styles
  CONTRIBUTING.md
  DISCLAIMER.md
  README.md
Labels: docs

#9252 fix: npmjs brand guidline url
  _data/simple-icons.json
Labels: icon data

#9247 Update Zcash icon
  _data/simple-icons.json
  icons/zcash.svg
Labels: icon outdated

#9211 Update Zoom icon
  _data/simple-icons.json
  icons/zoom.svg
Labels: icon outdated

#9201 Astro (update)
  _data/simple-icons.json
  icons/astro.svg
Labels: icon outdated

#9004 Add ImprovMX Icon
  _data/simple-icons.json
  icons/improvmx.svg
Labels: new icon

#9244 Add documentation links checking to CI
  .github/workflows/verify.yml
  README.md
  package.json
  tests/docs.test.js
Labels: docs, meta, dependencies

#9148 Adding InfoQ Logo
  _data/simple-icons.json
  icons/infoq.svg
Labels: new icon

#9267 Update Anilist
  _data/simple-icons.json
  icons/anilist.svg
Labels: icon outdated

#9265 Update Alipay
  _data/simple-icons.json
  icons/alipay.svg
Labels: icon outdated

#9026 Add TCS icon
  _data/simple-icons.json
  icons/tcs.svg
Labels: new icon

#9134 Adding (ISC)² icon
  _data/simple-icons.json
  icons/iscsquared.svg
Labels: new icon

#9157 Add CompTIA
  _data/simple-icons.json
  icons/comptia.svg
Labels: new icon

#9167 Add arm keil
  _data/simple-icons.json
  icons/armkeil.svg
Labels: new icon

#9132 Adding Chromatic icon
  _data/simple-icons.json
  icons/chromatic.svg
Labels: new icon

#9168 Add vyond
  _data/simple-icons.json
  icons/vyond.svg
Labels: new icon

#9172 Add Yeti Icon
  _data/simple-icons.json
  icons/yeti.svg
Labels: new icon

#9257 Fix link to legal disclaimer
  README.md
Labels: docs

#7046 Jetblue icon
  _data/simple-icons.json
  icons/jetblue.svg
Labels: new icon

#7263 Add htop icon
  _data/simple-icons.json
  icons/htop.svg
Labels: new icon

#6464 Add MinIO Icon
  _data/simple-icons.json
  icons/minio.svg
Labels: new icon

#9102 Add LightBurn icon
  _data/simple-icons.json
  icons/lightburn.svg
Labels: new icon

#9131 Add NEAR Logo
  _data/simple-icons.json
  icons/near.svg
Labels: new icon

#9187 9179 singapore airlines
  _data/simple-icons.json
  icons/singaporeairlines.svg
Labels: new icon

#9194 Add Sanic Icon
  _data/simple-icons.json
  icons/sanic.svg
Labels: new icon

#9196 add decap cms
  _data/simple-icons.json
  icons/decapcms.svg
Labels: new icon

#9198 Adding GameBanana Logo
  _data/simple-icons.json
  icons/gamebanana.svg
Labels: new icon

#9207 Added Craftsman Logo
  _data/simple-icons.json
  icons/craftsman.svg
Labels: new icon

#9221 Add Local Icon
  _data/simple-icons.json
  icons/local.svg
Labels: new icon

#9234 Add Hearth Icon
  _data/simple-icons.json
  icons/hearth.svg
Labels: new icon

#9272 Add Retool
  _data/simple-icons.json
  icons/retool.svg
Labels: new icon

#9273 Add Zensar
  _data/simple-icons.json
  icons/zensar.svg
Labels: new icon

#9277 Add NATS.io
  _data/simple-icons.json
  icons/natsdotio.svg
Labels: new icon

#9282 Add October CMS
  _data/simple-icons.json
  icons/octobercms.svg
Labels: new icon, changes requested

#9215 feature: added milvus icon
  _data/simple-icons.json
  icons/milvus.svg
Labels: new icon, changes requested

#9173 Add ericsson
  _data/simple-icons.json
  icons/ericsson.svg
Labels: new icon, changes requested

#9288 Adding IGDP icon
  _data/simple-icons.json
  icons/igdb.svg
Labels: new icon

#9296 Add Hexlet icon
  _data/simple-icons.json
  icons/hexlet.svg
Labels: new icon, changes requested

#9289 Add Piaggio Group
  _data/simple-icons.json
  icons/piaggiogroup.svg
Labels: new icon

#9297 Adding League of Legends Logo
  _data/simple-icons.json
  icons/leagueoflegends.svg
Labels: new icon

#9216 Add Rumble Icon
  _data/simple-icons.json
  icons/rumble.svg
Labels: new icon, changes requested

#9212 Add Flightaware Icon
  _data/simple-icons.json
  icons/flightaware.svg
Labels: new icon, changes requested

#9331 Update QuickLook
  _data/simple-icons.json
  icons/quicklook.svg
Labels: icon outdated

#9317 Add Google Slides
  _data/simple-icons.json
  icons/googleslides.svg
Labels: new icon

#9308 Add SpigotMC
  _data/simple-icons.json
  icons/spigotmc.svg
Labels: new icon, from raster

#9329 Add Shortcut
  _data/simple-icons.json
  icons/shortcut.svg
Labels: new icon

#9291 Add Vespa icon
  _data/simple-icons.json
  icons/vespa.svg
Labels: new icon, changes requested

#8832 Add Wellfound Icon
  _data/simple-icons.json
  icons/wellfound.svg
Labels: new icon, awaiting reply

#9358 Add guidelines in Microsoft
  _data/simple-icons.json
Labels: icon data

#9372 Metadata update for W review
  _data/simple-icons.json
Labels: icon data

#9355 Add Flux icon
  _data/simple-icons.json
  icons/flux.svg
Labels: new icon

#9375 Allow skipping release note with `skip release note` label
  .github/workflows/create-release.yml
Labels: meta

#9350 Add Gradle Play Publisher
  _data/simple-icons.json
  icons/gradleplaypublisher.svg
Labels: new icon

#9376 Add Microchip to excluded brands
  CONTRIBUTING.md
Labels: meta

#9316 Update Bun
  _data/simple-icons.json
  icons/bun.svg
Labels: icon outdated

#9378 9072 x review
  _data/simple-icons.json
Labels: icon data, skip release note

#9377 Metadata update for the Y review
  _data/simple-icons.json
Labels: icon data, skip release note

#9389 Rename `Marvel` to `MarvelApp`
  _data/simple-icons.json
  icons/marvel.svg
  icons/marvelapp.svg
Labels: icon data

#9335 Letter B Review
  _data/simple-icons.json
Labels: icon data, skip release note

#9300 A Review - Part 1
  _data/simple-icons.json
Labels: icon data, skip release note

#9393 Bump latest release action
  .github/workflows/create-release.yml
Labels: meta

#9388 Update: OpsLevel Logo
  _data/simple-icons.json
  icons/opslevel.svg
Labels: icon outdated, changes requested

#9397 Metadata update for V review
  _data/simple-icons.json
Labels: skip release note

#9399 Update VSCodium icon
  _data/simple-icons.json
  icons/vscodium.svg
Labels: icon outdated

#9015 Add Alby
  _data/simple-icons.json
  icons/alby.svg
Labels: new icon

#9400 Update QuantConnect
  _data/simple-icons.json
  icons/quantconnect.svg
Labels: icon outdated

#9406 Update Wix Icon
  _data/simple-icons.json
  icons/wix.svg
Labels: icon outdated

#9407 Update Webflow Icon
  _data/simple-icons.json
  icons/webflow.svg
Labels: icon outdated

#9266 Update Angular
  _data/simple-icons.json
  icons/angular.svg
Labels: icon outdated

#9271 Update Apache Cassandra
  _data/simple-icons.json
  icons/apachecassandra.svg
Labels: icon outdated, changes requested

#8770 Add Falco icon
  _data/simple-icons.json
  icons/falco.svg
Labels: new icon, changes requested

#6284 Update Venmo icon and colour
  _data/simple-icons.json
  icons/venmo.svg
Labels: icon outdated, icon data, from raster

#9339 Update BandLab source and icon
  icons/bandlab.svg
Labels: icon outdated

#9340 Update Bandsintown source and icon
  icons/bandsintown.svg
Labels: icon outdated

#9191 Update Zapier
  _data/simple-icons.json
  icons/zapier.svg
Labels: icon outdated

#9413 Update Quasar
  _data/simple-icons.json
  icons/quasar.svg
Labels: icon outdated

#9270 Add ScyllaDB
  _data/simple-icons.json
  icons/scylladb.svg
Labels: new icon

#9408 Add Alienware Icon
  _data/simple-icons.json
  icons/alienware.svg
Labels: new icon

#9347 Update Behance
  icons/behance.svg
Labels: icon outdated

#9419 Added ISC2
  _data/simple-icons.json
  icons/isc2.svg
Labels: new icon

#9421 Add Scrapbox
  _data/simple-icons.json
  icons/scrapbox.svg
Labels: new icon

#9441 Add OpenTF
  _data/simple-icons.json
  icons/opentf.svg
Labels: new icon

#9443 Add link to Discord
  README.md
Labels: docs

#9436 Update Delphi
  _data/simple-icons.json
  icons/delphi.svg
Labels: icon outdated

#9314 Add Docusaurus
  _data/simple-icons.json
  icons/docusaurus.svg
Labels: new icon

#9405 Properly prioritize Maintainer-contributed icons
  .github/workflows/add-labels-priority.yml
Labels: meta

#9318 Add Twitter alias to X
  _data/simple-icons.json
Labels: icon data
