Repository simple-icons/simple-icons, pull requests merged in 2024-03, with the labels that each got.

#10560 Update: Tubi
  _data/simple-icons.json
  icons/tubi.svg
Labels: update icon/data

#10564 Allow to select between licenses in `add-icon-data` script
  package.json
  scripts/add-icon-data.js
Labels: meta, dependencies

#10558 Add Akiflow icon
  _data/simple-icons.json
  icons/akiflow.svg
Labels: new icon

#10544 Add Li-Ning Icon
  _data/simple-icons.json
  icons/lining.svg
Labels: new icon

#10526 Add Pixelfed icon
  _data/simple-icons.json
  icons/pixelfed.svg
Labels: new icon

#10557 Add IGN Icon
  _data/simple-icons.json
  icons/ign.svg
Labels: new icon

#10594 Use forked labeler action on CI
  .github/workflows/add-labels-priority.yml
Labels: meta

#10593 Add fuzzy matching for licenses search to add-icon-data script
  package.json
  scripts/add-icon-data.js
Labels: meta, dependencies

#10589 Fix collinear-segments rule of SVG linting not executed
  .svglint-ignored.json
  .svglintrc.mjs
Labels: meta

#10596 Fix collinear segment on United Nations
  .svglint-ignored.json
  icons/unitednations.svg
Labels: update icon/data

#10597 Fix collinear segment on Beijin Subway
  .svglint-ignored.json
  icons/beijingsubway.svg
Labels: update icon/data, skip release note

#10599 Fix false positives in collinear-segments rule
  .svglint-ignored.json
  .svglintrc.mjs
Labels: meta

#10598 Fix collinear segments on OpenTofu
  .svglint-ignored.json
  icons/opentofu.svg
Labels: update icon/data, skip release note

#10601 Use prettier's `--cache` option
  package.json
Labels: meta

#10600 Update actions in CI
  .github/workflows/autoclose-issues.yml
  .github/workflows/create-release.yml
  .github/workflows/publish.yml
  .github/workflows/verify.yml
Labels: meta

#10602 Only lint changed SVG icons on CI
  .github/workflows/verify.yml
  .npmrc
  package.json
Labels: meta

#10563 Add Zed Industries icon
  _data/simple-icons.json
  icons/zedindustries.svg
Labels: new icon

#10582 Add TrueUp icon
  _data/simple-icons.json
  icons/trueup.svg
Labels: new icon

#10613 Revert to `kceb/git-message-action@v2` on CI
  .github/workflows/publish.yml
Labels: meta

#10615 Add titles to issue form templates
  .github/ISSUE_TEMPLATE/icon_removal.yml
  .github/ISSUE_TEMPLATE/icon_request.yml
  .github/ISSUE_TEMPLATE/icon_update.yml
Labels: meta

#10616 Fix collinear segments on Red Bull and optimize it
  .svglint-ignored.json
  icons/redbull.svg
Labels: update icon/data, skip release note

#10617 Optimize OWASP Dependency-Check
  .svglint-ignored.json
  icons/dependencycheck.svg
Labels: update icon/data, skip release note

#10619 Fix collinear segment on Hepsiemlak
  .svglint-ignored.json
  .svglintrc.mjs
  icons/hepsiemlak.svg
Labels: update icon/data, skip release note

#10618 Properly remove SVG attributes with SVGO
  svgo.config.mjs
Labels: meta

#10517 Add BuySellAds
  _data/simple-icons.json
  icons/buysellads.svg
Labels: new icon, assessing

#10620 Handle cleanly interruption signals on add-icon-data script
  package.json
  scripts/add-icon-data.js
Labels: meta, dependencies

#10430 Add Logicool aliases
  .jsonschema.json
  _data/simple-icons.json
  sdk.d.ts
Labels: update icon/data

#10454 Add Google Authenticator
  _data/simple-icons.json
  icons/googleauthenticator.svg
Labels: new icon

#10636 Patch dependency updates
  package.json
Labels: dependencies

#10621 Run Renovate through GitHub action
  .github/renovate.json5
  .github/workflows/renovate.yml
Labels: meta

#10645 Clarify pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: meta

#10466 Add Anycubic
  _data/simple-icons.json
  icons/anycubic.svg
Labels: new icon

#10462 Add Cheerio
  _data/simple-icons.json
  icons/cheerio.svg
Labels: new icon

#10639 Refactor add-icon-data script
  scripts/add-icon-data.js
Labels: meta

#10651 Drop npm-run-all dependency
  CONTRIBUTING.md
  package.json
Labels: dependencies

#10650 Drop is-ci dependency
  package.json
Labels: dependencies

#10649 Use `mondeja/remove-labels-gh-action@v2`
  .github/workflows/remove-labels.yml
Labels: meta

#9322 Update Air India
  _data/simple-icons.json
  icons/airindia.svg
Labels: update icon/data

#9213 Add Malt icon
  _data/simple-icons.json
  icons/malt.svg
Labels: new icon, awaiting reply

#9721 Add Spaceship
  _data/simple-icons.json
  icons/spaceship.svg
Labels: new icon

#10128 Add Xiaohongshu icon
  _data/simple-icons.json
  icons/xiaohongshu.svg
Labels: new icon

#10584 Add Flashforge icon
  _data/simple-icons.json
  icons/flashforge.svg
Labels: new icon

#10329 Add Rich
  _data/simple-icons.json
  icons/rich.svg
Labels: new icon

#10522 Added watchtower
  _data/simple-icons.json
  icons/watchtower.svg
Labels: new icon

#10625 Add Lucia icon
  _data/simple-icons.json
  icons/lucia.svg
Labels: new icon

#10579 Add Cloudflare Workers icon
  _data/simple-icons.json
  icons/cloudflareworkers.svg
Labels: new icon, assessing

#10249 Add Clubforce
  _data/simple-icons.json
  icons/clubforce.svg
Labels: new icon, vector unavailable

#10015 Request: Fueler
  _data/simple-icons.json
  icons/fueler.svg
Labels: new icon

#10549 Update DataStax Icon
  _data/simple-icons.json
  icons/datastax.svg
Labels: update icon/data

#10561 Add Migadu icon
  _data/simple-icons.json
  icons/migadu.svg
Labels: new icon

#10653 Improve installation commands
  .github/workflows/create-release.yml
  .github/workflows/publish.yml
  .github/workflows/verify.yml
  Dockerfile
  package.json
Labels: meta

#10657 Add G2G
  _data/simple-icons.json
  icons/g2g.svg
Labels: new icon

#10583 Add Nushell icon
  _data/simple-icons.json
  icons/nushell.svg
Labels: new icon, vector unavailable

#10652 Drop del-cli dependency
  package.json
  scripts/build/clean.js
Labels: dependencies

#8941 Add Anytype Icon
  _data/simple-icons.json
  icons/anytype.svg
Labels: new icon

#10127 Add Dazhong Dianping icon
  _data/simple-icons.json
  icons/dazhongdianping.svg
Labels: new icon

#10670 Add Chess.com icon
  _data/simple-icons.json
  icons/chessdotcom.svg
Labels: new icon

#10671 Add Inoreader icon
  _data/simple-icons.json
  icons/inoreader.svg
Labels: new icon

#10672 Add thirdweb icon
  _data/simple-icons.json
  icons/thirdweb.svg
Labels: new icon

#10213 Add CryptPad
  _data/simple-icons.json
  icons/cryptpad.svg
Labels: new icon

#10674 Add VitePress icon
  _data/simple-icons.json
  icons/vitepress.svg
Labels: new icon

#10525 Add CorelDRAW Icon
  _data/simple-icons.json
  icons/coreldraw.svg
Labels: new icon

#10686 Update OSGeo hex and guidelines
  _data/simple-icons.json
Labels: update icon/data

#10551 Add abuse.ch Icon
  _data/simple-icons.json
  icons/abusedotch.svg
Labels: new icon

#10675 Add Decentraland icon
  _data/simple-icons.json
  icons/decentraland.svg
Labels: new icon

#10676 Add iMessage icon
  _data/simple-icons.json
  icons/imessage.svg
Labels: new icon

#10677 Add TV4 Play icon
  _data/simple-icons.json
  icons/tv4play.svg
Labels: new icon

#10643 Add XO linter
  .github/renovate.json5
  .github/workflows/create-release.yml
  .github/workflows/publish.yml
  .jsonschema.json
  .prettierignore
  .prettierrc.json
  .xo-config.json
  package.json
  scripts/add-icon-data.js
  scripts/build/clean.js
  scripts/build/package.js
  scripts/build/templates/icon-object.js.template
  scripts/get-filename.js
  scripts/lint/jsonlint.js
  scripts/lint/ourlint.js
  scripts/release/reformat-markdown.js
  scripts/release/update-cdn-urls.js
  scripts/release/update-sdk-ts-defs.js
  scripts/release/update-slugs-table.js
  scripts/release/update-svgs-count.js
  scripts/utils.js
  sdk.d.ts
  sdk.mjs
  svglint.config.mjs
  svgo.config.mjs
  tests/docs.test.js
  tests/index.test.js
  tests/min-reporter.cjs
  tests/test-icon.js
  types.d.ts
Labels: meta

#10688 Add Keycloak icon
  _data/simple-icons.json
  icons/keycloak.svg
Labels: new icon

#10700 Add Syncthing icon
  _data/simple-icons.json
  icons/syncthing.svg
Labels: new icon

#10705 Replace commit user to `simple-icons[bot]`
  .github/workflows/create-release.yml
  .github/workflows/publish.yml
Labels: meta

#10713 Fix `normalizeColor` function
  sdk.mjs
Labels: meta

#10717 Add AWS Secrets Manager
  _data/simple-icons.json
  icons/awssecretsmanager.svg
Labels: new icon

#10716 Add Amazon Cognito
  _data/simple-icons.json
  icons/amazoncognito.svg
Labels: new icon

#10715 Add Amazon ElastiCache
  _data/simple-icons.json
  icons/amazonelasticache.svg
Labels: new icon

#10712 Add AWS Elastic Load Balancing
  _data/simple-icons.json
  icons/awselasticloadbalancing.svg
Labels: new icon

#10711 Add Redash
  _data/simple-icons.json
  icons/redash.svg
Labels: new icon

#10710 Add JHipster
  _data/simple-icons.json
  icons/jhipster.svg
Labels: new icon

#10726 Use `simple-icons[bot]` for actions
  .github/workflows/add-labels-priority.yml
  .github/workflows/autoclose-issues.yml
  .github/workflows/create-release.yml
  .github/workflows/merge-release.yml
  .github/workflows/potential-duplicates.yml
  .github/workflows/publish.yml
  .github/workflows/remove-labels.yml
Labels: meta

#10728 Fix typos
  scripts/release/update-sdk-ts-defs.js
  sdk.mjs
Labels: meta

#10731 Add Ethers icon
  _data/simple-icons.json
  icons/ethers.svg
Labels: new icon

#10727 Switch single-quotes for double-quotes to allow scripts to run on Powershell.
  package.json
Labels: meta

#10739 Deduplicates Prettier pattern and show that `xo --fix` is running
  package.json
Labels: meta

#10747 Disable linting for autogenerated SDK TS definitions
  .xo-config.json
  scripts/release/update-sdk-ts-defs.js
  sdk.d.ts
Labels: meta

#10748 Authenticate with GitHub token in get-labels action
  .github/actions/get-labels/action.yml
Labels: meta
