Repository simple-icons/simple-icons, pull requests merged in 2024-06, with the labels that each got.

#11084 Fix placeholder of resources section in icon request issue template
  .github/ISSUE_TEMPLATE/icon_request.yml
Labels: meta

#10484 Add 1Panel icon
  _data/simple-icons.json
  icons/1panel.svg
Labels: new icon, vector unavailable

#11071 Add 2FAS icon
  _data/simple-icons.json
  icons/2fas.svg
Labels: new icon

#10637 Add types to source code
  .npmignore
  .xo-config.json
  jsconfig.json
  package.json
  scripts/add-icon-data.js
  scripts/build/clean.js
  scripts/build/package.js
  scripts/get-filename.js
  scripts/lint/jsonlint.js
  scripts/lint/ourlint.js
  scripts/release/reformat-markdown.js
  scripts/release/update-cdn-urls.js
  scripts/release/update-sdk-ts-defs.js
  scripts/release/update-slugs-table.js
  scripts/release/update-svgs-count.js
  scripts/utils.js
  sdk.d.ts
  sdk.mjs
  svglint.config.mjs
  svgo.config.mjs
  tests/docs.test.js
  tests/index.test.js
  tests/min-reporter.cjs
  tests/test-icon.js
  types.d.ts
Labels: meta

#11119 Resolve all possible TODO comments
  scripts/build/package.js
  scripts/lint/ourlint.js
  svglint.config.mjs
  tests/test-icon.js
Labels: meta

#10822 Add Geode icon
  _data/simple-icons.json
  icons/geode.svg
Labels: new icon

#11099 Add Astral icon
  _data/simple-icons.json
  icons/astral.svg
Labels: new icon

#11100 Add LangChain icon
  _data/simple-icons.json
  icons/langchain.svg
Labels: new icon

#11102 Add visx icon
  _data/simple-icons.json
  icons/visx.svg
Labels: new icon

#11121 Add remove.bg icon
  _data/simple-icons.json
  icons/removedotbg.svg
Labels: new icon

#11125 Update DeepL icon
  icons/deepl.svg
Labels: update icon/data

#11106 Add VEED icon
  _data/simple-icons.json
  icons/veed.svg
Labels: new icon

#11056 Add Eraser icon
  _data/simple-icons.json
  icons/eraser.svg
Labels: new icon

#11063 Add Formik icon
  _data/simple-icons.json
  icons/formik.svg
Labels: new icon

#11075 Add NiceHash icon
  _data/simple-icons.json
  icons/nicehash.svg
Labels: new icon

#11115 Add ntfy icon
  _data/simple-icons.json
  icons/ntfy.svg
Labels: new icon

#11117 Add Snort icon
  _data/simple-icons.json
  icons/snort.svg
Labels: new icon

#11111 Add Asterisk icon
  _data/simple-icons.json
  icons/asterisk.svg
Labels: new icon

#11039 Add Aegis Authenticator icon
  _data/simple-icons.json
  icons/aegisauthenticator.svg
Labels: new icon

#11131 Update Firebase
  _data/simple-icons.json
  icons/firebase.svg
Labels: update icon/data

#11153 No additional labeling nor project assigning for release pull requests
  .github/workflows/add-labels-priority.yml
Labels: meta

#11155 Update GNOME icon
  icons/gnome.svg
Labels: update icon/data

#11157 Fix SVGO `sortAttrs` configuration
  svgo.config.mjs
Labels: meta

#11129 Update Renovate config
  .github/renovate.json5
Labels: meta

#11145 Add military-related brands to forbidden categories
  CONTRIBUTING.md
Labels: docs

#10708 Add Anki icon
  _data/simple-icons.json
  icons/anki.svg
Labels: new icon

#11170 Add Tower icon
  _data/simple-icons.json
  icons/tower.svg
Labels: new icon

#11130 Update Render icon
  _data/simple-icons.json
  icons/render.svg
Labels: update icon/data

#10852 Add pino icon
  _data/simple-icons.json
  icons/pino.svg
Labels: new icon, vector unavailable

#10939 Add TypeORM icon
  _data/simple-icons.json
  icons/typeorm.svg
Labels: new icon, vector unavailable

#10947 Add YunoHost icon
  _data/simple-icons.json
  icons/yunohost.svg
Labels: new icon

#11064 Add Doctrine icon
  _data/simple-icons.json
  icons/doctrine.svg
Labels: new icon

#11068 Add Picrew icon
  _data/simple-icons.json
  icons/picrew.svg
Labels: new icon

#11072 Add Duplicati icon
  _data/simple-icons.json
  icons/duplicati.svg
Labels: new icon

#11065 Add Wagmi icon
  _data/simple-icons.json
  icons/wagmi.svg
Labels: new icon

#11118 Add Astra icon
  _data/simple-icons.json
  icons/astra.svg
Labels: new icon

#11160 Add DATEV icon
  _data/simple-icons.json
  icons/datev.svg
Labels: new icon

#11181 Add Rime icon
  _data/simple-icons.json
  icons/rime.svg
Labels: new icon

#10997 Add yabai icon
  _data/simple-icons.json
  icons/yabai.svg
Labels: new icon

#11034 Add Comma icon
  _data/simple-icons.json
  icons/comma.svg
Labels: new icon

#11101 Add Bruno icon
  _data/simple-icons.json
  icons/bruno.svg
Labels: new icon

#11235 Add Hyprland icon
  _data/simple-icons.json
  icons/hyprland.svg
Labels: new icon

#10865 Add AutoCannon icon
  _data/simple-icons.json
  icons/autocannon.svg
Labels: new icon, vector unavailable

#11201 Add PrimeReact icon
  _data/simple-icons.json
  icons/primereact.svg
Labels: new icon

#11200 Add PrimeNG icon
  _data/simple-icons.json
  icons/primeng.svg
Labels: new icon

#11198 Add Wykop icon
  _data/simple-icons.json
  icons/wykop.svg
Labels: new icon

#11245 Add Gusto Icon
  _data/simple-icons.json
  icons/gusto.svg
Labels: new icon

#11241 Add Git for Windows icon
  _data/simple-icons.json
  icons/gitforwindows.svg
Labels: new icon

#11266 Add 1.1.1.1 icon
  _data/simple-icons.json
  icons/1dot1dot1dot1.svg
Labels: new icon

#11203 Add trivago icon
  _data/simple-icons.json
  icons/trivago.svg
Labels: new icon

#11278 Add Plume icon
  _data/simple-icons.json
  icons/plume.svg
Labels: new icon

#11276 Add Beekeeper Studio icon
  _data/simple-icons.json
  icons/beekeeperstudio.svg
Labels: new icon

#11226 Add Mintlify icon
  _data/simple-icons.json
  icons/mintlify.svg
Labels: new icon

#11150 Add Suno icon
  _data/simple-icons.json
  icons/suno.svg
Labels: new icon, permission required

#11195 Add LibreWolf icon
  _data/simple-icons.json
  icons/librewolf.svg
Labels: new icon

#11314 Remove IBM icons
  _data/simple-icons.json
  icons/ibm.svg
  icons/ibmcloud.svg
  icons/ibmwatson.svg
Labels: breaking change

#11154 Remove Designer News
  _data/simple-icons.json
  icons/designernews.svg
Labels: breaking change

#11232 Remove DocuSign icon
  _data/simple-icons.json
  icons/docusign.svg
Labels: breaking change

#10019 Remove Microsoft brands
  CONTRIBUTING.md
  _data/simple-icons.json
  icons/azureartifacts.svg
  icons/azuredataexplorer.svg
  icons/azuredevops.svg
  icons/azurefunctions.svg
  icons/azurepipelines.svg
  icons/csharp.svg
  icons/dataverse.svg
  icons/dynamics365.svg
  icons/internetexplorer.svg
  icons/microsoft.svg
  icons/microsoftacademic.svg
  icons/microsoftaccess.svg
  icons/microsoftazure.svg
  icons/microsoftbing.svg
  icons/microsoftedge.svg
  icons/microsoftexcel.svg
  icons/microsoftexchange.svg
  icons/microsoftonedrive.svg
  icons/microsoftonenote.svg
  icons/microsoftoutlook.svg
  icons/microsoftpowerpoint.svg
  icons/microsoftsharepoint.svg
  icons/microsoftsqlserver.svg
  icons/microsoftstore.svg
  icons/microsoftteams.svg
  icons/microsofttranslator.svg
  icons/microsoftvisio.svg
  icons/microsoftword.svg
  icons/minecraft.svg
  icons/mojangstudios.svg
  icons/playwright.svg
  icons/powerapps.svg
  icons/powerautomate.svg
  icons/powerbi.svg
  icons/powerfx.svg
  icons/powerpages.svg
  icons/powershell.svg
  icons/powervirtualagents.svg
  icons/skype.svg
  icons/skypeforbusiness.svg
  icons/visualbasic.svg
  icons/visualstudio.svg
  icons/visualstudioappcenter.svg
  icons/visualstudiocode.svg
  icons/windows.svg
  icons/windows10.svg
  icons/windows11.svg
  icons/windows95.svg
  icons/windowsterminal.svg
  icons/windowsxp.svg
  icons/xamarin.svg
  icons/xaml.svg
  icons/xbox.svg
  icons/yammer.svg
Labels: breaking change

#10709 Add Redsys
  _data/simple-icons.json
  icons/redsys.svg
Labels: new icon, vector unavailable

#10948 Add Moq icon
  _data/simple-icons.json
  icons/moq.svg
Labels: new icon, vector unavailable

#11057 Add Organic Maps icon
  _data/simple-icons.json
  icons/organicmaps.svg
Labels: new icon

#11346 Remove dead Google brands
  _data/simple-icons.json
  icons/googledomains.svg
  icons/googlehangouts.svg
  icons/googlemybusiness.svg
  icons/googleoptimize.svg
  icons/googlepodcasts.svg
  icons/stadia.svg
Labels: breaking change

#11356 Update VERSIONING.md
  VERSIONING.md
Labels: docs

#11218 Add TechChrunch icon
  _data/simple-icons.json
  icons/techcrunch.svg
Labels: new icon

#11263 Add Koenigsegg icon
  _data/simple-icons.json
  icons/koenigsegg.svg
Labels: new icon

#11360 Re-add Stadia
  _data/simple-icons.json
  icons/stadia.svg
Labels: new icon

#11318 Add Chrome Web Store icon
  _data/simple-icons.json
  icons/chromewebstore.svg
Labels: new icon
