Repository simple-icons/simple-icons, pull requests merged in 2024-11, with the labels that each got.

#11853 Add Debrid-Link icon
  _data/simple-icons.json
  icons/debridlink.svg
Labels: new icon

#12010 Add uv icon
  _data/simple-icons.json
  icons/uv.svg
Labels: new icon

#11956 Add HyperX icon
  _data/simple-icons.json
  icons/hyperx.svg
Labels: new icon

#11954 Add OKX icon
  _data/simple-icons.json
  icons/okx.svg
Labels: new icon

#12104 Normalize automatic commit messages
  .github/renovate.json5
  .github/workflows/create-release.yml
Labels: meta

#12121 Update Signal icon
  _data/simple-icons.json
  icons/signal.svg
Labels: update icon/data

#12124 Update Medium icon
  icons/medium.svg
Labels: update icon/data

#11852 Add Snapdragon icon
  _data/simple-icons.json
  icons/snapdragon.svg
Labels: new icon

#11890 Add ElevenLabs icon
  _data/simple-icons.json
  icons/elevenlabs.svg
Labels: new icon

#12109 Add CE icon
  _data/simple-icons.json
  icons/ce.svg
Labels: new icon

#12092 Update Lerna icon
  _data/simple-icons.json
  icons/lerna.svg
Labels: update icon/data

#12148 Don't edit `slugs.md` in pull requests
  .github/workflows/verify.yml
Labels: meta

#12150 Don't show config nor controls in Renovate PR body
  .github/renovate.json5
Labels: meta

#12146 Add Odin icon
  _data/simple-icons.json
  icons/odin.svg
Labels: new icon

#12012 Add Apache Lucene icon
  _data/simple-icons.json
  icons/apachelucene.svg
Labels: new icon

#12168 corrected a typo in README.md
  README.md
Labels: docs

#12185 Don't edit `sdk.d.ts` in pull requests
  .github/workflows/verify.yml
Labels: meta

#12195 Fix errors adding `meta` label with labeler action
  .github/labeler.yml
Labels: meta

#12193 Update Rocket.Chat icon removing `.svglint-ignored.json`
  .svglint-ignored.json
  _data/simple-icons.json
  icons/rocketdotchat.svg
  svglint.config.mjs
Labels: update icon/data, meta, skip release note

#11110 Add U.S. News icon
  _data/simple-icons.json
  icons/udotsdotnews.svg
Labels: new icon

#11167 Add Honeygain icon
  _data/simple-icons.json
  icons/honeygain.svg
Labels: new icon

#11691 Update Bombardier
  _data/simple-icons.json
  icons/bombardier.svg
Labels: update icon/data

#11667 Update about.me icon
  icons/aboutdotme.svg
Labels: update icon/data

#11399 Add Silver Airways icon
  _data/simple-icons.json
  icons/silverairways.svg
Labels: new icon

#11526 Add AfterShip icon
  _data/simple-icons.json
  icons/aftership.svg
Labels: new icon

#12226 Update Instagram color
  _data/simple-icons.json
Labels: update icon/data

#11792 Add Game Science icon
  _data/simple-icons.json
  icons/gamescience.svg
Labels: new icon

#11899 Add Wine icon
  _data/simple-icons.json
  icons/wine.svg
Labels: new icon

#11889 Update VirtualBox icon
  _data/simple-icons.json
  icons/virtualbox.svg
Labels: update icon/data

#11863 Add MapTiler icon
  _data/simple-icons.json
  icons/maptiler.svg
Labels: new icon

#12051 Add Refined GitHub icon
  _data/simple-icons.json
  icons/refinedgithub.svg
Labels: new icon

#12228 Update multiple broken sources
  _data/simple-icons.json
Labels: update icon/data

#11875 Add Mapillary icon
  _data/simple-icons.json
  icons/mapillary.svg
Labels: new icon

#11790 Add HTC icon
  _data/simple-icons.json
  icons/htc.svg
Labels: new icon

#11869 Add Backbone icon
  _data/simple-icons.json
  icons/backbone.svg
Labels: new icon

#11396 Add Picsart icon
  _data/simple-icons.json
  icons/picsart.svg
Labels: new icon

#12243 Ensure that icons data object fields are sorted
  _data/simple-icons.json
  scripts/lint/ourlint.js
Labels: meta, skip release note

#11858 Add SimpleX icon
  _data/simple-icons.json
  icons/simplex.svg
Labels: new icon

#11368 Add Akasa Air icon
  _data/simple-icons.json
  icons/akasaair.svg
Labels: new icon

#10975 Add Claude icon
  _data/simple-icons.json
  icons/claude.svg
Labels: new icon

#11161 Add Continente icon
  _data/simple-icons.json
  icons/continente.svg
Labels: new icon

#10687 Add cohost icon
  _data/simple-icons.json
  icons/cohost.svg
Labels: new icon

#11032 Add Filament icon
  _data/simple-icons.json
  icons/filament.svg
Labels: new icon

#11013 Add Maze icon
  _data/simple-icons.json
  icons/maze.svg
Labels: new icon, permission required

#11795 Add 1&1 icon
  _data/simple-icons.json
  icons/1and1.svg
Labels: new icon

#12151 Add CCC icon
  _data/simple-icons.json
  icons/ccc.svg
Labels: new icon

#12191 Add Markdown linting and formatting
  .github/ISSUE_TEMPLATE/icon_removal.yml
  .github/actions/get-labels/action.yml
  .github/workflows/remove-labels.yml
  .markdownlint.json
  .prettierignore
  .prettierrc.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DISCLAIMER.md
  LICENSE.md
  README.md
  VERSIONING.md
  lychee.toml
  package.json
Labels: docs, dependencies

#11944 Add Vencord icon
  _data/simple-icons.json
  icons/vencord.svg
Labels: new icon, vector unavailable

#12152 Add UKCA icon
  _data/simple-icons.json
  icons/ukca.svg
Labels: new icon

#11066 Add Honeybadger icon
  _data/simple-icons.json
  icons/honeybadger.svg
Labels: new icon

#12249 Document that icons for standards are allowed
  CONTRIBUTING.md
Labels: docs

#12202 Add AccuWeather icon
  _data/simple-icons.json
  icons/accuweather.svg
Labels: new icon

#11791 Add HTC Vive icon
  _data/simple-icons.json
  icons/htcvive.svg
Labels: new icon

#11872 Add Trimble icon
  _data/simple-icons.json
  icons/trimble.svg
Labels: new icon

#11364 Add more criteria for popularity to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs
