Repository simple-icons/simple-icons, pull requests merged in 2024-02, with the labels that each got.

#10356 Add Kununu Icon
  _data/simple-icons.json
  icons/kununu.svg
Labels: new icon

#10390 Update Gitbook
  _data/simple-icons.json
  icons/gitbook.svg
Labels: update icon/data

#10342 Update Ruff
  _data/simple-icons.json
  icons/ruff.svg
Labels: update icon/data

#8085 Added Cloudron icon
  _data/simple-icons.json
  icons/cloudron.svg
Labels: new icon

#10042 Add google display & video 360
  _data/simple-icons.json
  icons/googledisplayandvideo360.svg
Labels: new icon

#10120 Add Burp Suite
  _data/simple-icons.json
  icons/burpsuite.svg
Labels: new icon

#10233 Add Better Stack
  _data/simple-icons.json
  icons/betterstack.svg
Labels: new icon

#10241 Add Excalidraw
  _data/simple-icons.json
  icons/excalidraw.svg
Labels: new icon

#10247 Add Porkbun
  _data/simple-icons.json
  icons/porkbun.svg
Labels: new icon

#10316 Add Neptune
  _data/simple-icons.json
  icons/neptune.svg
Labels: new icon

#10399 Add Typst Icon
  _data/simple-icons.json
  icons/typst.svg
Labels: new icon

#10383 Add Western Union Icon
  _data/simple-icons.json
  icons/westernunion.svg
Labels: new icon

#10370 Add KNIME
  _data/simple-icons.json
  icons/knime.svg
Labels: new icon

#9596 Add: Qbittorrent
  _data/simple-icons.json
  icons/qbittorrent.svg
Labels: new icon

#10363 Add Gojek Icon
  _data/simple-icons.json
  icons/gojek.svg
Labels: new icon

#10234 Add Braintree
  _data/simple-icons.json
  icons/braintree.svg
Labels: new icon

#10416 Update Grammarly
  _data/simple-icons.json
  icons/grammarly.svg
Labels: update icon/data

#10275 Add Keenetic
  _data/simple-icons.json
  icons/keenetic.svg
Labels: new icon, in discussion

#10313 Nexusmods
  _data/simple-icons.json
  icons/nexusmods.svg
Labels: new icon

#9461 Add Actix icon
  _data/simple-icons.json
  icons/actix.svg
Labels: new icon

#10419 Add icon for Appium
  _data/simple-icons.json
  icons/appium.svg
Labels: new icon

#10393 Add icon for HiveMQ
  _data/simple-icons.json
  icons/hivemq.svg
Labels: new icon

#10319 Add RustDesk
  _data/simple-icons.json
  icons/rustdesk.svg
Labels: new icon

#10327 Add Codefresh
  _data/simple-icons.json
  icons/codefresh.svg
Labels: new icon

#10328 Add Namu Wiki
  _data/simple-icons.json
  icons/namuwiki.svg
Labels: new icon

#10425 Add roll20 logo
  _data/simple-icons.json
  icons/roll20.svg
Labels: new icon

#10424 Update accenture Icon
  icons/accenture.svg
Labels: update icon/data

#10422 Add LintCode Icon
  _data/simple-icons.json
  icons/lintcode.svg
Labels: new icon

#10439 Optimize disclaimer formatting
  .github/workflows/publish.yml
  DISCLAIMER.md
  scripts/release/reformat-markdown.js
  scripts/release/reformat-readme.js
Labels: docs

#10443 Radarr
  _data/simple-icons.json
  icons/radarr.svg
Labels: new icon

#10432 Add zaim icon
  _data/simple-icons.json
  icons/zaim.svg
Labels: new icon

#10435 Add Papers With Code
  _data/simple-icons.json
  icons/paperswithcode.svg
Labels: new icon

#10437 Add Lucid icon
  _data/simple-icons.json
  icons/lucid.svg
Labels: new icon

#10438 Add Netdata icon
  _data/simple-icons.json
  icons/netdata.svg
Labels: new icon

#10444 Sonarr
  _data/simple-icons.json
  icons/sonarr.svg
Labels: new icon

#10433 Add NameMC icon
  _data/simple-icons.json
  icons/namemc.svg
Labels: new icon, vector unavailable

#9994 Add PyCQA
  _data/simple-icons.json
  icons/pycqa.svg
Labels: new icon

#10045 Add Sidekiq
  _data/simple-icons.json
  icons/sidekiq.svg
Labels: new icon

#10061 Add Wikimedia Foundation
  _data/simple-icons.json
  icons/wikimediafoundation.svg
Labels: new icon

#10421 Update airbus logo
  _data/simple-icons.json
  icons/airbus.svg
Labels: update icon/data

#10447 Add Typer Icon
  _data/simple-icons.json
  icons/typer.svg
Labels: new icon

#10455 Add Camunda Icon
  _data/simple-icons.json
  icons/camunda.svg
Labels: new icon

#10434 Add Hevy
  _data/simple-icons.json
  icons/hevy.svg
Labels: new icon

#10129 Add vivo icon
  _data/simple-icons.json
  icons/vivo.svg
Labels: new icon

#7921 Update Next.js icon and data
  _data/simple-icons.json
  icons/nextdotjs.svg
Labels: update icon/data

#10457 Add The Boring Company
  _data/simple-icons.json
  icons/theboringcompany.svg
Labels: new icon

#10460 Add Photon Icon
  _data/simple-icons.json
  icons/photon.svg
Labels: new icon

#10465 Add AnkerMake
  _data/simple-icons.json
  icons/ankermake.svg
Labels: new icon

#9471 Add Apache Freemarker
  _data/simple-icons.json
  icons/apachefreemarker.svg
Labels: new icon

#10309 Add QNAP
  _data/simple-icons.json
  icons/qnap.svg
Labels: new icon

#10470 Add Teal Icon
  _data/simple-icons.json
  icons/teal.svg
Labels: new icon

#10481 Milanote
  _data/simple-icons.json
  icons/milanote.svg
Labels: new icon

#10485 Add Twinkly
  _data/simple-icons.json
  icons/twinkly.svg
Labels: new icon

#10487 Add ALX Icon
  _data/simple-icons.json
  icons/alx.svg
Labels: new icon

#10492 Add Wondershare Filmora Icon
  _data/simple-icons.json
  icons/wondersharefilmora.svg
Labels: new icon

#10469 Add JOUAV icon
  _data/simple-icons.json
  icons/jouav.svg
Labels: new icon

#10499 Add Raycast extension
  README.md
Labels: docs

#10501 Remove Chrome Webstore link from CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs

#10459 Add iRobot
  _data/simple-icons.json
  icons/irobot.svg
Labels: new icon

#10429 Add note about SimilarWeb Login to Icon Request Issue Template
  .github/ISSUE_TEMPLATE/icon_request.yml
  CONTRIBUTING.md
  README.md
Labels: meta

#10505 Add National Rail Icon
  _data/simple-icons.json
  icons/nationalrail.svg
Labels: new icon

#10398 Add GeoPandas
  _data/simple-icons.json
  icons/geopandas.svg
Labels: new icon

#10509 Add Ecovacs
  _data/simple-icons.json
  icons/ecovacs.svg
Labels: new icon, vector unavailable

#10477 Add Bazel icon
  _data/simple-icons.json
  icons/bazel.svg
Labels: new icon

#10516 Use pipe operator in issue templates
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/icon_removal.yml
  .github/ISSUE_TEMPLATE/icon_request.yml
  .github/ISSUE_TEMPLATE/icon_update.yml
  .github/ISSUE_TEMPLATE/package.yml
Labels: meta

#10461 Add Google Gemini
  _data/simple-icons.json
  icons/googlegemini.svg
Labels: new icon

#10519 The Revert PR
  _data/simple-icons.json
Labels: update icon/data, skip release note

#10518 The Update PR
  _data/simple-icons.json
Labels: update icon/data

#10510 Update PopOS Icon
  _data/simple-icons.json
  icons/popos.svg
Labels: update icon/data

#10521 Added Contributor Covenant
  _data/simple-icons.json
  icons/contributorcovenant.svg
Labels: new icon

#10529 Add foobar2000 icon
  _data/simple-icons.json
  icons/foobar2000.svg
Labels: new icon

#10440 Update deprecation notice in versioning policy
  VERSIONING.md
Labels: docs

#10458 Add: Farcaster
  _data/simple-icons.json
  icons/farcaster.svg
Labels: new icon
