Repository simple-icons/simple-icons, pull requests merged in 2024-05, with the labels that each got.

#10859 Update XO configurations
  .xo-config.json
  scripts/add-icon-data.js
  scripts/get-filename.js
  scripts/release/update-sdk-ts-defs.js
Labels: meta

#10881 Use Node.js 22
  .github/workflows/create-release.yml
  .github/workflows/publish.yml
  .github/workflows/verify.yml
  Dockerfile
Labels: meta

#10883 Only run Verify workflow on push against develop and master branches
  .github/workflows/verify.yml
Labels: meta

#10738 Update Immich Icon
  _data/simple-icons.json
  icons/immich.svg
Labels: update icon/data

#10835 Update Lamborghini icon
  _data/simple-icons.json
  icons/lamborghini.svg
Labels: update icon/data, in discussion

#10904 Mention finding the calculated midpoint of a gradient for icon colors
  CONTRIBUTING.md
Labels: docs

#10845 Add Boxy SVG library to third-party extensions section
  README.md
Labels: docs

#10932 Update Tencent QQ icon
  _data/simple-icons.json
  icons/tencentqq.svg
Labels: update icon/data

#10953 Update abbvie.svg
  icons/abbvie.svg
Labels: update icon/data

#8879 Add FreeCAD icon
  _data/simple-icons.json
  icons/freecad.svg
Labels: new icon

#10908 Add Cal.com icon
  _data/simple-icons.json
  icons/caldotcom.svg
Labels: new icon

#10916 Add listmonk icon
  _data/simple-icons.json
  icons/listmonk.svg
Labels: new icon

#10930 Add Infomaniak icon
  _data/simple-icons.json
  icons/infomaniak.svg
Labels: new icon

#10642 Update Issue Template
  .github/ISSUE_TEMPLATE/icon_request.yml
Labels: meta

#10910 Add Traccar icon
  _data/simple-icons.json
  icons/traccar.svg
Labels: new icon

#10901 Add LimeSurvey icon
  _data/simple-icons.json
  icons/limesurvey.svg
Labels: new icon

#10568 Add openmediavault icon
  _data/simple-icons.json
  icons/openmediavault.svg
Labels: new icon

#10900 Add Lemon Squeezy icon
  _data/simple-icons.json
  icons/lemonsqueezy.svg
Labels: new icon

#10873 Add Fizz icon
  _data/simple-icons.json
  icons/fizz.svg
Labels: new icon

#10574 Add Dota 2 icon
  _data/simple-icons.json
  icons/dota2.svg
Labels: new icon

#10721 Add Quizlet icon
  _data/simple-icons.json
  icons/quizlet.svg
Labels: new icon

#10744 Add Tailscale Icon
  _data/simple-icons.json
  icons/tailscale.svg
Labels: new icon

#10707 Add RubyMine icon
  _data/simple-icons.json
  icons/rubymine.svg
Labels: new icon

#10854 Add OpenJS Foundation icon
  _data/simple-icons.json
  icons/openjsfoundation.svg
Labels: new icon

#10906 Add Helcim icon
  _data/simple-icons.json
  icons/helcim.svg
Labels: new icon

#10917 Add MainWP icon
  _data/simple-icons.json
  icons/mainwp.svg
Labels: new icon

#10918 Add Optimism icon
  _data/simple-icons.json
  icons/optimism.svg
Labels: new icon

#10919 Add Buhl icon
  _data/simple-icons.json
  icons/buhl.svg
Labels: new icon

#10946 Add freelancermap icon
  _data/simple-icons.json
  icons/freelancermap.svg
Labels: new icon

#10950 Add Calibre-Web icon
  _data/simple-icons.json
  icons/calibreweb.svg
Labels: new icon

#10960 Add Quarto icon
  _data/simple-icons.json
  icons/quarto.svg
Labels: new icon

#10964 Add Homarr icon
  _data/simple-icons.json
  icons/homarr.svg
Labels: new icon

#10832 Add Twinmotion icon
  _data/simple-icons.json
  icons/twinmotion.svg
Labels: new icon

#10972 Remove category ranking
  CONTRIBUTING.md
Labels: docs

#10513 Rename Airbrake.io as Airbrake
  _data/simple-icons.json
  icons/airbrake.svg
  icons/airbrakedotio.svg
Labels: new icon, breaking change

#10504 Remove Skynet icon
  _data/simple-icons.json
  icons/skynet.svg
Labels: breaking change

#10453 Remove Google Bard
  _data/simple-icons.json
  icons/googlebard.svg
Labels: breaking change

#10391 Amazon AWS to Amazon Web Services
  _data/simple-icons.json
  icons/amazonaws.svg
  icons/amazonwebservices.svg
Labels: update icon/data, breaking change

#10380 Remove Flattr
  _data/simple-icons.json
  icons/flattr.svg
Labels: breaking change

#10152 Remove Integromat
  _data/simple-icons.json
  icons/integromat.svg
Labels: breaking change

#10113 Remove Rome
  _data/simple-icons.json
  icons/rome.svg
Labels: breaking change

#10060 Remove FITE
  _data/simple-icons.json
  icons/fite.svg
Labels: breaking change

#10043 Remove Shotcut
  _data/simple-icons.json
  icons/shotcut.svg
Labels: breaking change

#10006 Remove Nintendo Network
  _data/simple-icons.json
  icons/nintendonetwork.svg
Labels: breaking change

#10977 Updates to README ahead of `v12`.
  README.md
  sdk.mjs
  tests/docs.test.js
Labels: docs

#10978 Update SDK TS defs and improve extensions getter functions
  sdk.d.ts
  sdk.mjs
Labels: meta

#9748 Remove Twitter
  _data/simple-icons.json
  icons/twitter.svg
Labels: breaking change

#10976 Add Kagi icon
  _data/simple-icons.json
  icons/kagi.svg
Labels: new icon

#10967 Add Sartorius icon
  _data/simple-icons.json
  icons/sartorius.svg
Labels: new icon

#10909 Add n8n icon
  _data/simple-icons.json
  icons/n8n.svg
Labels: new icon

#10776 Add FusionAuth icon
  _data/simple-icons.json
  icons/fusionauth.svg
Labels: new icon

#10773 Add UiPath Icon
  _data/simple-icons.json
  icons/uipath.svg
Labels: new icon

#9259 Add Hugging Face
  _data/simple-icons.json
  icons/huggingface.svg
Labels: new icon

#10663 Update FastAPI icon
  _data/simple-icons.json
  icons/fastapi.svg
Labels: update icon/data

#10605 Add Audiobookshelf icon
  _data/simple-icons.json
  icons/audiobookshelf.svg
Labels: new icon

#10317 Add unpkg icon
  _data/simple-icons.json
  icons/unpkg.svg
Labels: new icon

#10212 Add Zigbee2MQTT icon
  _data/simple-icons.json
  icons/zigbee2mqtt.svg
Labels: new icon

#10982 Update Adidas icon
  icons/adidas.svg
Labels: update icon/data

#10575 Add Foundry Virtual Tabletop icon
  _data/simple-icons.json
  icons/foundryvirtualtabletop.svg
Labels: new icon, awaiting reply

#10539 Awwwards
  _data/simple-icons.json
  icons/awwwards.svg
Labels: new icon

#10921 Add React Bootstrap icon
  _data/simple-icons.json
  icons/reactbootstrap.svg
Labels: new icon

#10276 Refactor JSONSchema and URL checks
  .jsonschema.json
  .npmignore
  CONTRIBUTING.md
  scripts/add-icon-data.js
  sdk.d.ts
  sdk.mjs
  svglint.config.mjs
  tests/test-icon.js
Labels: meta, package, breaking change

#10452 Add Homepage icon
  _data/simple-icons.json
  icons/homepage.svg
Labels: new icon

#10987 Add Posit icon
  _data/simple-icons.json
  icons/posit.svg
Labels: new icon

#10999 Rename RStudio to RStudio IDE
  _data/simple-icons.json
  icons/rstudio.svg
  icons/rstudioide.svg
Labels: new icon, breaking change

#11019 Update Redis icon
  _data/simple-icons.json
  icons/redis.svg
Labels: update icon/data

#11024 Add `viewbox=auto` usage to CDN section
  README.md
Labels: docs

#11006 Add Knip icon
  _data/simple-icons.json
  icons/knip.svg
Labels: new icon

#11005 Add Rclone icon
  _data/simple-icons.json
  icons/rclone.svg
Labels: new icon

#11026 Re-add Flutter Package
  README.md
Labels: docs

#10358 Add wgpu
  _data/simple-icons.json
  icons/wgpu.svg
Labels: new icon, awaiting reply

#11043 Add Dictionary.com icon
  _data/simple-icons.json
  icons/dictionarydotcom.svg
Labels: new icon

#11004 Add Babylon.JS icon
  _data/simple-icons.json
  icons/babylondotjs.svg
Labels: new icon

#10871 Add Apache Superset icon
  _data/simple-icons.json
  icons/apachesuperset.svg
Labels: new icon

#11042 Add Apache HBase icon
  _data/simple-icons.json
  icons/apachehbase.svg
Labels: new icon

#11041 Add nvm icon
  _data/simple-icons.json
  icons/nvm.svg
Labels: new icon

#11028 Add LazyVim icon
  _data/simple-icons.json
  icons/lazyvim.svg
Labels: new icon

#11029 Add Dovetail icon
  _data/simple-icons.json
  icons/dovetail.svg
Labels: new icon

#11030 Add Coder icon
  _data/simple-icons.json
  icons/coder.svg
Labels: new icon

#11050 Add Modal
  _data/simple-icons.json
  icons/modal.svg
Labels: new icon

#11051 Add `permissions` to Remove Labels workflow
  .github/workflows/remove-labels.yml
Labels: meta

#11053 Add SVGLint rule to check invalid characters after final closepath
  icons/freecad.svg
  svglint.config.mjs
Labels: meta, skip release note

#11012 Update Acura logo
  icons/acura.svg
Labels: update icon/data
