Repository simple-icons/simple-icons, pull requests merged in 2024-09, with the labels that each got.

#11710 Add mailbox.org icon
  _data/simple-icons.json
  icons/mailboxdotorg.svg
Labels: new icon

#11699 Add BuiltByBit icon
  _data/simple-icons.json
  icons/builtbybit.svg
Labels: new icon

#11694 Add Roboflow icon
  _data/simple-icons.json
  icons/roboflow.svg
Labels: new icon

#11720 Update Create React App icon
  icons/createreactapp.svg
Labels: update icon/data

#11607 Add Red Candle Games icon
  _data/simple-icons.json
  icons/redcandlegames.svg
Labels: new icon

#11316 Add TAROM icon
  _data/simple-icons.json
  icons/tarom.svg
Labels: new icon

#11652 Add Downdetector icon
  _data/simple-icons.json
  icons/downdetector.svg
Labels: new icon

#11219 Add The Guardian icon
  _data/simple-icons.json
  icons/theguardian.svg
Labels: new icon

#11260 Add MediaPipe icon
  _data/simple-icons.json
  icons/mediapipe.svg
Labels: new icon

#11499 Add Contabo icon
  _data/simple-icons.json
  icons/contabo.svg
Labels: new icon

#11199 Add PrimeFaces icon
  _data/simple-icons.json
  icons/primefaces.svg
Labels: new icon

#11158 Add The Weather Channel icon
  _data/simple-icons.json
  icons/theweatherchannel.svg
Labels: new icon

#11188 Add KeeWeb icon
  _data/simple-icons.json
  icons/keeweb.svg
Labels: new icon

#11438 Update Jitsi icon
  _data/simple-icons.json
  icons/jitsi.svg
Labels: update icon/data

#11291 Add CapRover icon
  _data/simple-icons.json
  icons/caprover.svg
Labels: new icon

#11264 Add VRChat icon
  _data/simple-icons.json
  icons/vrchat.svg
Labels: new icon

#11400 Add Guitar Pro icon
  _data/simple-icons.json
  icons/guitarpro.svg
Labels: new icon, permission required

#11332 Add SvgTrace icon
  _data/simple-icons.json
  icons/svgtrace.svg
Labels: new icon

#11437 Add LibreTranslate icon
  _data/simple-icons.json
  icons/libretranslate.svg
Labels: new icon

#11261 Add Apache NiFi icon
  _data/simple-icons.json
  icons/apachenifi.svg
Labels: new icon

#11687 Add Sway icon
  _data/simple-icons.json
  icons/sway.svg
Labels: new icon

#11292 Add LibreTube icon
  _data/simple-icons.json
  icons/libretube.svg
Labels: new icon

#11739 Update Figma extension link
  README.md
Labels: docs

#11730 Add Apache DolphinScheduler
  _data/simple-icons.json
  icons/apachedolphinscheduler.svg
Labels: new icon

#11238 Add PrimeVue icon
  _data/simple-icons.json
  icons/primevue.svg
Labels: new icon

#11452 Add Xubuntu icon
  _data/simple-icons.json
  icons/xubuntu.svg
Labels: new icon

#11255 Add 30 Seconds of Code icon
  _data/simple-icons.json
  icons/30secondsofcode.svg
Labels: new icon

#11759 Update PlayStation brand color
  _data/simple-icons.json
Labels: update icon/data

#11234 Add Nano Stores Icon
  _data/simple-icons.json
  icons/nanostores.svg
Labels: new icon

#11765 Add miHoYo icon
  _data/simple-icons.json
  icons/mihoyo.svg
Labels: new icon

#11769 Fix spellings
  CONTRIBUTING.md
  README.md
Labels: docs

#11763 Add Nexon icon
  _data/simple-icons.json
  icons/nexon.svg
Labels: new icon

#11747 Add Vestel icon
  _data/simple-icons.json
  icons/vestel.svg
Labels: new icon

#11252 Add CodeCrafters icon
  _data/simple-icons.json
  icons/codecrafters.svg
Labels: new icon

#11779 Suppress warnings on TODO comments
  scripts/lint/ourlint.js
  svglint.config.mjs
Labels: meta

#11781 Bump xo@0.59.3
  .xo-config.json
  package.json
  scripts/build/clean.js
  scripts/build/package.js
  sdk.d.ts
Labels: meta

#11671 Add KDE Plasma Icon
  _data/simple-icons.json
  icons/kdeplasma.svg
Labels: new icon

#11785 Avoid raw asset URLs
  _data/simple-icons.json
  scripts/lint/ourlint.js
Labels: meta

#11796 Add O2 icon
  _data/simple-icons.json
  icons/o2.svg
Labels: new icon

#11837 Update Similarweb usage tip
  CONTRIBUTING.md
Labels: docs

#11810 Add Actual Budget icon
  _data/simple-icons.json
  icons/actualbudget.svg
Labels: new icon

#11876 Re-enable pull requests labeling
  .github/workflows/add-labels-priority.yml
Labels: meta

#11877 Move GitHub URLs linting from JSONSchema to our lint
  .jsonschema.json
  _data/simple-icons.json
  scripts/lint/ourlint.js
Labels: meta, skip release note

#11866 Add XML icon
  _data/simple-icons.json
  icons/xml.svg
Labels: new icon

#11862 Add Nebula icon
  _data/simple-icons.json
  icons/nebula.svg
Labels: new icon

#11881 Stricter rules for JSDoc documentation blocks
  .xo-config.json
  package.json
  scripts/add-icon-data.js
  scripts/build/clean.js
  scripts/build/package.js
  scripts/lint/ourlint.js
  scripts/release/reformat-markdown.js
  scripts/release/update-cdn-urls.js
  scripts/release/update-sdk-ts-defs.js
  sdk.mjs
  svglint.config.mjs
  tests/min-reporter.cjs
  tests/test-icon.js
Labels: meta

#11461 Add Ecosia icon
  _data/simple-icons.json
  icons/ecosia.svg
Labels: new icon

#11793 Add Hermes icon
  _data/simple-icons.json
  icons/hermes.svg
Labels: new icon

#11879 Add SPDX license check to ourlint
  .jsonschema.json
  package.json
  scripts/lint/ourlint.js
Labels: meta, dependencies

#11902 Use `Number.parseInt()` for hexadecimal/decimal conversions
  svglint.config.mjs
Labels: meta
