Repository simple-icons/simple-icons, pull requests merged in 2024-08, with the labels that each got.

#11311 Add MinGW-w64 icon
  _data/simple-icons.json
  icons/mingww64.svg
Labels: new icon

#11182 Add Ollama icon
  _data/simple-icons.json
  icons/ollama.svg
Labels: new icon

#11533 Add LanguageTool icon
  _data/simple-icons.json
  icons/languagetool.svg
Labels: new icon

#11602 Add Yii icon
  _data/simple-icons.json
  icons/yii.svg
Labels: new icon

#11599 Add Mastodon brand guidelines link
  _data/simple-icons.json
Labels: update icon/data

#11184 Add HumHub icon
  _data/simple-icons.json
  icons/humhub.svg
Labels: new icon

#11215 Add Baserow icon
  _data/simple-icons.json
  icons/baserow.svg
Labels: new icon

#11202 Add Thanos icon
  _data/simple-icons.json
  icons/thanos.svg
Labels: new icon

#11673 Make contributing guidelines clearer on attribute ordering
  CONTRIBUTING.md
Labels: docs

#11025 Add Fly.io icon
  _data/simple-icons.json
  icons/flydotio.svg
Labels: new icon

#11336 Add lefthook icon
  _data/simple-icons.json
  icons/lefthook.svg
Labels: new icon

#11402 Add Redragon icon
  _data/simple-icons.json
  icons/redragon.svg
Labels: new icon
