Repository simple-icons/simple-icons, pull requests merged in 2024-12, with the labels that each got.

#11860 Add Movistar icon
  _data/simple-icons.json
  icons/movistar.svg
Labels: new icon

#11980 Add Air Serbia icon
  _data/simple-icons.json
  icons/airserbia.svg
Labels: new icon

#11896 Add freenet icon
  _data/simple-icons.json
  icons/freenet.svg
Labels: new icon

#11960 Add LVGL icon
  _data/simple-icons.json
  icons/lvgl.svg
Labels: new icon

#11925 Add Wikiversity icon
  _data/simple-icons.json
  icons/wikiversity.svg
Labels: new icon

#11924 Add Wikibooks icon
  _data/simple-icons.json
  icons/wikibooks.svg
Labels: new icon

#11871 Add Stremio icon
  _data/simple-icons.json
  icons/stremio.svg
Labels: new icon

#11855 Add GMX icon
  _data/simple-icons.json
  icons/gmx.svg
Labels: new icon

#11964 Add Keeper icon
  _data/simple-icons.json
  icons/keeper.svg
Labels: new icon

#11825 Add Mojeek icon
  _data/simple-icons.json
  icons/mojeek.svg
Labels: new icon

#11958 Add Napster icon
  _data/simple-icons.json
  icons/napster.svg
Labels: new icon

#11923 Add AppGallery icon
  _data/simple-icons.json
  icons/appgallery.svg
Labels: new icon

#11961 Add Kueski icon
  _data/simple-icons.json
  icons/kueski.svg
Labels: new icon

#11861 Add ÖBB icon
  _data/simple-icons.json
  icons/obb.svg
Labels: new icon

#11519 Add addy.io icon
  _data/simple-icons.json
  icons/addydotio.svg
Labels: new icon

#11857 Add Kleinanzeigen icon
  _data/simple-icons.json
  icons/kleinanzeigen.svg
Labels: new icon

#11884 Add Linphone icon
  _data/simple-icons.json
  icons/linphone.svg
Labels: new icon

#11868 Add Mullvad icon
  _data/simple-icons.json
  icons/mullvad.svg
Labels: new icon

#12156 Update Spyder IDE icon
  _data/simple-icons.json
  icons/spyderide.svg
Labels: update icon/data

#12250 Optimize markdownlint on CI
  .github/workflows/verify.yml
  .npmrc
  package.json
Labels: meta

#11480 Add WEB.DE icon
  _data/simple-icons.json
  icons/webdotde.svg
Labels: new icon

#12275 Add AntV icon
  _data/simple-icons.json
  icons/antv.svg
Labels: new icon

#12301 Add Socket icon
  _data/simple-icons.json
  icons/socket.svg
Labels: new icon

#12232 Add Surfshark icon
  _data/simple-icons.json
  icons/surfshark.svg
Labels: new icon

#12145 Add Softcatalà icon
  _data/simple-icons.json
  icons/softcatala.svg
Labels: new icon

#11074 Add Omada Cloud icon
  _data/simple-icons.json
  icons/omadacloud.svg
Labels: new icon

#11259 Add Express.com icon
  _data/simple-icons.json
  icons/expressdotcom.svg
Labels: new icon

#11450 Add Jio icon
  _data/simple-icons.json
  icons/jio.svg
Labels: new icon

#11468 Add Telefónica Icon
  _data/simple-icons.json
  icons/telefonica.svg
Labels: new icon

#12327 Update TeamViewer icon
  _data/simple-icons.json
  icons/teamviewer.svg
Labels: update icon/data

#12326 Update colour of Wii U icon
  _data/simple-icons.json
Labels: update icon/data

#11967 Update Stripe
  _data/simple-icons.json
Labels: update icon/data

#11972 Update Ko-fi
  _data/simple-icons.json
  icons/kofi.svg
Labels: update icon/data, abandoned

#12303 Bump xo to 0.60.0
  package.json
  scripts/lint/ourlint.js
Labels: meta, dependencies

#12279 Add OCLC icon
  _data/simple-icons.json
  icons/oclc.svg
Labels: new icon

#12276 Add Caixabank icon
  _data/simple-icons.json
  icons/caixabank.svg
Labels: new icon

#12333 Add Scalar icon
  _data/simple-icons.json
  icons/scalar.svg
Labels: new icon

#11098 Add European Union icon
  _data/simple-icons.json
  icons/europeanunion.svg
Labels: new icon, in discussion

#12349 Add Nextflow icon
  _data/simple-icons.json
  icons/nextflow.svg
Labels: new icon

#12325 Update all Khronos Group icons
  _data/simple-icons.json
  icons/gltf.svg
  icons/khronosgroup.svg
  icons/opengl.svg
  icons/vulkan.svg
  icons/webgl.svg
Labels: update icon/data

#12348 Add Nintendo DS icon
  _data/simple-icons.json
  icons/nintendods.svg
Labels: new icon

#12242 Add TomTom icon
  _data/simple-icons.json
  icons/tomtom.svg
Labels: new icon

#11031 Add Cryptomator icon
  _data/simple-icons.json
  icons/cryptomator.svg
Labels: new icon

#11895 Add Paradox Interactive icon
  _data/simple-icons.json
  icons/paradoxinteractive.svg
Labels: new icon

#11812 Add Collabora Online icon
  _data/simple-icons.json
  icons/collaboraonline.svg
Labels: new icon

#12355 Add script for sending release message to Discord
  .github/workflows/publish.yml
  scripts/release/discord-release-message.js
Labels: meta

#11451 Add Obtainium icon
  _data/simple-icons.json
  icons/obtainium.svg
Labels: new icon

#12164 Remove Studyverse icon
  _data/simple-icons.json
  icons/studyverse.svg
Labels: breaking change

#12201 Remove Realm
  _data/simple-icons.json
  icons/realm.svg
Labels: breaking change

#12237 Remove El Jueves
  _data/simple-icons.json
  icons/eljueves.svg
Labels: breaking change

#12115 Replace smash.gg by start.gg
  _data/simple-icons.json
  icons/smashdotgg.svg
  icons/startdotgg.svg
Labels: new icon, breaking change

#12231 Remove Géant
  _data/simple-icons.json
  icons/geant.svg
Labels: breaking change

#11380 Remove LinkedIn
  _data/simple-icons.json
  icons/linkedin.svg
Labels: breaking change

#11411 Remove Cliqz
  _data/simple-icons.json
  icons/cliqz.svg
Labels: breaking change

#11555 Remove CKEditor 4
  _data/simple-icons.json
  icons/ckeditor4.svg
Labels: breaking change

#11388 Remove Zerply
  _data/simple-icons.json
  icons/zerply.svg
Labels: breaking change

#11693 Remove Stitcher
  _data/simple-icons.json
  icons/stitcher.svg
Labels: breaking change

#11634 Remove FeatHub icon
  _data/simple-icons.json
  icons/feathub.svg
Labels: breaking change

#11912 Rename T-Mobile to Deutsche Telekom
  _data/simple-icons.json
  icons/deutschetelekom.svg
  icons/tmobile.svg
Labels: new icon, breaking change

#12081 Rename Tutanota to Tuta
  _data/simple-icons.json
  icons/tuta.svg
  icons/tutanota.svg
Labels: new icon, breaking change

#12198 Remove Skyrock
  _data/simple-icons.json
  icons/skyrock.svg
Labels: breaking change

#12199 Remove Ello
  _data/simple-icons.json
  icons/ello.svg
Labels: breaking change

#12204 Remove Revue
  _data/simple-icons.json
  icons/revue.svg
Labels: breaking change

#12205 Remove Spinrilla
  _data/simple-icons.json
  icons/spinrilla.svg
Labels: breaking change

#12206 Remove Fluxus
  _data/simple-icons.json
  icons/fluxus.svg
Labels: breaking change

#12207 Remove Microgenetics
  _data/simple-icons.json
  icons/microgenetics.svg
Labels: breaking change

#11843 Remove Oracle
  _data/simple-icons.json
  icons/oracle.svg
Labels: breaking change

#12208 Remove RadioPublic
  _data/simple-icons.json
  icons/radiopublic.svg
Labels: breaking change

#12215 Rename SDK function `getIconDataPath` as `getIconsDataPath`
  scripts/utils.js
  sdk.mjs
Labels: meta, breaking change

#12209 Remove Coil
  _data/simple-icons.json
  icons/coil.svg
Labels: breaking change

#12210 Remove Caffeine
  _data/simple-icons.json
  icons/caffeine.svg
Labels: breaking change

#10018 Remove Adobe Brands
  _data/simple-icons.json
  icons/adobe.svg
  icons/adobeacrobatreader.svg
  icons/adobeaftereffects.svg
  icons/adobeaudition.svg
  icons/adobecreativecloud.svg
  icons/adobedreamweaver.svg
  icons/adobefonts.svg
  icons/adobeillustrator.svg
  icons/adobeindesign.svg
  icons/adobelightroom.svg
  icons/adobelightroomclassic.svg
  icons/adobephotoshop.svg
  icons/adobepremierepro.svg
  icons/adobexd.svg
  icons/magento.svg
Labels: breaking change

#12211 Remove Delicious
  _data/simple-icons.json
  icons/delicious.svg
Labels: breaking change

#12212 Remove Tableau
  _data/simple-icons.json
  icons/tableau.svg
Labels: breaking change

#12230 Remove Marketo
  _data/simple-icons.json
  icons/marketo.svg
Labels: breaking change

#12229 Remove Katacoda
  _data/simple-icons.json
  icons/katacoda.svg
Labels: breaking change

#12218 Rename TencentQQ to QQ
  _data/simple-icons.json
  icons/qq.svg
  icons/tencentqq.svg
Labels: update icon/data, breaking change

#12369 Rename Nuxt
  _data/simple-icons.json
  icons/nuxt.svg
  icons/nuxtdotjs.svg
Labels: update icon/data, breaking change

#12370 Add alias for Private Internet Access
  _data/simple-icons.json
Labels: update icon/data

#11171 Add YouHodler icon
  _data/simple-icons.json
  icons/youhodler.svg
Labels: new icon

#12374 Remove 1&1 Icon
  _data/simple-icons.json
  icons/1and1.svg
Labels: breaking change

#12377 Revert "Remove 1&1 Icon"
  _data/simple-icons.json
  icons/1and1.svg
Labels: skip release note

#12379 Remove Nintendo icons
  _data/simple-icons.json
  icons/gameandwatch.svg
  icons/nintendo.svg
  icons/nintendo3ds.svg
  icons/nintendods.svg
  icons/nintendogamecube.svg
  icons/nintendoswitch.svg
  icons/pokemon.svg
  icons/wii.svg
  icons/wiiu.svg
Labels: breaking change

#12315 Add AFDIAN icon
  _data/simple-icons.json
  icons/afdian.svg
Labels: new icon

#12381 Add script for formatting icon data
  package.json
  scripts/add-icon-data.js
  scripts/build/package.js
  scripts/format-icon-data.js
  scripts/lint/ourlint.js
  scripts/utils.js
Labels: meta

#12401 Remove ASKfm
  _data/simple-icons.json
  icons/askfm.svg
Labels: breaking change

#12394 Skip auto-generated files check on `meta` pull requests
  .github/workflows/verify.yml
Labels: meta

#12380 Use tabs
  .editorconfig
  .github/renovate.json5
  .jsonschema.json
  .markdownlint.json
  .prettierrc.json
  .xo-config.json
  Dockerfile
  _data/simple-icons.json
  composer.json
  jsconfig.json
  lychee.toml
  package.json
  scripts/add-icon-data.js
  scripts/build/clean.js
  scripts/build/package.js
  scripts/build/templates/icon-object.js.template
  scripts/get-filename.js
  scripts/lint/jsonlint.js
  scripts/lint/ourlint.js
  scripts/package.json
  scripts/release/discord-release-message.js
  scripts/release/reformat-markdown.js
  scripts/release/update-cdn-urls.js
  scripts/release/update-sdk-ts-defs.js
  scripts/release/update-slugs-table.js
  scripts/release/update-svgs-count.js
  scripts/utils.js
  sdk.d.ts
  sdk.mjs
  svglint.config.mjs
  svgo.config.mjs
  tests/docs.test.js
  tests/index.test.js
  tests/min-reporter.cjs
  tests/package.json
  tests/test-icon.js
  types.d.ts
Labels: meta

#12405 Generate provenance statements when publishing
  .github/workflows/publish.yml
Labels: meta

#12415 Drop `icons` property from icons data file
  .jsonschema.json
  _data/simple-icons.json
  scripts/add-icon-data.js
  scripts/format-icon-data.js
  scripts/lint/jsonlint.js
  scripts/lint/ourlint.js
  scripts/release/minify-icons-data.js
  scripts/utils.js
  sdk.mjs
Labels: meta, breaking change

#12424 Fix version output from `get-version` action
  .github/actions/get-version/action.yml
Labels: meta

#12427 Remove trailing slash from websites
  LICENSE.md
  README.md
Labels: docs

#12425 Add `remove-icon` script
  package.json
  scripts/remove-icon.js
Labels: meta

#12433 Expose `_data/simple-icons.json` as `simple-icons/icons.json`
  package.json
Labels: package

#12431 Use `getIconsData()`
  scripts/format-icon-data.js
Labels: meta

#12285 Update Bitwarden icon
  _data/simple-icons.json
  icons/bitwarden.svg
Labels: update icon/data

#11922 Update dm icon
  _data/simple-icons.json
  icons/dm.svg
Labels: update icon/data

#12462 Update JetBrains icon
  icons/jetbrains.svg
Labels: update icon/data

#12464 Add nf-core icon
  _data/simple-icons.json
  icons/nfcore.svg
Labels: new icon

#12451 Add SVGEdit to recommended editors
  CONTRIBUTING.md
Labels: docs

#12453 Add Common Lisp icon
  _data/simple-icons.json
  icons/commonlisp.svg
Labels: new icon
