Repository simple-icons/simple-icons, pull requests merged in 2024-07, with the labels that each got.

#10565 Add UnJS icon
  _data/simple-icons.json
  icons/unjs.svg
Labels: new icon

#11375 Add PlayStation Portable icon
  _data/simple-icons.json
  icons/playstationportable.svg
Labels: new icon

#11376 Add WebGPU icon
  _data/simple-icons.json
  icons/webgpu.svg
Labels: new icon, permission required

#11436 Add Astro to the third party libraries
  README.md
Labels: docs

#11386 Add Outline icon
  _data/simple-icons.json
  icons/outline.svg
Labels: new icon

#11297 Add glTF icon
  _data/simple-icons.json
  icons/gltf.svg
Labels: new icon

#11401 Add Literal icon
  _data/simple-icons.json
  icons/literal.svg
Labels: new icon

#11408 Add Lobsters icon
  _data/simple-icons.json
  icons/lobsters.svg
Labels: new icon

#11491 Update Linux Mint icon
  _data/simple-icons.json
  icons/linuxmint.svg
Labels: update icon/data

#11165 Add ZeroTier icon
  _data/simple-icons.json
  icons/zerotier.svg
Labels: new icon

#11537 Fix icons count not updated on README when decreased
  scripts/release/update-svgs-count.js
Labels: meta
