Repository simple-icons/simple-icons, pull requests merged in 2025-06, with the labels that each got.

#13358 Update Shields.io icon
  data/simple-icons.json
  icons/shieldsdotio.svg
Labels: update icon/data

#12835 Add TUXEDO Computers icon
  data/simple-icons.json
  icons/tuxedocomputers.svg
Labels: new icon

#13404 Rewrite SVGLint config functions memoization
  package-lock.json
  package.json
  svglint.config.mjs
Labels: meta

#13410 Mention GitHub Sponsor funding method
  .github/FUNDING.yml
Labels: meta

#11225 Add Invidious icon
  data/simple-icons.json
  icons/invidious.svg
Labels: new icon

#13437 Add duplicate of iLovePDF (iLoveIMG and iLoveAPI)
  data/simple-icons.json
Labels: update icon/data

#13411 Add RevenueCat
  data/simple-icons.json
  icons/revenuecat.svg
Labels: new icon

#13421 Add discord.js icon
  data/simple-icons.json
  icons/discorddotjs.svg
Labels: new icon, vector unavailable

#13402 Add NodeBB
  data/simple-icons.json
  icons/nodebb.svg
Labels: new icon

#12141 Add FRITZ! icon
  data/simple-icons.json
  icons/fritz.svg
Labels: new icon

#13397 Add MacPorts
  data/simple-icons.json
  icons/macports.svg
Labels: new icon

#13429 Add license to OpenJDK Duke icon
  data/simple-icons.json
Labels: update icon/data

#11824 Add Paysafe icon
  data/simple-icons.json
  icons/paysafe.svg
Labels: new icon

#13089 Add Ada language icon
  data/simple-icons.json
  icons/ada.svg
Labels: new icon, permission granted

#12190 Add nextbike icon
  data/simple-icons.json
  icons/nextbike.svg
Labels: new icon

#13482 Remove redundant ESLint plugin
  package-lock.json
  package.json
  xo.config.mjs
Labels: meta

#13480 Add bunny.net icon
  data/simple-icons.json
  icons/bunnydotnet.svg
Labels: new icon, permission granted

#13444 Add Activeloop
  data/simple-icons.json
  icons/activeloop.svg
Labels: new icon, permission granted

#13493 Add types to XO and autoclose app configs
  scripts/autoclose-issues/autoclose.app.js
  scripts/autoclose-issues/autoclose.rules.js
  xo.config.mjs
Labels: meta

#13495 Update Launchpad icon
  data/simple-icons.json
  icons/launchpad.svg
Labels: update icon/data, permission not needed

#13233 Add Kenmei
  data/simple-icons.json
  icons/kenmei.svg
Labels: new icon, permission granted

#13095 Add Booking.com icon
  data/simple-icons.json
  icons/bookingdotcom.svg
Labels: new icon, permission not needed

#12764 Add Mistral AI icon
  data/simple-icons.json
  icons/mistralai.svg
Labels: new icon, permission not needed

#13513 Fix linting after build
  sdk.d.ts
  tests/index.test.js
Labels: meta

#13514 Upgrade SVGO to v4
  package-lock.json
  package.json
  svgo.config.mjs
Labels: dependencies

#13524 Update Flask icon
  data/simple-icons.json
  icons/flask.svg
Labels: update icon/data

#11813 Add Dolphin Emulator icon
  data/simple-icons.json
  icons/dolphin.svg
Labels: new icon

#13526 Update Polars hex
  data/simple-icons.json
Labels: update icon/data

#13528 Update link to Python wheel badge
  README.md
Labels: docs

#13473 Add GPLv3 icon
  data/simple-icons.json
  icons/gplv3.svg
Labels: new icon, permission not needed

#13543 Add Rust crate to third party libraries
  README.md
Labels: docs

#13530 Deprecate `simple-icons/icons` entrypoint
  .dockerignore
  .gitignore
  .npmignore
  package.json
  scripts/build/clean.js
  scripts/build/package.js
Labels: package

#13133 Add Vikunja icon
  data/simple-icons.json
  icons/vikunja.svg
Labels: new icon, permission not needed

#13556 Relax reqiurements on ages of projects
  CONTRIBUTING.md
Labels: docs

#13561 Exchange positions of tests and icons badges
  README.md
Labels: docs

#13554 Add permissions to workflows executed by users
  .github/workflows/add-labels-priority.yml
  .github/workflows/autoclose-issues.yml
  .github/workflows/verify.yml
Labels: meta

#11851 Add PAYBACK icon
  data/simple-icons.json
  icons/payback.svg
Labels: new icon

#13519 Add Cardmarket icon
  data/simple-icons.json
  icons/cardmarket.svg
Labels: new icon, permission granted

#13567 Use node to extract SVGLint command
  .husky/pre-commit
Labels: meta
