Repository simple-icons/simple-icons, pull requests merged in 2025-08, with the labels that each got.

#13677 Add slug to data JSON distribution file
  data/simple-icons.d.ts
  scripts/add-icon-data.js
  scripts/release/minify-icons-data.js
Labels: meta

#13678 Fix prepare script for Windows
  package.json
Labels: meta

#13667 Add Zola icon
  data/simple-icons.json
  icons/zola.svg
Labels: new icon

#13694 Add Immersive Translate icon
  data/simple-icons.json
  icons/immersivetranslate.svg
Labels: new icon

#13695 Fix `slug` field in `add-icon-data` script
  scripts/add-icon-data.js
Labels: meta

#13709 Add LocalSend icon
  data/simple-icons.json
  icons/localsend.svg
Labels: new icon, vector unavailable

#13701 Add Oxc icon
  data/simple-icons.json
  icons/oxc.svg
Labels: new icon

#13716 Add DeepMind icon
  data/simple-icons.json
  icons/deepmind.svg
Labels: new icon

#13718 Add WeRead icon
  data/simple-icons.json
  icons/weread.svg
Labels: new icon

#13708 Add FreshRSS icon
  data/simple-icons.json
  icons/freshrss.svg
Labels: new icon, permission granted

#13730 Update source and guidelines URLs
  data/simple-icons.json
Labels: update icon/data

#13659 Add Suitest icon
  data/simple-icons.json
  icons/suitest.svg
Labels: new icon, permission granted

#13684 Update third-party Rust crate
  README.md
Labels: docs

#13693 Add Visual Paradigm icon
  data/simple-icons.json
  icons/visualparadigm.svg
Labels: new icon, permission granted
