Repository simple-icons/simple-icons, pull requests merged in 2025-05, with the labels that each got.

#13052 Add Mihon icon
  _data/simple-icons.json
  icons/mihon.svg
Labels: new icon

#13172 Add Kando icon theme to third-party extensions
  README.md
Labels: docs

#11864 Add OpenCritic icon
  _data/simple-icons.json
  icons/opencritic.svg
Labels: new icon

#11996 Add Netim icon
  _data/simple-icons.json
  icons/netim.svg
Labels: new icon

#11848 Add Radio France icon
  _data/simple-icons.json
  icons/radiofrance.svg
Labels: new icon

#12118 Add Max (streaming service) icon
  _data/simple-icons.json
  icons/max_streaming.svg
Labels: new icon

#11237 Add GSMA icon
  _data/simple-icons.json
  icons/gsma.svg
Labels: new icon

#11334 Add FreeTube icon
  _data/simple-icons.json
  icons/freetube.svg
Labels: new icon

#11893 Add Google TV icon
  _data/simple-icons.json
  icons/googletv.svg
Labels: new icon

#12102 Add Backstage Casting icon
  _data/simple-icons.json
  icons/backstage_casting.svg
Labels: new icon

#11822 Add KDE neon icon
  _data/simple-icons.json
  icons/kdeneon.svg
Labels: new icon

#12412 Add PreMiD icon
  _data/simple-icons.json
  icons/premid.svg
Labels: new icon

#13021 Update ActiGraph icon
  _data/simple-icons.json
  icons/actigraph.svg
Labels: update icon/data

#13053 Update MyAnimeList Data
  _data/simple-icons.json
Labels: update icon/data

#13073 Update Authelia Data
  _data/simple-icons.json
Labels: update icon/data

#13084 Update: Crunchyroll
  _data/simple-icons.json
  icons/crunchyroll.svg
Labels: update icon/data

#13145 Update GIMP icon
  _data/simple-icons.json
  icons/gimp.svg
Labels: update icon/data

#13147 Update Rocket.Chat guidelines
  _data/simple-icons.json
Labels: update icon/data

#13149 Update KDE guidelines
  _data/simple-icons.json
Labels: update icon/data

#13260 Fix casing of TIDAL
  _data/simple-icons.json
  icons/tidal.svg
Labels: update icon/data

#13258 Add NotebookLM icon
  _data/simple-icons.json
  icons/notebooklm.svg
Labels: new icon

#13270 Fix fields-sort lint
  _data/simple-icons.json
  scripts/utils.js
Labels: meta

#13196 Add Brandfetch
  _data/simple-icons.json
  icons/brandfetch.svg
Labels: new icon

#13201 Add JDoodle
  _data/simple-icons.json
  icons/jdoodle.svg
Labels: new icon

#11963 Add Swisscows icon
  _data/simple-icons.json
  icons/swisscows.svg
Labels: new icon

#13141 Add Windsurf
  _data/simple-icons.json
  icons/windsurf.svg
Labels: new icon

#13275 Update Have I Been Pwned
  _data/simple-icons.json
  icons/haveibeenpwned.svg
Labels: update icon/data

#12671 Add DMM icon
  _data/simple-icons.json
  icons/dmm.svg
Labels: new icon, awaiting reply

#13134 Add Formbricks icon
  _data/simple-icons.json
  icons/formbricks.svg
Labels: new icon

#13269 Use package lock file
  .gitattributes
  .github/workflows/create-release.yml
  .github/workflows/publish.yml
  .github/workflows/verify.yml
  .npmrc
  Dockerfile
  package-lock.json
  package.json
Labels: meta

#12286 Add UserVoice icon
  _data/simple-icons.json
  icons/uservoice.svg
Labels: new icon

#13301 Add Java third-party library
  README.md
Labels: docs

#12779 Remove Google Data Studio icon and associated data
  _data/simple-icons.json
  icons/googledatastudio.svg
Labels: breaking change

#12780 Remove GoldenLine icon and associated data
  _data/simple-icons.json
  icons/goldenline.svg
Labels: breaking change

#13055 Remove ABB RobotStudio icon & add ABB icon
  _data/simple-icons.json
  icons/abb.svg
  icons/abbrobotstudio.svg
Labels: update icon/data, breaking change

#12800 Rename Empire Kred to Kred
  _data/simple-icons.json
  icons/empirekred.svg
  icons/kred.svg
Labels: new icon, breaking change

#13259 Remove Pointy
  _data/simple-icons.json
  icons/pointy.svg
Labels: breaking change

#13308 Rename SonarLint as SonarQube for IDE
  _data/simple-icons.json
  icons/sonarlint.svg
  icons/sonarqubeforide.svg
Labels: update icon/data, breaking change

#10863 Use `import.meta.dirname` & `import.meta.filename`
  .xo-config.json
  scripts/add-icon-data.js
  scripts/build/clean.js
  scripts/build/package.js
  scripts/release/reformat-markdown.js
  scripts/release/update-cdn-urls.js
  scripts/release/update-sdk-ts-defs.js
  scripts/release/update-slugs-table.js
  scripts/release/update-svgs-count.js
  scripts/remove-icon.js
  scripts/utils.js
  sdk.d.ts
  sdk.mjs
  svglint.config.mjs
  tests/test-icon.js
Labels: meta, breaking change

#13314 Remove Bugsnag
  _data/simple-icons.json
  icons/bugsnag.svg
Labels: breaking change

#13312 Rename SonarCloud as SonarQube Cloud
  _data/simple-icons.json
  icons/sonarcloud.svg
  icons/sonarqubecloud.svg
Labels: update icon/data, breaking change

#12557 Add Telenor icon
  _data/simple-icons.json
  icons/telenor.svg
Labels: new icon

#12553 Add Nederlandse Spoorwegen icon
  _data/simple-icons.json
  icons/nederlandsespoorwegen.svg
Labels: new icon

#12836 Add Tresorit icon
  _data/simple-icons.json
  icons/tresorit.svg
Labels: new icon

#13015 Bump to xo@1.0.0
  .xo-config.json
  package-lock.json
  package.json
  scripts/add-icon-data.js
  scripts/build/package.js
  scripts/release/reformat-markdown.js
  scripts/release/update-sdk-ts-defs.js
  scripts/utils.js
  sdk.d.ts
  svglint.config.mjs
  xo.config.mjs
Labels: meta

#13317 Remove Grubhub
  _data/simple-icons.json
  icons/grubhub.svg
Labels: breaking change

#12918 Remove Plus Codes
  _data/simple-icons.json
  icons/pluscodes.svg
Labels: breaking change

#13207 Add CodeRabbit
  _data/simple-icons.json
  icons/coderabbit.svg
Labels: new icon

#13177 Update: myob
  _data/simple-icons.json
  icons/myob.svg
Labels: update icon/data

#13252 Add Google Summer of Code
  _data/simple-icons.json
  icons/googlesummerofcode.svg
Labels: new icon

#13323 Add Distrobox
  _data/simple-icons.json
  icons/distrobox.svg
Labels: new icon

#13159 Add Twenty CRM icon
  _data/simple-icons.json
  icons/twenty.svg
Labels: new icon

#12996 Add Floorp icon
  _data/simple-icons.json
  icons/floorp.svg
Labels: new icon

#13290 Add OneStream
  _data/simple-icons.json
  icons/onestream.svg
Labels: new icon

#13291 Add cobalt
  _data/simple-icons.json
  icons/cobalt.svg
Labels: new icon

#13232 Add Axis Bank
  _data/simple-icons.json
  icons/axisbank.svg
Labels: new icon

#13225 Add ISRO
  _data/simple-icons.json
  icons/isro.svg
Labels: new icon

#13223 Add AList
  _data/simple-icons.json
  icons/alist.svg
Labels: new icon

#13306 Add KOReader
  _data/simple-icons.json
  icons/koreader.svg
Labels: new icon

#12905 Add voelkner icon
  _data/simple-icons.json
  icons/voelkner.svg
Labels: new icon

#13352 Update Netflix icon
  _data/simple-icons.json
  icons/netflix.svg
Labels: update icon/data

#13148 Add Brave guidelines
  _data/simple-icons.json
Labels: update icon/data, permission required

#13316 Rename `_data` folder to `data`
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .npmignore
  .prettierignore
  CONTRIBUTING.md
  README.md
  data/simple-icons.json
  package.json
  scripts/format-icon-data.js
  scripts/release/minify-icons-data.js
  scripts/utils.js
  sdk.d.ts
  sdk.mjs
Labels: meta, breaking change

#11854 Add Seafile icon
  data/simple-icons.json
  icons/seafile.svg
Labels: new icon

#13144 Add Quad9 icon
  data/simple-icons.json
  icons/quad9.svg
Labels: new icon

#13199 Add AB Download Manager
  data/simple-icons.json
  icons/abdownloadmanager.svg
Labels: new icon

#13234 Add MangaUpdates
  data/simple-icons.json
  icons/mangaupdates.svg
Labels: new icon
