Repository simple-icons/simple-icons, pull requests merged in 2025-07, with the labels that each got.

#13579 Expand Forbidden Brands
  CONTRIBUTING.md
Labels: docs

#13443 Add Folo icon
  data/simple-icons.json
  icons/folo.svg
Labels: new icon, permission granted

#13586 Add Model Context Protocol icon
  data/simple-icons.json
  icons/modelcontextprotocol.svg
Labels: new icon, permission not needed

#13565 Use Docker image to build devcontainer
  .devcontainer/devcontainer.json
  Dockerfile
Labels: meta

#13640 Update Kdenlive source URL
  data/simple-icons.json
Labels: update icon/data

#13651 Add AvaloniaUI icon
  data/simple-icons.json
  icons/avaloniaui.svg
Labels: new icon

#13611 Add GSAP icon
  data/simple-icons.json
  icons/gsap.svg
Labels: new icon
