Repository simple-icons/simple-icons, pull requests merged in 2025-02, with the labels that each got.

#12681 Don't verify executables inside `icons` and `_data`
  .github/workflows/verify.yml
Labels: meta

#12680 Fix bug on CI
  .github/workflows/verify.yml
Labels: meta

#12568 Add Velocity icon
  _data/simple-icons.json
  icons/velocity.svg
Labels: new icon

#12154 Add Open3D icon
  _data/simple-icons.json
  icons/open3d.svg
Labels: new icon

#12689 Sort fields when formatting package.json with Prettier
  .prettierrc.json
  package.json
Labels: meta, dependencies

#12695 Add .nvmrc and .node-version files
  .github/workflows/create-release.yml
  .github/workflows/publish.yml
  .github/workflows/renovate.yml
  .github/workflows/verify.yml
  .node-version
  .nvmrc
Labels: meta

#12709 Add CNES icon
  _data/simple-icons.json
  icons/cnes.svg
Labels: new icon

#12724 Update Hugging Face icon
  icons/huggingface.svg
Labels: update icon/data

#12734 Patch potential security issues on CI
  .github/workflows/publish.yml
  .github/workflows/verify.yml
Labels: meta

#12736 Add xyflow icon
  _data/simple-icons.json
  icons/xyflow.svg
Labels: new icon

#12740 Fix URL checker in ourlint
  scripts/lint/ourlint.js
Labels: meta

#12735 Update pixiv icon
  icons/pixiv.svg
Labels: update icon/data

#11815 Add Kiwix icon
  _data/simple-icons.json
  icons/kiwix.svg
Labels: new icon

#12772 Add SageMath icon
  _data/simple-icons.json
  icons/sagemath.svg
Labels: new icon

#12795 Sort icon data object keys
  _data/simple-icons.json
  scripts/format-icon-data.js
  scripts/lint/ourlint.js
  scripts/utils.js
  sdk.d.ts
Labels: meta

#12789 Update IATA title
  _data/simple-icons.json
  icons/iata.svg
Labels: update icon/data

#12802 Add `old` alias to documentation
  CONTRIBUTING.md
Labels: docs

#12282 Add Vinted icon
  _data/simple-icons.json
  icons/vinted.svg
Labels: new icon

#12826 Update EasyEDA icon
  _data/simple-icons.json
  icons/easyeda.svg
Labels: update icon/data
