Repository simple-icons/simple-icons, pull requests merged in 2025-01, with the labels that each got.

#12491 Add v0 icon
  _data/simple-icons.json
  icons/v0.svg
Labels: new icon

#12500 Use `getIconSlug()` to keep consistent
  scripts/lint/ourlint.js
  scripts/utils.js
Labels: meta

#12497 Add Angular lib
  README.md
Labels: docs

#12528 Add WXT icon
  _data/simple-icons.json
  icons/wxt.svg
Labels: new icon

#12455 Add Gradio icon
  _data/simple-icons.json
  icons/gradio.svg
Labels: new icon

#12465 Add Fyle icon
  _data/simple-icons.json
  icons/fyle.svg
Labels: new icon

#12556 Update NEXON icon
  _data/simple-icons.json
  icons/nexon.svg
Labels: update icon/data

#11939 Add BetterDiscord icon
  _data/simple-icons.json
  icons/betterdiscord.svg
Labels: new icon

#11478 Add Rook icon
  _data/simple-icons.json
  icons/rook.svg
Labels: new icon

#12432 Update Perl icon
  _data/simple-icons.json
  icons/perl.svg
Labels: update icon/data

#12572 Update testing required version
  CONTRIBUTING.md
Labels: docs

#12330 Add Ultralytics icon
  _data/simple-icons.json
  icons/ultralytics.svg
Labels: new icon

#12452 Add LangGraph icon
  _data/simple-icons.json
  icons/langgraph.svg
Labels: new icon

#12586 Update MikroTik title
  _data/simple-icons.json
  icons/mikrotik.svg
Labels: update icon/data

#12587 Add Dev Container configurations
  .devcontainer/devcontainer.json
Labels: meta

#12456 Add CrewAI icon
  _data/simple-icons.json
  icons/crewai.svg
Labels: new icon

#12589 Add Dev Container instruction
  CONTRIBUTING.md
Labels: docs

#12585 Add Langflow icon
  _data/simple-icons.json
  icons/langflow.svg
Labels: new icon

#12457 Add YOLO icon
  _data/simple-icons.json
  icons/yolo.svg
Labels: new icon

#12584 Update Renovate icon
  _data/simple-icons.json
  icons/renovate.svg
Labels: update icon/data

#12597 Add LottieFiles icon
  _data/simple-icons.json
  icons/lottiefiles.svg
Labels: new icon

#12647 Update preview generator link on pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: meta

#12649 Update version upgrade trigger to new website
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/publish.yml
Labels: meta

#11823 Add Filen icon
  _data/simple-icons.json
  icons/filen.svg
Labels: new icon

#12667 Add Devbox icon
  _data/simple-icons.json
  icons/devbox.svg
Labels: new icon

#12666 Remove the word "Free" from project description in README
  README.md
  scripts/release/update-svgs-count.js
Labels: docs

#12665 Simplify badges of third party libraries table
  README.md
Labels: docs

#12668 Add GL.iNet Icon
  _data/simple-icons.json
  icons/gldotinet.svg
Labels: new icon
